@(socialactivityachievements: List[models.socialactivityachievement.Socialactivityachievement])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivityachievement in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivityachievementApplication.addSocialactivityachievement">Create New Socialactivityachievement</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(socialactivityachievement <- socialactivityachievements) {
				<li>
					<div>
						<div>ID: <a href="@routes.SocialactivityachievementApplication.get(socialactivityachievement.activityAchievementId)">@socialactivityachievement.activityAchievementId</a></div>
						<div>GroupId: @socialactivityachievement.groupId</div>
						<div>CompanyId: @socialactivityachievement.companyId</div>
						<div>UserId: @socialactivityachievement.userId</div>
						<div>CreateDate: @socialactivityachievement.createDate</div>
						<div>Name: @socialactivityachievement.name</div>
						<div>FirstInGroup: @socialactivityachievement.firstInGroup</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
