@(socialactivityachievementFormData: Form[controllers.socialactivityachievement.SocialactivityachievementFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.SocialactivityachievementApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(socialactivityachievementFormData("activityAchievementId").value != "0") {
				<h1>Edition of Socialactivityachievement #@socialactivityachievementFormData("activityAchievementId").value</h1>
				} else {
				<h1>Creation of a Socialactivityachievement</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(socialactivityachievementFormData("activityAchievementId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.SocialactivityachievementApplication.all()">Back to Socialactivityachievements</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="activityAchievementId" name="activityAchievementId" value='@socialactivityachievementFormData("activityAchievementId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(socialactivityachievementFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(socialactivityachievementFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(socialactivityachievementFormData("userId"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(socialactivityachievementFormData("createDate"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(socialactivityachievementFormData("name"))
				</div>
				<!-- FirstInGroup -->
				<div class="form-group">
				@helper.checkbox(socialactivityachievementFormData("firstInGroup"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
