@(socialactivityachievements: List[models.socialactivityachievement.Socialactivityachievement])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivityachievement in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivityachievementApplication.addSocialactivityachievement">Create New Socialactivityachievement</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialactivityachievement.
			</p>
		</div>
		<div class="container">
			@for(socialactivityachievement <- socialactivityachievements) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.SocialactivityachievementApplication.get(socialactivityachievement.activityAchievementId)">@socialactivityachievement.activityAchievementId</a>
					</div>
					<li class="btn btn-default disabled">
						GroupId: @socialactivityachievement.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialactivityachievement.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @socialactivityachievement.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @socialactivityachievement.createDate
					</li>
					<li class="btn btn-default disabled">
						Name: @socialactivityachievement.name
					</li>
					<li class="btn btn-default disabled">
						FirstInGroup: @socialactivityachievement.firstInGroup
					</li>
				</ul>
			}
		</div>
	</div>
}
