@(emailaddresss: List[models.emailaddress.Emailaddress])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Emailaddress in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.EmailaddressApplication.addEmailaddress">Create New Emailaddress</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Emailaddress.
			</p>
		</div>
		<div class="container">
			@for(emailaddress <- emailaddresss) {
			<div class="row">
				<a class="btn btn-info" href="@routes.EmailaddressApplication.get(emailaddress.emailAddressId)">@emailaddress.emailAddressId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @emailaddress.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @emailaddress.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @emailaddress.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @emailaddress.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @emailaddress.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @emailaddress.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @emailaddress.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @emailaddress.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @emailaddress.classPK
					</li>
					<li class="btn btn-default disabled">
						Address: @emailaddress.address
					</li>
					<li class="btn btn-default disabled">
						TypeId: @emailaddress.typeId
					</li>
					<li class="btn btn-default disabled">
						Customprimary: @emailaddress.customprimary
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
