@(portlets: List[models.portlet.Portlet])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portlet in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortletApplication.addPortlet">Create New Portlet</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(portlet <- portlets) {
				<li>
					<div>
						<div>ID: <a href="@routes.PortletApplication.get(portlet.id)">@portlet.id</a></div>
						<div>MvccVersion: @portlet.mvccVersion</div>
						<div>CompanyId: @portlet.companyId</div>
						<div>PortletId: @portlet.portletId</div>
						<div>Roles: @portlet.roles</div>
						<div>Active: @portlet.active</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
