@(portletFormData: Form[controllers.portlet.PortletFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.PortletApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(portletFormData("id") != "0") {
				<h1>Edition of Portlet #@portletFormData("id").value</h1>
				} else {
				<h1>Creation of a Portlet</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.PortletApplication.all()">Back to Portlets</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="id" name="id" value='@portletFormData("id").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(portletFormData("mvccVersion"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(portletFormData("companyId"))
				</div>
				<!-- PortletId -->
				<div class="form-group">
				@helper.inputText(portletFormData("portletId"))
				</div>
				<!-- Roles -->
				<div class="form-group">
				@helper.inputText(portletFormData("roles"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(portletFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
