@(portlets: List[models.portlet.Portlet])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portlet in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortletApplication.addPortlet">Create New Portlet</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Portlet.
			</p>
		</div>
		<div class="container">
			@for(portlet <- portlets) {
			<div class="row">
				<a class="btn btn-info" href="@routes.PortletApplication.get(portlet.id)">@portlet.id</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @portlet.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @portlet.companyId
					</li>
					<li class="btn btn-default disabled">
						PortletId: @portlet.portletId
					</li>
					<li class="btn btn-default disabled">
						Roles: @portlet.roles
					</li>
					<li class="btn btn-default disabled">
						Active: @portlet.active
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
