@(mbthreadflags: List[models.mbthreadflag.Mbthreadflag])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbthreadflag in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbthreadflagApplication.addMbthreadflag">Create New Mbthreadflag</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mbthreadflag.
			</p>
		</div>
		<div class="container">
			@for(mbthreadflag <- mbthreadflags) {
			<div class="row">
				<a class="btn btn-info" href="@routes.MbthreadflagApplication.get(mbthreadflag.threadFlagId)">@mbthreadflag.threadFlagId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @mbthreadflag.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbthreadflag.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mbthreadflag.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbthreadflag.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mbthreadflag.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mbthreadflag.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mbthreadflag.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ThreadId: @mbthreadflag.threadId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
