@(mbthreadflags: List[models.mbthreadflag.Mbthreadflag])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbthreadflag in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbthreadflagApplication.addMbthreadflag">Create New Mbthreadflag</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(mbthreadflag <- mbthreadflags) {
				<li>
					<div>
						<div>ID: <a href="@routes.MbthreadflagApplication.get(mbthreadflag.threadFlagId)">@mbthreadflag.threadFlagId</a></div>
						<div>Uuid: @mbthreadflag.uuid</div>
						<div>GroupId: @mbthreadflag.groupId</div>
						<div>CompanyId: @mbthreadflag.companyId</div>
						<div>UserId: @mbthreadflag.userId</div>
						<div>UserName: @mbthreadflag.userName</div>
						<div>CreateDate: @mbthreadflag.createDate</div>
						<div>ModifiedDate: @mbthreadflag.modifiedDate</div>
						<div>ThreadId: @mbthreadflag.threadId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
