@(shoppingcoupons: List[models.shoppingcoupon.Shoppingcoupon])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingcoupon in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingcouponApplication.addShoppingcoupon">Create New Shoppingcoupon</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Shoppingcoupon.
			</p>
		</div>
		<div class="container">
			@for(shoppingcoupon <- shoppingcoupons) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ShoppingcouponApplication.get(shoppingcoupon.couponId)">@shoppingcoupon.couponId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @shoppingcoupon.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @shoppingcoupon.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @shoppingcoupon.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @shoppingcoupon.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @shoppingcoupon.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @shoppingcoupon.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Code: @shoppingcoupon.code
					</li>
					<li class="btn btn-default disabled">
						Name: @shoppingcoupon.name
					</li>
					<li class="btn btn-default disabled">
						Description: @shoppingcoupon.description
					</li>
					<li class="btn btn-default disabled">
						StartDate: @shoppingcoupon.startDate
					</li>
					<li class="btn btn-default disabled">
						EndDate: @shoppingcoupon.endDate
					</li>
					<li class="btn btn-default disabled">
						Active: @shoppingcoupon.active
					</li>
					<li class="btn btn-default disabled">
						LimitCategories: @shoppingcoupon.limitCategories
					</li>
					<li class="btn btn-default disabled">
						LimitSkus: @shoppingcoupon.limitSkus
					</li>
					<li class="btn btn-default disabled">
						MinOrder: @shoppingcoupon.minOrder
					</li>
					<li class="btn btn-default disabled">
						Discount: @shoppingcoupon.discount
					</li>
					<li class="btn btn-default disabled">
						DiscountType: @shoppingcoupon.discountType
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
