@(shoppingcouponFormData: Form[controllers.shoppingcoupon.ShoppingcouponFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Shoppingcoupon #@shoppingcouponFormData("couponId").value</legend>

		@form(routes.ShoppingcouponApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(shoppingcouponFormData("couponId"), 'readonly -> "readonly")

			<!-- GroupId -->
			@helper.inputText(shoppingcouponFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(shoppingcouponFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(shoppingcouponFormData("userId"))
			<!-- UserName -->
			@helper.inputText(shoppingcouponFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(shoppingcouponFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(shoppingcouponFormData("modifiedDate"))
			<!-- Code -->
			@helper.inputText(shoppingcouponFormData("code"))
			<!-- Name -->
			@helper.inputText(shoppingcouponFormData("name"))
			<!-- Description -->
			@helper.inputText(shoppingcouponFormData("description"))
			<!-- StartDate -->
			@helper.inputText(shoppingcouponFormData("startDate"))
			<!-- EndDate -->
			@helper.inputText(shoppingcouponFormData("endDate"))
			<!-- Active -->
			@helper.checkbox(shoppingcouponFormData("active"))
			<!-- LimitCategories -->
			@helper.inputText(shoppingcouponFormData("limitCategories"))
			<!-- LimitSkus -->
			@helper.inputText(shoppingcouponFormData("limitSkus"))
			<!-- MinOrder -->
			@helper.inputText(shoppingcouponFormData("minOrder"))
			<!-- Discount -->
			@helper.inputText(shoppingcouponFormData("discount"))
			<!-- DiscountType -->
			@helper.inputText(shoppingcouponFormData("discountType"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ShoppingcouponApplication.all()">Back to Shoppingcoupon List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
