@(shoppingcoupons: List[models.shoppingcoupon.Shoppingcoupon])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingcoupon in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingcouponApplication.addShoppingcoupon">Create New Shoppingcoupon</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(shoppingcoupon <- shoppingcoupons) {
				<li>
					<div>
						<div>ID: <a href="@routes.ShoppingcouponApplication.get(shoppingcoupon.couponId)">@shoppingcoupon.couponId</a></div>
						<div>GroupId: @shoppingcoupon.groupId</div>
						<div>CompanyId: @shoppingcoupon.companyId</div>
						<div>UserId: @shoppingcoupon.userId</div>
						<div>UserName: @shoppingcoupon.userName</div>
						<div>CreateDate: @shoppingcoupon.createDate</div>
						<div>ModifiedDate: @shoppingcoupon.modifiedDate</div>
						<div>Code: @shoppingcoupon.code</div>
						<div>Name: @shoppingcoupon.name</div>
						<div>Description: @shoppingcoupon.description</div>
						<div>StartDate: @shoppingcoupon.startDate</div>
						<div>EndDate: @shoppingcoupon.endDate</div>
						<div>Active: @shoppingcoupon.active</div>
						<div>LimitCategories: @shoppingcoupon.limitCategories</div>
						<div>LimitSkus: @shoppingcoupon.limitSkus</div>
						<div>MinOrder: @shoppingcoupon.minOrder</div>
						<div>Discount: @shoppingcoupon.discount</div>
						<div>DiscountType: @shoppingcoupon.discountType</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
