@(shoppingcouponFormData: Form[controllers.shoppingcoupon.ShoppingcouponFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ShoppingcouponApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(shoppingcouponFormData("couponId").value != "0") {
				<h1>Edition of Shoppingcoupon #@shoppingcouponFormData("couponId").value</h1>
				} else {
				<h1>Creation of a Shoppingcoupon</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.ShoppingcouponApplication.all()">Back to Shoppingcoupons</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="couponId" name="couponId" value='@shoppingcouponFormData("couponId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("modifiedDate"))
				</div>
				<!-- Code -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("code"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("description"))
				</div>
				<!-- StartDate -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("startDate"))
				</div>
				<!-- EndDate -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("endDate"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(shoppingcouponFormData("active"))
				</div>
				<!-- LimitCategories -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("limitCategories"))
				</div>
				<!-- LimitSkus -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("limitSkus"))
				</div>
				<!-- MinOrder -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("minOrder"))
				</div>
				<!-- Discount -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("discount"))
				</div>
				<!-- DiscountType -->
				<div class="form-group">
				@helper.inputText(shoppingcouponFormData("discountType"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
