@(journalarticleimages: List[models.journalarticleimage.Journalarticleimage])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Journalarticleimage in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.JournalarticleimageApplication.addJournalarticleimage">Create New Journalarticleimage</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Journalarticleimage.
			</p>
		</div>
		<div class="container">
			@for(journalarticleimage <- journalarticleimages) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.JournalarticleimageApplication.get(journalarticleimage.articleImageId)">@journalarticleimage.articleImageId</a>
					</div>
					<li class="btn btn-default disabled">
						GroupId: @journalarticleimage.groupId
					</li>
					<li class="btn btn-default disabled">
						ArticleId: @journalarticleimage.articleId
					</li>
					<li class="btn btn-default disabled">
						Version: @journalarticleimage.version
					</li>
					<li class="btn btn-default disabled">
						ElInstanceId: @journalarticleimage.elInstanceId
					</li>
					<li class="btn btn-default disabled">
						ElName: @journalarticleimage.elName
					</li>
					<li class="btn btn-default disabled">
						LanguageId: @journalarticleimage.languageId
					</li>
					<li class="btn btn-default disabled">
						TempImage: @journalarticleimage.tempImage
					</li>
				</ul>
			}
		</div>
	</div>
}
