@(journalarticleimageFormData: Form[controllers.journalarticleimage.JournalarticleimageFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.JournalarticleimageApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(journalarticleimageFormData("articleImageId").value != "0") {
				<h1>Edition of Journalarticleimage #@journalarticleimageFormData("articleImageId").value</h1>
				} else {
				<h1>Creation of a Journalarticleimage</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(journalarticleimageFormData("articleImageId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.JournalarticleimageApplication.all()">Back to Journalarticleimages</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="articleImageId" name="articleImageId" value='@journalarticleimageFormData("articleImageId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(journalarticleimageFormData("groupId"))
				</div>
				<!-- ArticleId -->
				<div class="form-group">
				@helper.inputText(journalarticleimageFormData("articleId"))
				</div>
				<!-- Version -->
				<div class="form-group">
				@helper.inputText(journalarticleimageFormData("version"))
				</div>
				<!-- ElInstanceId -->
				<div class="form-group">
				@helper.inputText(journalarticleimageFormData("elInstanceId"))
				</div>
				<!-- ElName -->
				<div class="form-group">
				@helper.inputText(journalarticleimageFormData("elName"))
				</div>
				<!-- LanguageId -->
				<div class="form-group">
				@helper.inputText(journalarticleimageFormData("languageId"))
				</div>
				<!-- TempImage -->
				<div class="form-group">
				@helper.checkbox(journalarticleimageFormData("tempImage"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
