@(ddmstructurelayoutFormData: Form[controllers.ddmstructurelayout.DdmstructurelayoutFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DdmstructurelayoutApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(ddmstructurelayoutFormData("structureLayoutId").value != "0") {
				<h1>Edition of Ddmstructurelayout #@ddmstructurelayoutFormData("structureLayoutId").value</h1>
				} else {
				<h1>Creation of a Ddmstructurelayout</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(ddmstructurelayoutFormData("structureLayoutId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.DdmstructurelayoutApplication.all()">Back to Ddmstructurelayouts</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="structureLayoutId" name="structureLayoutId" value='@ddmstructurelayoutFormData("structureLayoutId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("modifiedDate"))
				</div>
				<!-- StructureVersionId -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("structureVersionId"))
				</div>
				<!-- Definition -->
				<div class="form-group">
				@helper.inputText(ddmstructurelayoutFormData("definition"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
