@(ddmstructurelayouts: List[models.ddmstructurelayout.Ddmstructurelayout])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmstructurelayout in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmstructurelayoutApplication.addDdmstructurelayout">Create New Ddmstructurelayout</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Ddmstructurelayout.
			</p>
		</div>
		<div class="container">
			@for(ddmstructurelayout <- ddmstructurelayouts) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DdmstructurelayoutApplication.get(ddmstructurelayout.structureLayoutId)">@ddmstructurelayout.structureLayoutId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @ddmstructurelayout.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @ddmstructurelayout.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddmstructurelayout.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddmstructurelayout.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddmstructurelayout.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddmstructurelayout.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @ddmstructurelayout.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						StructureVersionId: @ddmstructurelayout.structureVersionId
					</li>
					<li class="btn btn-default disabled">
						Definition: @ddmstructurelayout.definition
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
