@(trashentryFormData: Form[controllers.trashentry.TrashentryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.TrashentryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(trashentryFormData("entryId") != "0") {
				<h1>Edition of Trashentry #@trashentryFormData("entryId").value</h1>
				} else {
				<h1>Creation of a Trashentry</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.TrashentryApplication.all()">Back to Trashentrys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="entryId" name="entryId" value='@trashentryFormData("entryId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("createDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("classPK"))
				</div>
				<!-- SystemEventSetKey -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("systemEventSetKey"))
				</div>
				<!-- TypeSettings -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("typeSettings"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(trashentryFormData("status"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
