@(trashentrys: List[models.trashentry.Trashentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Trashentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.TrashentryApplication.addTrashentry">Create New Trashentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Trashentry.
			</p>
		</div>
		<div class="container">
			@for(trashentry <- trashentrys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.TrashentryApplication.get(trashentry.entryId)">@trashentry.entryId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @trashentry.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @trashentry.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @trashentry.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @trashentry.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @trashentry.createDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @trashentry.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @trashentry.classPK
					</li>
					<li class="btn btn-default disabled">
						SystemEventSetKey: @trashentry.systemEventSetKey
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @trashentry.typeSettings
					</li>
					<li class="btn btn-default disabled">
						Status: @trashentry.status
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
