@(trashentrys: List[models.trashentry.Trashentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Trashentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.TrashentryApplication.addTrashentry">Create New Trashentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(trashentry <- trashentrys) {
				<li>
					<div>
						<div>ID: <a href="@routes.TrashentryApplication.get(trashentry.entryId)">@trashentry.entryId</a></div>
						<div>GroupId: @trashentry.groupId</div>
						<div>CompanyId: @trashentry.companyId</div>
						<div>UserId: @trashentry.userId</div>
						<div>UserName: @trashentry.userName</div>
						<div>CreateDate: @trashentry.createDate</div>
						<div>ClassNameId: @trashentry.classNameId</div>
						<div>ClassPK: @trashentry.classPK</div>
						<div>SystemEventSetKey: @trashentry.systemEventSetKey</div>
						<div>TypeSettings: @trashentry.typeSettings</div>
						<div>Status: @trashentry.status</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
