@(trashentryFormData: Form[controllers.trashentry.TrashentryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Trashentry #@trashentryFormData("entryId").value</legend>

		@form(routes.TrashentryApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(trashentryFormData("entryId"), 'readonly -> "readonly")

			<!-- GroupId -->
			@helper.inputText(trashentryFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(trashentryFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(trashentryFormData("userId"))
			<!-- UserName -->
			@helper.inputText(trashentryFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(trashentryFormData("createDate"))
			<!-- ClassNameId -->
			@helper.inputText(trashentryFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(trashentryFormData("classPK"))
			<!-- SystemEventSetKey -->
			@helper.inputText(trashentryFormData("systemEventSetKey"))
			<!-- TypeSettings -->
			@helper.inputText(trashentryFormData("typeSettings"))
			<!-- Status -->
			@helper.inputText(trashentryFormData("status"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.TrashentryApplication.all()">Back to Trashentry List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
