@(orglaborFormData: Form[controllers.orglabor.OrglaborFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Orglabor #@orglaborFormData("orgLaborId").value</legend>

		@form(routes.OrglaborApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(orglaborFormData("orgLaborId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(orglaborFormData("mvccVersion"))
			<!-- OrganizationId -->
			@helper.inputText(orglaborFormData("organizationId"))
			<!-- TypeId -->
			@helper.inputText(orglaborFormData("typeId"))
			<!-- SunOpen -->
			@helper.inputText(orglaborFormData("sunOpen"))
			<!-- SunClose -->
			@helper.inputText(orglaborFormData("sunClose"))
			<!-- MonOpen -->
			@helper.inputText(orglaborFormData("monOpen"))
			<!-- MonClose -->
			@helper.inputText(orglaborFormData("monClose"))
			<!-- TueOpen -->
			@helper.inputText(orglaborFormData("tueOpen"))
			<!-- TueClose -->
			@helper.inputText(orglaborFormData("tueClose"))
			<!-- WedOpen -->
			@helper.inputText(orglaborFormData("wedOpen"))
			<!-- WedClose -->
			@helper.inputText(orglaborFormData("wedClose"))
			<!-- ThuOpen -->
			@helper.inputText(orglaborFormData("thuOpen"))
			<!-- ThuClose -->
			@helper.inputText(orglaborFormData("thuClose"))
			<!-- FriOpen -->
			@helper.inputText(orglaborFormData("friOpen"))
			<!-- FriClose -->
			@helper.inputText(orglaborFormData("friClose"))
			<!-- SatOpen -->
			@helper.inputText(orglaborFormData("satOpen"))
			<!-- SatClose -->
			@helper.inputText(orglaborFormData("satClose"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.OrglaborApplication.all()">Back to Orglabor List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
