@(orglaborFormData: Form[controllers.orglabor.OrglaborFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.OrglaborApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(orglaborFormData("orgLaborId") != "0") {
				<h1>Edition of Orglabor #@orglaborFormData("orgLaborId").value</h1>
				} else {
				<h1>Creation of a Orglabor</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.OrglaborApplication.all()">Back to Orglabors</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="orgLaborId" name="orgLaborId" value='@orglaborFormData("orgLaborId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("mvccVersion"))
				</div>
				<!-- OrganizationId -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("organizationId"))
				</div>
				<!-- TypeId -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("typeId"))
				</div>
				<!-- SunOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("sunOpen"))
				</div>
				<!-- SunClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("sunClose"))
				</div>
				<!-- MonOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("monOpen"))
				</div>
				<!-- MonClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("monClose"))
				</div>
				<!-- TueOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("tueOpen"))
				</div>
				<!-- TueClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("tueClose"))
				</div>
				<!-- WedOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("wedOpen"))
				</div>
				<!-- WedClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("wedClose"))
				</div>
				<!-- ThuOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("thuOpen"))
				</div>
				<!-- ThuClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("thuClose"))
				</div>
				<!-- FriOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("friOpen"))
				</div>
				<!-- FriClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("friClose"))
				</div>
				<!-- SatOpen -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("satOpen"))
				</div>
				<!-- SatClose -->
				<div class="form-group">
				@helper.inputText(orglaborFormData("satClose"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
