@(announcementsflagFormData: Form[controllers.announcementsflag.AnnouncementsflagFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AnnouncementsflagApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(announcementsflagFormData("flagId").value != "0") {
				<h1>Edition of Announcementsflag #@announcementsflagFormData("flagId").value</h1>
				} else {
				<h1>Creation of a Announcementsflag</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(announcementsflagFormData("flagId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.AnnouncementsflagApplication.all()">Back to Announcementsflags</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="flagId" name="flagId" value='@announcementsflagFormData("flagId").value' />

				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(announcementsflagFormData("userId"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(announcementsflagFormData("createDate"))
				</div>
				<!-- EntryId -->
				<div class="form-group">
				@helper.inputText(announcementsflagFormData("entryId"))
				</div>
				<!-- Value -->
				<div class="form-group">
				@helper.inputText(announcementsflagFormData("value"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
