@(announcementsflags: List[models.announcementsflag.Announcementsflag])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Announcementsflag in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AnnouncementsflagApplication.addAnnouncementsflag">Create New Announcementsflag</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(announcementsflag <- announcementsflags) {
				<li>
					<div>
						<div>ID: <a href="@routes.AnnouncementsflagApplication.get(announcementsflag.flagId)">@announcementsflag.flagId</a></div>
						<div>UserId: @announcementsflag.userId</div>
						<div>CreateDate: @announcementsflag.createDate</div>
						<div>EntryId: @announcementsflag.entryId</div>
						<div>Value: @announcementsflag.value</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
