@(shoppingitemFormData: Form[controllers.shoppingitem.ShoppingitemFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Shoppingitem #@shoppingitemFormData("itemId").value</legend>

		@form(routes.ShoppingitemApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(shoppingitemFormData("itemId"), 'readonly -> "readonly")

			<!-- GroupId -->
			@helper.inputText(shoppingitemFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(shoppingitemFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(shoppingitemFormData("userId"))
			<!-- UserName -->
			@helper.inputText(shoppingitemFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(shoppingitemFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(shoppingitemFormData("modifiedDate"))
			<!-- CategoryId -->
			@helper.inputText(shoppingitemFormData("categoryId"))
			<!-- Sku -->
			@helper.inputText(shoppingitemFormData("sku"))
			<!-- Name -->
			@helper.inputText(shoppingitemFormData("name"))
			<!-- Description -->
			@helper.inputText(shoppingitemFormData("description"))
			<!-- Properties -->
			@helper.inputText(shoppingitemFormData("properties"))
			<!-- Fields -->
			@helper.inputText(shoppingitemFormData("fields"))
			<!-- FieldsQuantities -->
			@helper.inputText(shoppingitemFormData("fieldsQuantities"))
			<!-- MinQuantity -->
			@helper.inputText(shoppingitemFormData("minQuantity"))
			<!-- MaxQuantity -->
			@helper.inputText(shoppingitemFormData("maxQuantity"))
			<!-- Price -->
			@helper.inputText(shoppingitemFormData("price"))
			<!-- Discount -->
			@helper.inputText(shoppingitemFormData("discount"))
			<!-- Taxable -->
			@helper.inputText(shoppingitemFormData("taxable"))
			<!-- Shipping -->
			@helper.inputText(shoppingitemFormData("shipping"))
			<!-- UseShippingFormula -->
			@helper.inputText(shoppingitemFormData("useShippingFormula"))
			<!-- RequiresShipping -->
			@helper.inputText(shoppingitemFormData("requiresShipping"))
			<!-- StockQuantity -->
			@helper.inputText(shoppingitemFormData("stockQuantity"))
			<!-- Featured -->
			@helper.inputText(shoppingitemFormData("featured"))
			<!-- Sale -->
			@helper.inputText(shoppingitemFormData("sale"))
			<!-- SmallImage -->
			@helper.inputText(shoppingitemFormData("smallImage"))
			<!-- SmallImageId -->
			@helper.inputText(shoppingitemFormData("smallImageId"))
			<!-- SmallImageURL -->
			@helper.inputText(shoppingitemFormData("smallImageURL"))
			<!-- MediumImage -->
			@helper.inputText(shoppingitemFormData("mediumImage"))
			<!-- MediumImageId -->
			@helper.inputText(shoppingitemFormData("mediumImageId"))
			<!-- MediumImageURL -->
			@helper.inputText(shoppingitemFormData("mediumImageURL"))
			<!-- LargeImage -->
			@helper.inputText(shoppingitemFormData("largeImage"))
			<!-- LargeImageId -->
			@helper.inputText(shoppingitemFormData("largeImageId"))
			<!-- LargeImageURL -->
			@helper.inputText(shoppingitemFormData("largeImageURL"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ShoppingitemApplication.all()">Back to Shoppingitem List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
