@(shoppingitems: List[models.shoppingitem.Shoppingitem])

@main("Welcome to GeneratedCRUD application") {

	<h1>Shoppingitems in the DB</h1>

	<p>
		<a href="@routes.ShoppingitemApplication.addShoppingitem">Create New Shoppingitem</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(shoppingitem <- shoppingitems) {
		<li>
			<div>
				<div>ID: <a href="@routes.ShoppingitemApplication.get(shoppingitem.itemId)">@shoppingitem.itemId</a></div>
				<div>GroupId: @shoppingitem.groupId</div>
				<div>CompanyId: @shoppingitem.companyId</div>
				<div>UserId: @shoppingitem.userId</div>
				<div>UserName: @shoppingitem.userName</div>
				<div>CreateDate: @shoppingitem.createDate</div>
				<div>ModifiedDate: @shoppingitem.modifiedDate</div>
				<div>CategoryId: @shoppingitem.categoryId</div>
				<div>Sku: @shoppingitem.sku</div>
				<div>Name: @shoppingitem.name</div>
				<div>Description: @shoppingitem.description</div>
				<div>Properties: @shoppingitem.properties</div>
				<div>Fields: @shoppingitem.fields</div>
				<div>FieldsQuantities: @shoppingitem.fieldsQuantities</div>
				<div>MinQuantity: @shoppingitem.minQuantity</div>
				<div>MaxQuantity: @shoppingitem.maxQuantity</div>
				<div>Price: @shoppingitem.price</div>
				<div>Discount: @shoppingitem.discount</div>
				<div>Taxable: @shoppingitem.taxable</div>
				<div>Shipping: @shoppingitem.shipping</div>
				<div>UseShippingFormula: @shoppingitem.useShippingFormula</div>
				<div>RequiresShipping: @shoppingitem.requiresShipping</div>
				<div>StockQuantity: @shoppingitem.stockQuantity</div>
				<div>Featured: @shoppingitem.featured</div>
				<div>Sale: @shoppingitem.sale</div>
				<div>SmallImage: @shoppingitem.smallImage</div>
				<div>SmallImageId: @shoppingitem.smallImageId</div>
				<div>SmallImageURL: @shoppingitem.smallImageURL</div>
				<div>MediumImage: @shoppingitem.mediumImage</div>
				<div>MediumImageId: @shoppingitem.mediumImageId</div>
				<div>MediumImageURL: @shoppingitem.mediumImageURL</div>
				<div>LargeImage: @shoppingitem.largeImage</div>
				<div>LargeImageId: @shoppingitem.largeImageId</div>
				<div>LargeImageURL: @shoppingitem.largeImageURL</div>
			</div>
		</li>
	}
	</ul>

}
