@(shoppingitemFormData: Form[controllers.shoppingitem.ShoppingitemFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ShoppingitemApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(shoppingitemFormData("itemId").value != "0") {
				<h1>Edition of Shoppingitem #@shoppingitemFormData("itemId").value</h1>
				} else {
				<h1>Creation of a Shoppingitem</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(shoppingitemFormData("itemId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ShoppingitemApplication.all()">Back to Shoppingitems</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="itemId" name="itemId" value='@shoppingitemFormData("itemId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("modifiedDate"))
				</div>
				<!-- CategoryId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("categoryId"))
				</div>
				<!-- Sku -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("sku"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("description"))
				</div>
				<!-- Properties -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("properties"))
				</div>
				<!-- Fields -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("fields"))
				</div>
				<!-- FieldsQuantities -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("fieldsQuantities"))
				</div>
				<!-- MinQuantity -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("minQuantity"))
				</div>
				<!-- MaxQuantity -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("maxQuantity"))
				</div>
				<!-- Price -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("price"))
				</div>
				<!-- Discount -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("discount"))
				</div>
				<!-- Taxable -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("taxable"))
				</div>
				<!-- Shipping -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("shipping"))
				</div>
				<!-- UseShippingFormula -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("useShippingFormula"))
				</div>
				<!-- RequiresShipping -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("requiresShipping"))
				</div>
				<!-- StockQuantity -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("stockQuantity"))
				</div>
				<!-- Featured -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("featured"))
				</div>
				<!-- Sale -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("sale"))
				</div>
				<!-- SmallImage -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("smallImage"))
				</div>
				<!-- SmallImageId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("smallImageId"))
				</div>
				<!-- SmallImageURL -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("smallImageURL"))
				</div>
				<!-- MediumImage -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("mediumImage"))
				</div>
				<!-- MediumImageId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("mediumImageId"))
				</div>
				<!-- MediumImageURL -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("mediumImageURL"))
				</div>
				<!-- LargeImage -->
				<div class="form-group">
				@helper.checkbox(shoppingitemFormData("largeImage"))
				</div>
				<!-- LargeImageId -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("largeImageId"))
				</div>
				<!-- LargeImageURL -->
				<div class="form-group">
				@helper.inputText(shoppingitemFormData("largeImageURL"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
