@(shoppingitems: List[models.shoppingitem.Shoppingitem])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingitem in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingitemApplication.addShoppingitem">Create New Shoppingitem</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Shoppingitem.
			</p>
		</div>
		<div class="container">
			@for(shoppingitem <- shoppingitems) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ShoppingitemApplication.get(shoppingitem.itemId)">@shoppingitem.itemId</a>
					</li>
					<li class="btn btn-default disabled">
						GroupId: @shoppingitem.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @shoppingitem.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @shoppingitem.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @shoppingitem.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @shoppingitem.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @shoppingitem.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						CategoryId: @shoppingitem.categoryId
					</li>
					<li class="btn btn-default disabled">
						Sku: @shoppingitem.sku
					</li>
					<li class="btn btn-default disabled">
						Name: @shoppingitem.name
					</li>
					<li class="btn btn-default disabled">
						Description: @shoppingitem.description
					</li>
					<li class="btn btn-default disabled">
						Properties: @shoppingitem.properties
					</li>
					<li class="btn btn-default disabled">
						Fields: @shoppingitem.fields
					</li>
					<li class="btn btn-default disabled">
						FieldsQuantities: @shoppingitem.fieldsQuantities
					</li>
					<li class="btn btn-default disabled">
						MinQuantity: @shoppingitem.minQuantity
					</li>
					<li class="btn btn-default disabled">
						MaxQuantity: @shoppingitem.maxQuantity
					</li>
					<li class="btn btn-default disabled">
						Price: @shoppingitem.price
					</li>
					<li class="btn btn-default disabled">
						Discount: @shoppingitem.discount
					</li>
					<li class="btn btn-default disabled">
						Taxable: @shoppingitem.taxable
					</li>
					<li class="btn btn-default disabled">
						Shipping: @shoppingitem.shipping
					</li>
					<li class="btn btn-default disabled">
						UseShippingFormula: @shoppingitem.useShippingFormula
					</li>
					<li class="btn btn-default disabled">
						RequiresShipping: @shoppingitem.requiresShipping
					</li>
					<li class="btn btn-default disabled">
						StockQuantity: @shoppingitem.stockQuantity
					</li>
					<li class="btn btn-default disabled">
						Featured: @shoppingitem.featured
					</li>
					<li class="btn btn-default disabled">
						Sale: @shoppingitem.sale
					</li>
					<li class="btn btn-default disabled">
						SmallImage: @shoppingitem.smallImage
					</li>
					<li class="btn btn-default disabled">
						SmallImageId: @shoppingitem.smallImageId
					</li>
					<li class="btn btn-default disabled">
						SmallImageURL: @shoppingitem.smallImageURL
					</li>
					<li class="btn btn-default disabled">
						MediumImage: @shoppingitem.mediumImage
					</li>
					<li class="btn btn-default disabled">
						MediumImageId: @shoppingitem.mediumImageId
					</li>
					<li class="btn btn-default disabled">
						MediumImageURL: @shoppingitem.mediumImageURL
					</li>
					<li class="btn btn-default disabled">
						LargeImage: @shoppingitem.largeImage
					</li>
					<li class="btn btn-default disabled">
						LargeImageId: @shoppingitem.largeImageId
					</li>
					<li class="btn btn-default disabled">
						LargeImageURL: @shoppingitem.largeImageURL
					</li>
				</ul>
			}
		</div>
	</div>
}
