@(dlfileentrytypes: List[models.dlfileentrytype.Dlfileentrytype])

@main("Welcome to GeneratedCRUD application") {

	<h1>Dlfileentrytypes in the DB</h1>

	<p>
		<a href="@routes.DlfileentrytypeApplication.addDlfileentrytype">Create New Dlfileentrytype</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(dlfileentrytype <- dlfileentrytypes) {
		<li>
			<div>
				<div>ID: <a href="@routes.DlfileentrytypeApplication.get(dlfileentrytype.fileEntryTypeId)">@dlfileentrytype.fileEntryTypeId</a></div>
				<div>Uuid: @dlfileentrytype.uuid</div>
				<div>GroupId: @dlfileentrytype.groupId</div>
				<div>CompanyId: @dlfileentrytype.companyId</div>
				<div>UserId: @dlfileentrytype.userId</div>
				<div>UserName: @dlfileentrytype.userName</div>
				<div>CreateDate: @dlfileentrytype.createDate</div>
				<div>ModifiedDate: @dlfileentrytype.modifiedDate</div>
				<div>FileEntryTypeKey: @dlfileentrytype.fileEntryTypeKey</div>
				<div>Name: @dlfileentrytype.name</div>
				<div>Description: @dlfileentrytype.description</div>
			</div>
		</li>
	}
	</ul>

}
