@(dlfileentrytypes: List[models.dlfileentrytype.Dlfileentrytype])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfileentrytype in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfileentrytypeApplication.addDlfileentrytype">Create New Dlfileentrytype</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Dlfileentrytype.
			</p>
		</div>
		<div class="container">
			@for(dlfileentrytype <- dlfileentrytypes) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DlfileentrytypeApplication.get(dlfileentrytype.fileEntryTypeId)">@dlfileentrytype.fileEntryTypeId</a>
					</div>
					<li class="btn btn-default disabled">
						Uuid: @dlfileentrytype.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @dlfileentrytype.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @dlfileentrytype.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @dlfileentrytype.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @dlfileentrytype.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @dlfileentrytype.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @dlfileentrytype.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						FileEntryTypeKey: @dlfileentrytype.fileEntryTypeKey
					</li>
					<li class="btn btn-default disabled">
						Name: @dlfileentrytype.name
					</li>
					<li class="btn btn-default disabled">
						Description: @dlfileentrytype.description
					</li>
				</ul>
			}
		</div>
	</div>
}
