@(workflowinstancelinks: List[models.workflowinstancelink.Workflowinstancelink])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Workflowinstancelink in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.WorkflowinstancelinkApplication.addWorkflowinstancelink">Create New Workflowinstancelink</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Workflowinstancelink.
			</p>
		</div>
		<div class="container">
			@for(workflowinstancelink <- workflowinstancelinks) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.WorkflowinstancelinkApplication.get(workflowinstancelink.workflowInstanceLinkId)">@workflowinstancelink.workflowInstanceLinkId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @workflowinstancelink.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @workflowinstancelink.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @workflowinstancelink.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @workflowinstancelink.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @workflowinstancelink.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @workflowinstancelink.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @workflowinstancelink.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @workflowinstancelink.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @workflowinstancelink.classPK
					</li>
					<li class="btn btn-default disabled">
						WorkflowInstanceId: @workflowinstancelink.workflowInstanceId
					</li>
				</ul>
			}
		</div>
	</div>
}
