@(workflowinstancelinkFormData: Form[controllers.workflowinstancelink.WorkflowinstancelinkFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.WorkflowinstancelinkApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(workflowinstancelinkFormData("workflowInstanceLinkId").value != "0") {
				<h1>Edition of Workflowinstancelink #@workflowinstancelinkFormData("workflowInstanceLinkId").value</h1>
				} else {
				<h1>Creation of a Workflowinstancelink</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.WorkflowinstancelinkApplication.all()">Back to Workflowinstancelinks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="workflowInstanceLinkId" name="workflowInstanceLinkId" value='@workflowinstancelinkFormData("workflowInstanceLinkId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("mvccVersion"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("classPK"))
				</div>
				<!-- WorkflowInstanceId -->
				<div class="form-group">
				@helper.inputText(workflowinstancelinkFormData("workflowInstanceId"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
