@(ddmstructurelinkFormData: Form[controllers.ddmstructurelink.DdmstructurelinkFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DdmstructurelinkApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(ddmstructurelinkFormData("structureLinkId").value != "0") {
				<h1>Edition of Ddmstructurelink #@ddmstructurelinkFormData("structureLinkId").value</h1>
				} else {
				<h1>Creation of a Ddmstructurelink</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(ddmstructurelinkFormData("structureLinkId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.DdmstructurelinkApplication.all()">Back to Ddmstructurelinks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="structureLinkId" name="structureLinkId" value='@ddmstructurelinkFormData("structureLinkId").value' />

				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(ddmstructurelinkFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(ddmstructurelinkFormData("classPK"))
				</div>
				<!-- StructureId -->
				<div class="form-group">
				@helper.inputText(ddmstructurelinkFormData("structureId"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
