@(ddmstructurelinks: List[models.ddmstructurelink.Ddmstructurelink])

@main("Welcome to GeneratedCRUD application") {

	<h1>Ddmstructurelinks in the DB</h1>

	<p>
		<a href="@routes.DdmstructurelinkApplication.addDdmstructurelink">Create New Ddmstructurelink</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(ddmstructurelink <- ddmstructurelinks) {
		<li>
			<div>
				<div>ID: <a href="@routes.DdmstructurelinkApplication.get(ddmstructurelink.structureLinkId)">@ddmstructurelink.structureLinkId</a></div>
				<div>ClassNameId: @ddmstructurelink.classNameId</div>
				<div>ClassPK: @ddmstructurelink.classPK</div>
				<div>StructureId: @ddmstructurelink.structureId</div>
			</div>
		</li>
	}
	</ul>

}
