@(ddmstructurelinks: List[models.ddmstructurelink.Ddmstructurelink])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmstructurelink in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmstructurelinkApplication.addDdmstructurelink">Create New Ddmstructurelink</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ddmstructurelink.
			</p>
		</div>
		<div class="container">
			@for(ddmstructurelink <- ddmstructurelinks) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DdmstructurelinkApplication.get(ddmstructurelink.structureLinkId)">@ddmstructurelink.structureLinkId</a>
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @ddmstructurelink.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @ddmstructurelink.classPK
					</li>
					<li class="btn btn-default disabled">
						StructureId: @ddmstructurelink.structureId
					</li>
				</ul>
			}
		</div>
	</div>
}
