@(dlfileentrys: List[models.dlfileentry.Dlfileentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfileentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfileentryApplication.addDlfileentry">Create New Dlfileentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Dlfileentry.
			</p>
		</div>
		<div class="container">
			@for(dlfileentry <- dlfileentrys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DlfileentryApplication.get(dlfileentry.fileEntryId)">@dlfileentry.fileEntryId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @dlfileentry.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @dlfileentry.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @dlfileentry.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @dlfileentry.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @dlfileentry.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @dlfileentry.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @dlfileentry.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @dlfileentry.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @dlfileentry.classPK
					</li>
					<li class="btn btn-default disabled">
						RepositoryId: @dlfileentry.repositoryId
					</li>
					<li class="btn btn-default disabled">
						FolderId: @dlfileentry.folderId
					</li>
					<li class="btn btn-default disabled">
						TreePath: @dlfileentry.treePath
					</li>
					<li class="btn btn-default disabled">
						Name: @dlfileentry.name
					</li>
					<li class="btn btn-default disabled">
						FileName: @dlfileentry.fileName
					</li>
					<li class="btn btn-default disabled">
						Extension: @dlfileentry.extension
					</li>
					<li class="btn btn-default disabled">
						MimeType: @dlfileentry.mimeType
					</li>
					<li class="btn btn-default disabled">
						Title: @dlfileentry.title
					</li>
					<li class="btn btn-default disabled">
						Description: @dlfileentry.description
					</li>
					<li class="btn btn-default disabled">
						ExtraSettings: @dlfileentry.extraSettings
					</li>
					<li class="btn btn-default disabled">
						FileEntryTypeId: @dlfileentry.fileEntryTypeId
					</li>
					<li class="btn btn-default disabled">
						Version: @dlfileentry.version
					</li>
					<li class="btn btn-default disabled">
						Size: @dlfileentry.size
					</li>
					<li class="btn btn-default disabled">
						ReadCount: @dlfileentry.readCount
					</li>
					<li class="btn btn-default disabled">
						SmallImageId: @dlfileentry.smallImageId
					</li>
					<li class="btn btn-default disabled">
						LargeImageId: @dlfileentry.largeImageId
					</li>
					<li class="btn btn-default disabled">
						Custom1ImageId: @dlfileentry.custom1ImageId
					</li>
					<li class="btn btn-default disabled">
						Custom2ImageId: @dlfileentry.custom2ImageId
					</li>
					<li class="btn btn-default disabled">
						ManualCheckInRequired: @dlfileentry.manualCheckInRequired
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
