@(scframeworkversions: List[models.scframeworkversion.Scframeworkversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Scframeworkversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ScframeworkversionApplication.addScframeworkversion">Create New Scframeworkversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Scframeworkversion.
			</p>
		</div>
		<div class="container">
			@for(scframeworkversion <- scframeworkversions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ScframeworkversionApplication.get(scframeworkversion.frameworkVersionId)">@scframeworkversion.frameworkVersionId</a>
					</li>
					<li class="btn btn-default disabled">
						GroupId: @scframeworkversion.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @scframeworkversion.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @scframeworkversion.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @scframeworkversion.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @scframeworkversion.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @scframeworkversion.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @scframeworkversion.name
					</li>
					<li class="btn btn-default disabled">
						Url: @scframeworkversion.url
					</li>
					<li class="btn btn-default disabled">
						Active: @scframeworkversion.active
					</li>
					<li class="btn btn-default disabled">
						Priority: @scframeworkversion.priority
					</li>
				</ul>
			}
		</div>
	</div>
}
