@(scframeworkversions: List[models.scframeworkversion.Scframeworkversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Scframeworkversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ScframeworkversionApplication.addScframeworkversion">Create New Scframeworkversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(scframeworkversion <- scframeworkversions) {
				<li>
					<div>
						<div>ID: <a href="@routes.ScframeworkversionApplication.get(scframeworkversion.frameworkVersionId)">@scframeworkversion.frameworkVersionId</a></div>
						<div>GroupId: @scframeworkversion.groupId</div>
						<div>CompanyId: @scframeworkversion.companyId</div>
						<div>UserId: @scframeworkversion.userId</div>
						<div>UserName: @scframeworkversion.userName</div>
						<div>CreateDate: @scframeworkversion.createDate</div>
						<div>ModifiedDate: @scframeworkversion.modifiedDate</div>
						<div>Name: @scframeworkversion.name</div>
						<div>Url: @scframeworkversion.url</div>
						<div>Active: @scframeworkversion.active</div>
						<div>Priority: @scframeworkversion.priority</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
