@(workflowdefinitionlinkFormData: Form[controllers.workflowdefinitionlink.WorkflowdefinitionlinkFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Workflowdefinitionlink #@workflowdefinitionlinkFormData("workflowDefinitionLinkId").value</legend>

		@form(routes.WorkflowdefinitionlinkApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(workflowdefinitionlinkFormData("workflowDefinitionLinkId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(workflowdefinitionlinkFormData("mvccVersion"))
			<!-- GroupId -->
			@helper.inputText(workflowdefinitionlinkFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(workflowdefinitionlinkFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(workflowdefinitionlinkFormData("userId"))
			<!-- UserName -->
			@helper.inputText(workflowdefinitionlinkFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(workflowdefinitionlinkFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(workflowdefinitionlinkFormData("modifiedDate"))
			<!-- ClassNameId -->
			@helper.inputText(workflowdefinitionlinkFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(workflowdefinitionlinkFormData("classPK"))
			<!-- TypePK -->
			@helper.inputText(workflowdefinitionlinkFormData("typePK"))
			<!-- WorkflowDefinitionName -->
			@helper.inputText(workflowdefinitionlinkFormData("workflowDefinitionName"))
			<!-- WorkflowDefinitionVersion -->
			@helper.inputText(workflowdefinitionlinkFormData("workflowDefinitionVersion"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.WorkflowdefinitionlinkApplication.all()">Back to Workflowdefinitionlink List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
