@(workflowdefinitionlinkFormData: Form[controllers.workflowdefinitionlink.WorkflowdefinitionlinkFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.WorkflowdefinitionlinkApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(workflowdefinitionlinkFormData("workflowDefinitionLinkId").value != "0") {
				<h1>Edition of Workflowdefinitionlink #@workflowdefinitionlinkFormData("workflowDefinitionLinkId").value</h1>
				} else {
				<h1>Creation of a Workflowdefinitionlink</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.WorkflowdefinitionlinkApplication.all()">Back to Workflowdefinitionlinks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="workflowDefinitionLinkId" name="workflowDefinitionLinkId" value='@workflowdefinitionlinkFormData("workflowDefinitionLinkId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("mvccVersion"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("classPK"))
				</div>
				<!-- TypePK -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("typePK"))
				</div>
				<!-- WorkflowDefinitionName -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("workflowDefinitionName"))
				</div>
				<!-- WorkflowDefinitionVersion -->
				<div class="form-group">
				@helper.inputText(workflowdefinitionlinkFormData("workflowDefinitionVersion"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
