@(workflowdefinitionlinks: List[models.workflowdefinitionlink.Workflowdefinitionlink])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Workflowdefinitionlink in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.WorkflowdefinitionlinkApplication.addWorkflowdefinitionlink">Create New Workflowdefinitionlink</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(workflowdefinitionlink <- workflowdefinitionlinks) {
				<li>
					<div>
						<div>ID: <a href="@routes.WorkflowdefinitionlinkApplication.get(workflowdefinitionlink.workflowDefinitionLinkId)">@workflowdefinitionlink.workflowDefinitionLinkId</a></div>
						<div>MvccVersion: @workflowdefinitionlink.mvccVersion</div>
						<div>GroupId: @workflowdefinitionlink.groupId</div>
						<div>CompanyId: @workflowdefinitionlink.companyId</div>
						<div>UserId: @workflowdefinitionlink.userId</div>
						<div>UserName: @workflowdefinitionlink.userName</div>
						<div>CreateDate: @workflowdefinitionlink.createDate</div>
						<div>ModifiedDate: @workflowdefinitionlink.modifiedDate</div>
						<div>ClassNameId: @workflowdefinitionlink.classNameId</div>
						<div>ClassPK: @workflowdefinitionlink.classPK</div>
						<div>TypePK: @workflowdefinitionlink.typePK</div>
						<div>WorkflowDefinitionName: @workflowdefinitionlink.workflowDefinitionName</div>
						<div>WorkflowDefinitionVersion: @workflowdefinitionlink.workflowDefinitionVersion</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
