@(classnames: List[models.classname.Classname])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Classname in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ClassnameApplication.addClassname">Create New Classname</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(classname <- classnames) {
				<li>
					<div>
						<div>ID: <a href="@routes.ClassnameApplication.get(classname.classNameId)">@classname.classNameId</a></div>
						<div>MvccVersion: @classname.mvccVersion</div>
						<div>Value: @classname.value</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
