@(classnameFormData: Form[controllers.classname.ClassnameFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ClassnameApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(classnameFormData("classNameId").value != "0") {
				<h1>Edition of Classname #@classnameFormData("classNameId").value</h1>
				} else {
				<h1>Creation of a Classname</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(classnameFormData("classNameId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ClassnameApplication.all()">Back to Classnames</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="classNameId" name="classNameId" value='@classnameFormData("classNameId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(classnameFormData("mvccVersion"))
				</div>
				<!-- Value -->
				<div class="form-group">
				@helper.inputText(classnameFormData("value"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
