@(classnames: List[models.classname.Classname])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Classname in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ClassnameApplication.addClassname">Create New Classname</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Classname.
			</p>
		</div>
		<div class="container">
			@for(classname <- classnames) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ClassnameApplication.get(classname.classNameId)">@classname.classNameId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @classname.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Value: @classname.value
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
