@(assetcategorypropertys: List[models.assetcategoryproperty.Assetcategoryproperty])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assetcategoryproperty in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssetcategorypropertyApplication.addAssetcategoryproperty">Create New Assetcategoryproperty</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Assetcategoryproperty.
			</p>
		</div>
		<div class="container">
			@for(assetcategoryproperty <- assetcategorypropertys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.AssetcategorypropertyApplication.get(assetcategoryproperty.categoryPropertyId)">@assetcategoryproperty.categoryPropertyId</a>
				<ul>
					<li class="btn btn-default disabled">
						CompanyId: @assetcategoryproperty.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @assetcategoryproperty.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @assetcategoryproperty.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @assetcategoryproperty.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @assetcategoryproperty.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						CategoryId: @assetcategoryproperty.categoryId
					</li>
					<li class="btn btn-default disabled">
						Key: @assetcategoryproperty.key
					</li>
					<li class="btn btn-default disabled">
						Value: @assetcategoryproperty.value
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
