@(assetcategorypropertyFormData: Form[controllers.assetcategoryproperty.AssetcategorypropertyFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AssetcategorypropertyApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(assetcategorypropertyFormData("categoryPropertyId").value != "0") {
				<h1>Edition of Assetcategoryproperty #@assetcategorypropertyFormData("categoryPropertyId").value</h1>
				} else {
				<h1>Creation of a Assetcategoryproperty</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(assetcategorypropertyFormData("categoryPropertyId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.AssetcategorypropertyApplication.all()">Back to Assetcategorypropertys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="categoryPropertyId" name="categoryPropertyId" value='@assetcategorypropertyFormData("categoryPropertyId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("modifiedDate"))
				</div>
				<!-- CategoryId -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("categoryId"))
				</div>
				<!-- Key -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("key"))
				</div>
				<!-- Value -->
				<div class="form-group">
				@helper.inputText(assetcategorypropertyFormData("value"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
