@(mdrrulegroupinstanceFormData: Form[controllers.mdrrulegroupinstance.MdrrulegroupinstanceFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Mdrrulegroupinstance #@mdrrulegroupinstanceFormData("ruleGroupInstanceId").value</legend>

		@form(routes.MdrrulegroupinstanceApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(mdrrulegroupinstanceFormData("ruleGroupInstanceId"), 'readonly -> "readonly")

			<!-- Uuid -->
			@helper.inputText(mdrrulegroupinstanceFormData("uuid"))
			<!-- GroupId -->
			@helper.inputText(mdrrulegroupinstanceFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(mdrrulegroupinstanceFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(mdrrulegroupinstanceFormData("userId"))
			<!-- UserName -->
			@helper.inputText(mdrrulegroupinstanceFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(mdrrulegroupinstanceFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(mdrrulegroupinstanceFormData("modifiedDate"))
			<!-- ClassNameId -->
			@helper.inputText(mdrrulegroupinstanceFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(mdrrulegroupinstanceFormData("classPK"))
			<!-- RuleGroupId -->
			@helper.inputText(mdrrulegroupinstanceFormData("ruleGroupId"))
			<!-- Priority -->
			@helper.inputText(mdrrulegroupinstanceFormData("priority"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.MdrrulegroupinstanceApplication.all()">Back to Mdrrulegroupinstance List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
