@(mdrrulegroupinstances: List[models.mdrrulegroupinstance.Mdrrulegroupinstance])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mdrrulegroupinstance in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MdrrulegroupinstanceApplication.addMdrrulegroupinstance">Create New Mdrrulegroupinstance</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(mdrrulegroupinstance <- mdrrulegroupinstances) {
				<li>
					<div>
						<div>ID: <a href="@routes.MdrrulegroupinstanceApplication.get(mdrrulegroupinstance.ruleGroupInstanceId)">@mdrrulegroupinstance.ruleGroupInstanceId</a></div>
						<div>Uuid: @mdrrulegroupinstance.uuid</div>
						<div>GroupId: @mdrrulegroupinstance.groupId</div>
						<div>CompanyId: @mdrrulegroupinstance.companyId</div>
						<div>UserId: @mdrrulegroupinstance.userId</div>
						<div>UserName: @mdrrulegroupinstance.userName</div>
						<div>CreateDate: @mdrrulegroupinstance.createDate</div>
						<div>ModifiedDate: @mdrrulegroupinstance.modifiedDate</div>
						<div>ClassNameId: @mdrrulegroupinstance.classNameId</div>
						<div>ClassPK: @mdrrulegroupinstance.classPK</div>
						<div>RuleGroupId: @mdrrulegroupinstance.ruleGroupId</div>
						<div>Priority: @mdrrulegroupinstance.priority</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
