@(addresss: List[models.address.Address])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Address in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AddressApplication.addAddress">Create New Address</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Address.
			</p>
		</div>
		<div class="container">
			@for(address <- addresss) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.AddressApplication.get(address.addressId)">@address.addressId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @address.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @address.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @address.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @address.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @address.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @address.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @address.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @address.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @address.classPK
					</li>
					<li class="btn btn-default disabled">
						Street1: @address.street1
					</li>
					<li class="btn btn-default disabled">
						Street2: @address.street2
					</li>
					<li class="btn btn-default disabled">
						Street3: @address.street3
					</li>
					<li class="btn btn-default disabled">
						City: @address.city
					</li>
					<li class="btn btn-default disabled">
						Zip: @address.zip
					</li>
					<li class="btn btn-default disabled">
						RegionId: @address.regionId
					</li>
					<li class="btn btn-default disabled">
						CountryId: @address.countryId
					</li>
					<li class="btn btn-default disabled">
						TypeId: @address.typeId
					</li>
					<li class="btn btn-default disabled">
						Mailing: @address.mailing
					</li>
					<li class="btn btn-default disabled">
						Customprimary: @address.customprimary
					</li>
				</ul>
			}
		</div>
	</div>
}
