@(addresss: List[models.address.Address])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Address in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AddressApplication.addAddress">Create New Address</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(address <- addresss) {
				<li>
					<div>
						<div>ID: <a href="@routes.AddressApplication.get(address.addressId)">@address.addressId</a></div>
						<div>MvccVersion: @address.mvccVersion</div>
						<div>Uuid: @address.uuid</div>
						<div>CompanyId: @address.companyId</div>
						<div>UserId: @address.userId</div>
						<div>UserName: @address.userName</div>
						<div>CreateDate: @address.createDate</div>
						<div>ModifiedDate: @address.modifiedDate</div>
						<div>ClassNameId: @address.classNameId</div>
						<div>ClassPK: @address.classPK</div>
						<div>Street1: @address.street1</div>
						<div>Street2: @address.street2</div>
						<div>Street3: @address.street3</div>
						<div>City: @address.city</div>
						<div>Zip: @address.zip</div>
						<div>RegionId: @address.regionId</div>
						<div>CountryId: @address.countryId</div>
						<div>TypeId: @address.typeId</div>
						<div>Mailing: @address.mailing</div>
						<div>Customprimary: @address.customprimary</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
