@(resourceactionFormData: Form[controllers.resourceaction.ResourceactionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ResourceactionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(resourceactionFormData("resourceActionId").value != "0") {
				<h1>Edition of Resourceaction #@resourceactionFormData("resourceActionId").value</h1>
				} else {
				<h1>Creation of a Resourceaction</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(resourceactionFormData("resourceActionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ResourceactionApplication.all()">Back to Resourceactions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="resourceActionId" name="resourceActionId" value='@resourceactionFormData("resourceActionId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(resourceactionFormData("mvccVersion"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(resourceactionFormData("name"))
				</div>
				<!-- ActionId -->
				<div class="form-group">
				@helper.inputText(resourceactionFormData("actionId"))
				</div>
				<!-- BitwiseValue -->
				<div class="form-group">
				@helper.inputText(resourceactionFormData("bitwiseValue"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
