@(resourceactions: List[models.resourceaction.Resourceaction])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourceaction in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourceactionApplication.addResourceaction">Create New Resourceaction</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(resourceaction <- resourceactions) {
				<li>
					<div>
						<div>ID: <a href="@routes.ResourceactionApplication.get(resourceaction.resourceActionId)">@resourceaction.resourceActionId</a></div>
						<div>MvccVersion: @resourceaction.mvccVersion</div>
						<div>Name: @resourceaction.name</div>
						<div>ActionId: @resourceaction.actionId</div>
						<div>BitwiseValue: @resourceaction.bitwiseValue</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
