@(resourceactions: List[models.resourceaction.Resourceaction])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourceaction in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourceactionApplication.addResourceaction">Create New Resourceaction</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Resourceaction.
			</p>
		</div>
		<div class="container">
			@for(resourceaction <- resourceactions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ResourceactionApplication.get(resourceaction.resourceActionId)">@resourceaction.resourceActionId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @resourceaction.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Name: @resourceaction.name
					</li>
					<li class="btn btn-default disabled">
						ActionId: @resourceaction.actionId
					</li>
					<li class="btn btn-default disabled">
						BitwiseValue: @resourceaction.bitwiseValue
					</li>
				</ul>
			}
		</div>
	</div>
}
