@(portalpreferencess: List[models.portalpreferences.Portalpreferences])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portalpreferences in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortalpreferencesApplication.addPortalpreferences">Create New Portalpreferences</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Portalpreferences.
			</p>
		</div>
		<div class="container">
			@for(portalpreferences <- portalpreferencess) {
			<div class="row">
				<a class="btn btn-info" href="@routes.PortalpreferencesApplication.get(portalpreferences.portalPreferencesId)">@portalpreferences.portalPreferencesId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @portalpreferences.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						OwnerId: @portalpreferences.ownerId
					</li>
					<li class="btn btn-default disabled">
						OwnerType: @portalpreferences.ownerType
					</li>
					<li class="btn btn-default disabled">
						Preferences: @portalpreferences.preferences
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
