@(mbthreads: List[models.mbthread.Mbthread])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbthread in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbthreadApplication.addMbthread">Create New Mbthread</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mbthread.
			</p>
		</div>
		<div class="container">
			@for(mbthread <- mbthreads) {
			<div class="row">
				<a class="btn btn-info" href="@routes.MbthreadApplication.get(mbthread.threadId)">@mbthread.threadId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @mbthread.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbthread.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mbthread.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbthread.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mbthread.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mbthread.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mbthread.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						CategoryId: @mbthread.categoryId
					</li>
					<li class="btn btn-default disabled">
						RootMessageId: @mbthread.rootMessageId
					</li>
					<li class="btn btn-default disabled">
						RootMessageUserId: @mbthread.rootMessageUserId
					</li>
					<li class="btn btn-default disabled">
						MessageCount: @mbthread.messageCount
					</li>
					<li class="btn btn-default disabled">
						ViewCount: @mbthread.viewCount
					</li>
					<li class="btn btn-default disabled">
						LastPostByUserId: @mbthread.lastPostByUserId
					</li>
					<li class="btn btn-default disabled">
						LastPostDate: @mbthread.lastPostDate
					</li>
					<li class="btn btn-default disabled">
						Priority: @mbthread.priority
					</li>
					<li class="btn btn-default disabled">
						Question: @mbthread.question
					</li>
					<li class="btn btn-default disabled">
						Status: @mbthread.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @mbthread.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @mbthread.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @mbthread.statusDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
