@(assettagstatss: List[models.assettagstats.Assettagstats])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assettagstats in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssettagstatsApplication.addAssettagstats">Create New Assettagstats</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Assettagstats.
			</p>
		</div>
		<div class="container">
			@for(assettagstats <- assettagstatss) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.AssettagstatsApplication.get(assettagstats.tagStatsId)">@assettagstats.tagStatsId</a>
					</div>
					<li class="btn btn-default disabled">
						TagId: @assettagstats.tagId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @assettagstats.classNameId
					</li>
					<li class="btn btn-default disabled">
						AssetCount: @assettagstats.assetCount
					</li>
				</ul>
			}
		</div>
	</div>
}
