@(assettagstatsFormData: Form[controllers.assettagstats.AssettagstatsFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AssettagstatsApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(assettagstatsFormData("tagStatsId").value != "0") {
				<h1>Edition of Assettagstats #@assettagstatsFormData("tagStatsId").value</h1>
				} else {
				<h1>Creation of a Assettagstats</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(assettagstatsFormData("tagStatsId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.AssettagstatsApplication.all()">Back to Assettagstatss</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="tagStatsId" name="tagStatsId" value='@assettagstatsFormData("tagStatsId").value' />

				<!-- TagId -->
				<div class="form-group">
				@helper.inputText(assettagstatsFormData("tagId"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(assettagstatsFormData("classNameId"))
				</div>
				<!-- AssetCount -->
				<div class="form-group">
				@helper.inputText(assettagstatsFormData("assetCount"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
