@(assettagstatss: List[models.assettagstats.Assettagstats])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assettagstats in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssettagstatsApplication.addAssettagstats">Create New Assettagstats</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(assettagstats <- assettagstatss) {
				<li>
					<div>
						<div>ID: <a href="@routes.AssettagstatsApplication.get(assettagstats.tagStatsId)">@assettagstats.tagStatsId</a></div>
						<div>TagId: @assettagstats.tagId</div>
						<div>ClassNameId: @assettagstats.classNameId</div>
						<div>AssetCount: @assettagstats.assetCount</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
