@(sclicenseFormData: Form[controllers.sclicense.SclicenseFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.SclicenseApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(sclicenseFormData("licenseId").value != "0") {
				<h1>Edition of Sclicense #@sclicenseFormData("licenseId").value</h1>
				} else {
				<h1>Creation of a Sclicense</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(sclicenseFormData("licenseId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.SclicenseApplication.all()">Back to Sclicenses</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="licenseId" name="licenseId" value='@sclicenseFormData("licenseId").value' />

				<!-- Name -->
				<div class="form-group">
				@helper.inputText(sclicenseFormData("name"))
				</div>
				<!-- Url -->
				<div class="form-group">
				@helper.inputText(sclicenseFormData("url"))
				</div>
				<!-- OpenSource -->
				<div class="form-group">
				@helper.checkbox(sclicenseFormData("openSource"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(sclicenseFormData("active"))
				</div>
				<!-- Recommended -->
				<div class="form-group">
				@helper.checkbox(sclicenseFormData("recommended"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
