@(sclicenses: List[models.sclicense.Sclicense])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Sclicense in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SclicenseApplication.addSclicense">Create New Sclicense</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Sclicense.
			</p>
		</div>
		<div class="container">
			@for(sclicense <- sclicenses) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.SclicenseApplication.get(sclicense.licenseId)">@sclicense.licenseId</a>
					</div>
					<li class="btn btn-default disabled">
						Name: @sclicense.name
					</li>
					<li class="btn btn-default disabled">
						Url: @sclicense.url
					</li>
					<li class="btn btn-default disabled">
						OpenSource: @sclicense.openSource
					</li>
					<li class="btn btn-default disabled">
						Active: @sclicense.active
					</li>
					<li class="btn btn-default disabled">
						Recommended: @sclicense.recommended
					</li>
				</ul>
			}
		</div>
	</div>
}
