@(sclicenses: List[models.sclicense.Sclicense])

@main("Welcome to GeneratedCRUD application") {

	<h1>Sclicenses in the DB</h1>

	<p>
		<a href="@routes.SclicenseApplication.addSclicense">Create New Sclicense</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(sclicense <- sclicenses) {
		<li>
			<div>
				<div>ID: <a href="@routes.SclicenseApplication.get(sclicense.licenseId)">@sclicense.licenseId</a></div>
				<div>Name: @sclicense.name</div>
				<div>Url: @sclicense.url</div>
				<div>OpenSource: @sclicense.openSource</div>
				<div>Active: @sclicense.active</div>
				<div>Recommended: @sclicense.recommended</div>
			</div>
		</li>
	}
	</ul>

}
