@(ratingsentrys: List[models.ratingsentry.Ratingsentry])

@main("Welcome to GeneratedCRUD application") {

	<h1>Ratingsentrys in the DB</h1>

	<p>
		<a href="@routes.RatingsentryApplication.addRatingsentry">Create New Ratingsentry</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(ratingsentry <- ratingsentrys) {
		<li>
			<div>
				<div>ID: <a href="@routes.RatingsentryApplication.get(ratingsentry.entryId)">@ratingsentry.entryId</a></div>
				<div>Uuid: @ratingsentry.uuid</div>
				<div>CompanyId: @ratingsentry.companyId</div>
				<div>UserId: @ratingsentry.userId</div>
				<div>UserName: @ratingsentry.userName</div>
				<div>CreateDate: @ratingsentry.createDate</div>
				<div>ModifiedDate: @ratingsentry.modifiedDate</div>
				<div>ClassNameId: @ratingsentry.classNameId</div>
				<div>ClassPK: @ratingsentry.classPK</div>
				<div>Score: @ratingsentry.score</div>
			</div>
		</li>
	}
	</ul>

}
