@(ratingsentryFormData: Form[controllers.ratingsentry.RatingsentryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Ratingsentry #@ratingsentryFormData("entryId").value</legend>

		@form(routes.RatingsentryApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(ratingsentryFormData("entryId"), 'readonly -> "readonly")

			<!-- Uuid -->
			@helper.inputText(ratingsentryFormData("uuid"))
			<!-- CompanyId -->
			@helper.inputText(ratingsentryFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(ratingsentryFormData("userId"))
			<!-- UserName -->
			@helper.inputText(ratingsentryFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(ratingsentryFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(ratingsentryFormData("modifiedDate"))
			<!-- ClassNameId -->
			@helper.inputText(ratingsentryFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(ratingsentryFormData("classPK"))
			<!-- Score -->
			@helper.inputText(ratingsentryFormData("score"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.RatingsentryApplication.all()">Back to Ratingsentry List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
