@(ratingsentrys: List[models.ratingsentry.Ratingsentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ratingsentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RatingsentryApplication.addRatingsentry">Create New Ratingsentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ratingsentry.
			</p>
		</div>
		<div class="container">
			@for(ratingsentry <- ratingsentrys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.RatingsentryApplication.get(ratingsentry.entryId)">@ratingsentry.entryId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @ratingsentry.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ratingsentry.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ratingsentry.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ratingsentry.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ratingsentry.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @ratingsentry.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @ratingsentry.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @ratingsentry.classPK
					</li>
					<li class="btn btn-default disabled">
						Score: @ratingsentry.score
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
