@(resourceblocks: List[models.resourceblock.Resourceblock])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourceblock in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourceblockApplication.addResourceblock">Create New Resourceblock</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(resourceblock <- resourceblocks) {
				<li>
					<div>
						<div>ID: <a href="@routes.ResourceblockApplication.get(resourceblock.resourceBlockId)">@resourceblock.resourceBlockId</a></div>
						<div>MvccVersion: @resourceblock.mvccVersion</div>
						<div>CompanyId: @resourceblock.companyId</div>
						<div>GroupId: @resourceblock.groupId</div>
						<div>Name: @resourceblock.name</div>
						<div>PermissionsHash: @resourceblock.permissionsHash</div>
						<div>ReferenceCount: @resourceblock.referenceCount</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
