@(resourceblocks: List[models.resourceblock.Resourceblock])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourceblock in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourceblockApplication.addResourceblock">Create New Resourceblock</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Resourceblock.
			</p>
		</div>
		<div class="container">
			@for(resourceblock <- resourceblocks) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ResourceblockApplication.get(resourceblock.resourceBlockId)">@resourceblock.resourceBlockId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @resourceblock.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @resourceblock.companyId
					</li>
					<li class="btn btn-default disabled">
						GroupId: @resourceblock.groupId
					</li>
					<li class="btn btn-default disabled">
						Name: @resourceblock.name
					</li>
					<li class="btn btn-default disabled">
						PermissionsHash: @resourceblock.permissionsHash
					</li>
					<li class="btn btn-default disabled">
						ReferenceCount: @resourceblock.referenceCount
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
