@(passwordtrackers: List[models.passwordtracker.Passwordtracker])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Passwordtracker in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PasswordtrackerApplication.addPasswordtracker">Create New Passwordtracker</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(passwordtracker <- passwordtrackers) {
				<li>
					<div>
						<div>ID: <a href="@routes.PasswordtrackerApplication.get(passwordtracker.passwordTrackerId)">@passwordtracker.passwordTrackerId</a></div>
						<div>MvccVersion: @passwordtracker.mvccVersion</div>
						<div>UserId: @passwordtracker.userId</div>
						<div>CreateDate: @passwordtracker.createDate</div>
						<div>Password: @passwordtracker.password</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
