@(passwordtrackerFormData: Form[controllers.passwordtracker.PasswordtrackerFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Passwordtracker #@passwordtrackerFormData("passwordTrackerId").value</legend>

		@form(routes.PasswordtrackerApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(passwordtrackerFormData("passwordTrackerId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(passwordtrackerFormData("mvccVersion"))
			<!-- UserId -->
			@helper.inputText(passwordtrackerFormData("userId"))
			<!-- CreateDate -->
			@helper.inputText(passwordtrackerFormData("createDate"))
			<!-- Password -->
			@helper.inputText(passwordtrackerFormData("password"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.PasswordtrackerApplication.all()">Back to Passwordtracker List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
