@(passwordtrackers: List[models.passwordtracker.Passwordtracker])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Passwordtracker in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PasswordtrackerApplication.addPasswordtracker">Create New Passwordtracker</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Passwordtracker.
			</p>
		</div>
		<div class="container">
			@for(passwordtracker <- passwordtrackers) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.PasswordtrackerApplication.get(passwordtracker.passwordTrackerId)">@passwordtracker.passwordTrackerId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @passwordtracker.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						UserId: @passwordtracker.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @passwordtracker.createDate
					</li>
					<li class="btn btn-default disabled">
						Password: @passwordtracker.password
					</li>
				</ul>
			}
		</div>
	</div>
}
