@(passwordtrackers: List[models.passwordtracker.Passwordtracker])

@main("Welcome to GeneratedCRUD application") {

	<h1>Passwordtrackers in the DB</h1>

	<p>
		<a href="@routes.PasswordtrackerApplication.addPasswordtracker">Create New Passwordtracker</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(passwordtracker <- passwordtrackers) {
		<li>
			<div>
				<div>ID: <a href="@routes.PasswordtrackerApplication.get(passwordtracker.passwordTrackerId)">@passwordtracker.passwordTrackerId</a></div>
				<div>MvccVersion: @passwordtracker.mvccVersion</div>
				<div>UserId: @passwordtracker.userId</div>
				<div>CreateDate: @passwordtracker.createDate</div>
				<div>Password: @passwordtracker.password</div>
			</div>
		</li>
	}
	</ul>

}
