@(images: List[models.image.Image])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Image in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ImageApplication.addImage">Create New Image</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Image.
			</p>
		</div>
		<div class="container">
			@for(image <- images) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ImageApplication.get(image.imageId)">@image.imageId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @image.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @image.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Customtype: @image.customtype
					</li>
					<li class="btn btn-default disabled">
						Height: @image.height
					</li>
					<li class="btn btn-default disabled">
						Width: @image.width
					</li>
					<li class="btn btn-default disabled">
						Size: @image.size
					</li>
				</ul>
			}
		</div>
	</div>
}
