@(assetentrys: List[models.assetentry.Assetentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assetentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssetentryApplication.addAssetentry">Create New Assetentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Assetentry.
			</p>
		</div>
		<div class="container">
			@for(assetentry <- assetentrys) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.AssetentryApplication.get(assetentry.entryId)">@assetentry.entryId</a>
					</li>
					<li class="btn btn-default disabled">
						GroupId: @assetentry.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @assetentry.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @assetentry.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @assetentry.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @assetentry.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @assetentry.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @assetentry.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @assetentry.classPK
					</li>
					<li class="btn btn-default disabled">
						ClassUuid: @assetentry.classUuid
					</li>
					<li class="btn btn-default disabled">
						ClassTypeId: @assetentry.classTypeId
					</li>
					<li class="btn btn-default disabled">
						Listable: @assetentry.listable
					</li>
					<li class="btn btn-default disabled">
						Visible: @assetentry.visible
					</li>
					<li class="btn btn-default disabled">
						StartDate: @assetentry.startDate
					</li>
					<li class="btn btn-default disabled">
						EndDate: @assetentry.endDate
					</li>
					<li class="btn btn-default disabled">
						PublishDate: @assetentry.publishDate
					</li>
					<li class="btn btn-default disabled">
						ExpirationDate: @assetentry.expirationDate
					</li>
					<li class="btn btn-default disabled">
						MimeType: @assetentry.mimeType
					</li>
					<li class="btn btn-default disabled">
						Title: @assetentry.title
					</li>
					<li class="btn btn-default disabled">
						Description: @assetentry.description
					</li>
					<li class="btn btn-default disabled">
						Summary: @assetentry.summary
					</li>
					<li class="btn btn-default disabled">
						Url: @assetentry.url
					</li>
					<li class="btn btn-default disabled">
						LayoutUuid: @assetentry.layoutUuid
					</li>
					<li class="btn btn-default disabled">
						Height: @assetentry.height
					</li>
					<li class="btn btn-default disabled">
						Width: @assetentry.width
					</li>
					<li class="btn btn-default disabled">
						Priority: @assetentry.priority
					</li>
					<li class="btn btn-default disabled">
						ViewCount: @assetentry.viewCount
					</li>
				</ul>
			}
		</div>
	</div>
}
