@(assetentryFormData: Form[controllers.assetentry.AssetentryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AssetentryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(assetentryFormData("entryId").value != "0") {
				<h1>Edition of Assetentry #@assetentryFormData("entryId").value</h1>
				} else {
				<h1>Creation of a Assetentry</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.AssetentryApplication.all()">Back to Assetentrys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="entryId" name="entryId" value='@assetentryFormData("entryId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("classPK"))
				</div>
				<!-- ClassUuid -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("classUuid"))
				</div>
				<!-- ClassTypeId -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("classTypeId"))
				</div>
				<!-- Listable -->
				<div class="form-group">
				@helper.checkbox(assetentryFormData("listable"))
				</div>
				<!-- Visible -->
				<div class="form-group">
				@helper.checkbox(assetentryFormData("visible"))
				</div>
				<!-- StartDate -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("startDate"))
				</div>
				<!-- EndDate -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("endDate"))
				</div>
				<!-- PublishDate -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("publishDate"))
				</div>
				<!-- ExpirationDate -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("expirationDate"))
				</div>
				<!-- MimeType -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("mimeType"))
				</div>
				<!-- Title -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("title"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("description"))
				</div>
				<!-- Summary -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("summary"))
				</div>
				<!-- Url -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("url"))
				</div>
				<!-- LayoutUuid -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("layoutUuid"))
				</div>
				<!-- Height -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("height"))
				</div>
				<!-- Width -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("width"))
				</div>
				<!-- Priority -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("priority"))
				</div>
				<!-- ViewCount -->
				<div class="form-group">
				@helper.inputText(assetentryFormData("viewCount"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
