@(mbstatsusers: List[models.mbstatsuser.Mbstatsuser])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbstatsuser in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbstatsuserApplication.addMbstatsuser">Create New Mbstatsuser</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(mbstatsuser <- mbstatsusers) {
				<li>
					<div>
						<div>ID: <a href="@routes.MbstatsuserApplication.get(mbstatsuser.statsUserId)">@mbstatsuser.statsUserId</a></div>
						<div>GroupId: @mbstatsuser.groupId</div>
						<div>UserId: @mbstatsuser.userId</div>
						<div>MessageCount: @mbstatsuser.messageCount</div>
						<div>LastPostDate: @mbstatsuser.lastPostDate</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
