@(mbstatsusers: List[models.mbstatsuser.Mbstatsuser])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbstatsuser in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbstatsuserApplication.addMbstatsuser">Create New Mbstatsuser</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mbstatsuser.
			</p>
		</div>
		<div class="container">
			@for(mbstatsuser <- mbstatsusers) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.MbstatsuserApplication.get(mbstatsuser.statsUserId)">@mbstatsuser.statsUserId</a>
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbstatsuser.groupId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbstatsuser.userId
					</li>
					<li class="btn btn-default disabled">
						MessageCount: @mbstatsuser.messageCount
					</li>
					<li class="btn btn-default disabled">
						LastPostDate: @mbstatsuser.lastPostDate
					</li>
				</ul>
			}
		</div>
	</div>
}
