@(socialrelations: List[models.socialrelation.Socialrelation])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialrelation in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialrelationApplication.addSocialrelation">Create New Socialrelation</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialrelation.
			</p>
		</div>
		<div class="container">
			@for(socialrelation <- socialrelations) {
			<div class="row">
				<a class="btn btn-info" href="@routes.SocialrelationApplication.get(socialrelation.relationId)">@socialrelation.relationId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @socialrelation.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialrelation.companyId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @socialrelation.createDate
					</li>
					<li class="btn btn-default disabled">
						UserId1: @socialrelation.userId1
					</li>
					<li class="btn btn-default disabled">
						UserId2: @socialrelation.userId2
					</li>
					<li class="btn btn-default disabled">
						Customtype: @socialrelation.customtype
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
