@(ddmcontentFormData: Form[controllers.ddmcontent.DdmcontentFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Ddmcontent #@ddmcontentFormData("contentId").value</legend>

		@form(routes.DdmcontentApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(ddmcontentFormData("contentId"), 'readonly -> "readonly")

			<!-- Uuid -->
			@helper.inputText(ddmcontentFormData("uuid"))
			<!-- GroupId -->
			@helper.inputText(ddmcontentFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(ddmcontentFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(ddmcontentFormData("userId"))
			<!-- UserName -->
			@helper.inputText(ddmcontentFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(ddmcontentFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(ddmcontentFormData("modifiedDate"))
			<!-- Name -->
			@helper.inputText(ddmcontentFormData("name"))
			<!-- Description -->
			@helper.inputText(ddmcontentFormData("description"))
			<!-- Data -->
			@helper.inputText(ddmcontentFormData("data"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.DdmcontentApplication.all()">Back to Ddmcontent List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
