@(ddmcontentFormData: Form[controllers.ddmcontent.DdmcontentFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DdmcontentApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(ddmcontentFormData("contentId").value != "0") {
				<h1>Edition of Ddmcontent #@ddmcontentFormData("contentId").value</h1>
				} else {
				<h1>Creation of a Ddmcontent</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(ddmcontentFormData("contentId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.DdmcontentApplication.all()">Back to Ddmcontents</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="contentId" name="contentId" value='@ddmcontentFormData("contentId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("modifiedDate"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("description"))
				</div>
				<!-- Data -->
				<div class="form-group">
				@helper.inputText(ddmcontentFormData("data"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
