@(ddmcontents: List[models.ddmcontent.Ddmcontent])

@main("Welcome to GeneratedCRUD application") {

	<h1>Ddmcontents in the DB</h1>

	<p>
		<a href="@routes.DdmcontentApplication.addDdmcontent">Create New Ddmcontent</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(ddmcontent <- ddmcontents) {
		<li>
			<div>
				<div>ID: <a href="@routes.DdmcontentApplication.get(ddmcontent.contentId)">@ddmcontent.contentId</a></div>
				<div>Uuid: @ddmcontent.uuid</div>
				<div>GroupId: @ddmcontent.groupId</div>
				<div>CompanyId: @ddmcontent.companyId</div>
				<div>UserId: @ddmcontent.userId</div>
				<div>UserName: @ddmcontent.userName</div>
				<div>CreateDate: @ddmcontent.createDate</div>
				<div>ModifiedDate: @ddmcontent.modifiedDate</div>
				<div>Name: @ddmcontent.name</div>
				<div>Description: @ddmcontent.description</div>
				<div>Data: @ddmcontent.data</div>
			</div>
		</li>
	}
	</ul>

}
