@(ddmcontents: List[models.ddmcontent.Ddmcontent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmcontent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmcontentApplication.addDdmcontent">Create New Ddmcontent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ddmcontent.
			</p>
		</div>
		<div class="container">
			@for(ddmcontent <- ddmcontents) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DdmcontentApplication.get(ddmcontent.contentId)">@ddmcontent.contentId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @ddmcontent.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @ddmcontent.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddmcontent.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddmcontent.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddmcontent.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddmcontent.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @ddmcontent.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @ddmcontent.name
					</li>
					<li class="btn btn-default disabled">
						Description: @ddmcontent.description
					</li>
					<li class="btn btn-default disabled">
						Data: @ddmcontent.data
					</li>
				</ul>
			}
		</div>
	</div>
}
