@(layoutprototypes: List[models.layoutprototype.Layoutprototype])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutprototype in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutprototypeApplication.addLayoutprototype">Create New Layoutprototype</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Layoutprototype.
			</p>
		</div>
		<div class="container">
			@for(layoutprototype <- layoutprototypes) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.LayoutprototypeApplication.get(layoutprototype.layoutPrototypeId)">@layoutprototype.layoutPrototypeId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @layoutprototype.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @layoutprototype.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @layoutprototype.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @layoutprototype.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @layoutprototype.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @layoutprototype.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @layoutprototype.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @layoutprototype.name
					</li>
					<li class="btn btn-default disabled">
						Description: @layoutprototype.description
					</li>
					<li class="btn btn-default disabled">
						Settings: @layoutprototype.settings
					</li>
					<li class="btn btn-default disabled">
						Active: @layoutprototype.active
					</li>
				</ul>
			}
		</div>
	</div>
}
