@(taskFormData: Form[controllers.task.TaskFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Task #@taskFormData("id").value</legend>

		@form(routes.TaskApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(taskFormData("id"), 'readonly -> "readonly")

			<!-- Name -->
			@helper.inputText(taskFormData("name"))

			<!-- Street -->
			@helper.inputText(taskFormData("street"))


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.TaskApplication.all()">Back to Tasks</a>
					<button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		}
	</fieldset>

}