@(ratingsstatss: List[models.ratingsstats.Ratingsstats])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ratingsstats in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RatingsstatsApplication.addRatingsstats">Create New Ratingsstats</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ratingsstats.
			</p>
		</div>
		<div class="container">
			@for(ratingsstats <- ratingsstatss) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.RatingsstatsApplication.get(ratingsstats.statsId)">@ratingsstats.statsId</a>
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @ratingsstats.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @ratingsstats.classPK
					</li>
					<li class="btn btn-default disabled">
						TotalEntries: @ratingsstats.totalEntries
					</li>
					<li class="btn btn-default disabled">
						TotalScore: @ratingsstats.totalScore
					</li>
					<li class="btn btn-default disabled">
						AverageScore: @ratingsstats.averageScore
					</li>
				</ul>
			}
		</div>
	</div>
}
