@(ratingsstatsFormData: Form[controllers.ratingsstats.RatingsstatsFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Ratingsstats #@ratingsstatsFormData("statsId").value</legend>

		@form(routes.RatingsstatsApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(ratingsstatsFormData("statsId"), 'readonly -> "readonly")

			<!-- ClassNameId -->
			@helper.inputText(ratingsstatsFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(ratingsstatsFormData("classPK"))
			<!-- TotalEntries -->
			@helper.inputText(ratingsstatsFormData("totalEntries"))
			<!-- TotalScore -->
			@helper.inputText(ratingsstatsFormData("totalScore"))
			<!-- AverageScore -->
			@helper.inputText(ratingsstatsFormData("averageScore"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.RatingsstatsApplication.all()">Back to Ratingsstats List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
