@(socialactivitylimits: List[models.socialactivitylimit.Socialactivitylimit])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivitylimit in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivitylimitApplication.addSocialactivitylimit">Create New Socialactivitylimit</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialactivitylimit.
			</p>
		</div>
		<div class="container">
			@for(socialactivitylimit <- socialactivitylimits) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.SocialactivitylimitApplication.get(socialactivitylimit.activityLimitId)">@socialactivitylimit.activityLimitId</a>
					</div>
					<li class="btn btn-default disabled">
						GroupId: @socialactivitylimit.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialactivitylimit.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @socialactivitylimit.userId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @socialactivitylimit.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @socialactivitylimit.classPK
					</li>
					<li class="btn btn-default disabled">
						ActivityType: @socialactivitylimit.activityType
					</li>
					<li class="btn btn-default disabled">
						ActivityCounterName: @socialactivitylimit.activityCounterName
					</li>
					<li class="btn btn-default disabled">
						Value: @socialactivitylimit.value
					</li>
				</ul>
			}
		</div>
	</div>
}
