@(useridmappers: List[models.useridmapper.Useridmapper])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Useridmapper in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UseridmapperApplication.addUseridmapper">Create New Useridmapper</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(useridmapper <- useridmappers) {
				<li>
					<div>
						<div>ID: <a href="@routes.UseridmapperApplication.get(useridmapper.userIdMapperId)">@useridmapper.userIdMapperId</a></div>
						<div>MvccVersion: @useridmapper.mvccVersion</div>
						<div>UserId: @useridmapper.userId</div>
						<div>Customtype: @useridmapper.customtype</div>
						<div>Description: @useridmapper.description</div>
						<div>ExternalUserId: @useridmapper.externalUserId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
