@(useridmappers: List[models.useridmapper.Useridmapper])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Useridmapper in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UseridmapperApplication.addUseridmapper">Create New Useridmapper</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Useridmapper.
			</p>
		</div>
		<div class="container">
			@for(useridmapper <- useridmappers) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.UseridmapperApplication.get(useridmapper.userIdMapperId)">@useridmapper.userIdMapperId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @useridmapper.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						UserId: @useridmapper.userId
					</li>
					<li class="btn btn-default disabled">
						Customtype: @useridmapper.customtype
					</li>
					<li class="btn btn-default disabled">
						Description: @useridmapper.description
					</li>
					<li class="btn btn-default disabled">
						ExternalUserId: @useridmapper.externalUserId
					</li>
				</ul>
			}
		</div>
	</div>
}
