@(useridmapperFormData: Form[controllers.useridmapper.UseridmapperFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.UseridmapperApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(useridmapperFormData("userIdMapperId").value != "0") {
				<h1>Edition of Useridmapper #@useridmapperFormData("userIdMapperId").value</h1>
				} else {
				<h1>Creation of a Useridmapper</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(useridmapperFormData("userIdMapperId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.UseridmapperApplication.all()">Back to Useridmappers</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="userIdMapperId" name="userIdMapperId" value='@useridmapperFormData("userIdMapperId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(useridmapperFormData("mvccVersion"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(useridmapperFormData("userId"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(useridmapperFormData("customtype"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(useridmapperFormData("description"))
				</div>
				<!-- ExternalUserId -->
				<div class="form-group">
				@helper.inputText(useridmapperFormData("externalUserId"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
