@(ddlrecords: List[models.ddlrecord.Ddlrecord])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddlrecord in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdlrecordApplication.addDdlrecord">Create New Ddlrecord</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ddlrecord.
			</p>
		</div>
		<div class="container">
			@for(ddlrecord <- ddlrecords) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DdlrecordApplication.get(ddlrecord.recordId)">@ddlrecord.recordId</a>
					</div>
					<li class="btn btn-default disabled">
						Uuid: @ddlrecord.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @ddlrecord.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddlrecord.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddlrecord.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddlrecord.userName
					</li>
					<li class="btn btn-default disabled">
						VersionUserId: @ddlrecord.versionUserId
					</li>
					<li class="btn btn-default disabled">
						VersionUserName: @ddlrecord.versionUserName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddlrecord.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @ddlrecord.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						DDMStorageId: @ddlrecord.DDMStorageId
					</li>
					<li class="btn btn-default disabled">
						RecordSetId: @ddlrecord.recordSetId
					</li>
					<li class="btn btn-default disabled">
						Version: @ddlrecord.version
					</li>
					<li class="btn btn-default disabled">
						DisplayIndex: @ddlrecord.displayIndex
					</li>
				</ul>
			}
		</div>
	</div>
}
