@(ddlrecordFormData: Form[controllers.ddlrecord.DdlrecordFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DdlrecordApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(ddlrecordFormData("recordId").value != "0") {
				<h1>Edition of Ddlrecord #@ddlrecordFormData("recordId").value</h1>
				} else {
				<h1>Creation of a Ddlrecord</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(ddlrecordFormData("recordId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.DdlrecordApplication.all()">Back to Ddlrecords</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="recordId" name="recordId" value='@ddlrecordFormData("recordId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("userName"))
				</div>
				<!-- VersionUserId -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("versionUserId"))
				</div>
				<!-- VersionUserName -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("versionUserName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("modifiedDate"))
				</div>
				<!-- DDMStorageId -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("DDMStorageId"))
				</div>
				<!-- RecordSetId -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("recordSetId"))
				</div>
				<!-- Version -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("version"))
				</div>
				<!-- DisplayIndex -->
				<div class="form-group">
				@helper.inputText(ddlrecordFormData("displayIndex"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
