@(ddlrecordFormData: Form[controllers.ddlrecord.DdlrecordFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Ddlrecord #@ddlrecordFormData("recordId").value</legend>

		@form(routes.DdlrecordApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(ddlrecordFormData("recordId"), 'readonly -> "readonly")

			<!-- Uuid -->
			@helper.inputText(ddlrecordFormData("uuid"))
			<!-- GroupId -->
			@helper.inputText(ddlrecordFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(ddlrecordFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(ddlrecordFormData("userId"))
			<!-- UserName -->
			@helper.inputText(ddlrecordFormData("userName"))
			<!-- VersionUserId -->
			@helper.inputText(ddlrecordFormData("versionUserId"))
			<!-- VersionUserName -->
			@helper.inputText(ddlrecordFormData("versionUserName"))
			<!-- CreateDate -->
			@helper.inputText(ddlrecordFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(ddlrecordFormData("modifiedDate"))
			<!-- DDMStorageId -->
			@helper.inputText(ddlrecordFormData("DDMStorageId"))
			<!-- RecordSetId -->
			@helper.inputText(ddlrecordFormData("recordSetId"))
			<!-- Version -->
			@helper.inputText(ddlrecordFormData("version"))
			<!-- DisplayIndex -->
			@helper.inputText(ddlrecordFormData("displayIndex"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.DdlrecordApplication.all()">Back to Ddlrecord List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
