@(announcementsdeliveryFormData: Form[controllers.announcementsdelivery.AnnouncementsdeliveryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Announcementsdelivery #@announcementsdeliveryFormData("deliveryId").value</legend>

		@form(routes.AnnouncementsdeliveryApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(announcementsdeliveryFormData("deliveryId"), 'readonly -> "readonly")

			<!-- CompanyId -->
			@helper.inputText(announcementsdeliveryFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(announcementsdeliveryFormData("userId"))
			<!-- Customtype -->
			@helper.inputText(announcementsdeliveryFormData("customtype"))
			<!-- Email -->
			@helper.inputText(announcementsdeliveryFormData("email"))
			<!-- Sms -->
			@helper.inputText(announcementsdeliveryFormData("sms"))
			<!-- Website -->
			@helper.inputText(announcementsdeliveryFormData("website"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.AnnouncementsdeliveryApplication.all()">Back to Announcementsdelivery List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
