@(announcementsdeliverys: List[models.announcementsdelivery.Announcementsdelivery])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Announcementsdelivery in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AnnouncementsdeliveryApplication.addAnnouncementsdelivery">Create New Announcementsdelivery</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(announcementsdelivery <- announcementsdeliverys) {
				<li>
					<div>
						<div>ID: <a href="@routes.AnnouncementsdeliveryApplication.get(announcementsdelivery.deliveryId)">@announcementsdelivery.deliveryId</a></div>
						<div>CompanyId: @announcementsdelivery.companyId</div>
						<div>UserId: @announcementsdelivery.userId</div>
						<div>Customtype: @announcementsdelivery.customtype</div>
						<div>Email: @announcementsdelivery.email</div>
						<div>Sms: @announcementsdelivery.sms</div>
						<div>Website: @announcementsdelivery.website</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
