@(announcementsdeliverys: List[models.announcementsdelivery.Announcementsdelivery])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Announcementsdelivery in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AnnouncementsdeliveryApplication.addAnnouncementsdelivery">Create New Announcementsdelivery</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Announcementsdelivery.
			</p>
		</div>
		<div class="container">
			@for(announcementsdelivery <- announcementsdeliverys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.AnnouncementsdeliveryApplication.get(announcementsdelivery.deliveryId)">@announcementsdelivery.deliveryId</a>
				<ul>
					<li class="btn btn-default disabled">
						CompanyId: @announcementsdelivery.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @announcementsdelivery.userId
					</li>
					<li class="btn btn-default disabled">
						Customtype: @announcementsdelivery.customtype
					</li>
					<li class="btn btn-default disabled">
						Email: @announcementsdelivery.email
					</li>
					<li class="btn btn-default disabled">
						Sms: @announcementsdelivery.sms
					</li>
					<li class="btn btn-default disabled">
						Website: @announcementsdelivery.website
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
