@(announcementsdeliveryFormData: Form[controllers.announcementsdelivery.AnnouncementsdeliveryFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AnnouncementsdeliveryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(announcementsdeliveryFormData("deliveryId").value != "0") {
				<h1>Edition of Announcementsdelivery #@announcementsdeliveryFormData("deliveryId").value</h1>
				} else {
				<h1>Creation of a Announcementsdelivery</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(announcementsdeliveryFormData("deliveryId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.AnnouncementsdeliveryApplication.all()">Back to Announcementsdeliverys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="deliveryId" name="deliveryId" value='@announcementsdeliveryFormData("deliveryId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(announcementsdeliveryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(announcementsdeliveryFormData("userId"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(announcementsdeliveryFormData("customtype"))
				</div>
				<!-- Email -->
				<div class="form-group">
				@helper.checkbox(announcementsdeliveryFormData("email"))
				</div>
				<!-- Sms -->
				<div class="form-group">
				@helper.checkbox(announcementsdeliveryFormData("sms"))
				</div>
				<!-- Website -->
				<div class="form-group">
				@helper.checkbox(announcementsdeliveryFormData("website"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
