@(ddmstructureFormData: Form[controllers.ddmstructure.DdmstructureFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DdmstructureApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(ddmstructureFormData("structureId") != "0") {
				<h1>Edition of Ddmstructure #@ddmstructureFormData("structureId").value</h1>
				} else {
				<h1>Creation of a Ddmstructure</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.DdmstructureApplication.all()">Back to Ddmstructures</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="structureId" name="structureId" value='@ddmstructureFormData("structureId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("modifiedDate"))
				</div>
				<!-- ParentStructureId -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("parentStructureId"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("classNameId"))
				</div>
				<!-- StructureKey -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("structureKey"))
				</div>
				<!-- Version -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("version"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("description"))
				</div>
				<!-- Definition -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("definition"))
				</div>
				<!-- StorageType -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("storageType"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(ddmstructureFormData("customtype"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
