@(ddmstructures: List[models.ddmstructure.Ddmstructure])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmstructure in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmstructureApplication.addDdmstructure">Create New Ddmstructure</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Ddmstructure.
			</p>
		</div>
		<div class="container">
			@for(ddmstructure <- ddmstructures) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DdmstructureApplication.get(ddmstructure.structureId)">@ddmstructure.structureId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @ddmstructure.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @ddmstructure.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddmstructure.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddmstructure.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddmstructure.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddmstructure.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @ddmstructure.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ParentStructureId: @ddmstructure.parentStructureId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @ddmstructure.classNameId
					</li>
					<li class="btn btn-default disabled">
						StructureKey: @ddmstructure.structureKey
					</li>
					<li class="btn btn-default disabled">
						Version: @ddmstructure.version
					</li>
					<li class="btn btn-default disabled">
						Name: @ddmstructure.name
					</li>
					<li class="btn btn-default disabled">
						Description: @ddmstructure.description
					</li>
					<li class="btn btn-default disabled">
						Definition: @ddmstructure.definition
					</li>
					<li class="btn btn-default disabled">
						StorageType: @ddmstructure.storageType
					</li>
					<li class="btn btn-default disabled">
						Customtype: @ddmstructure.customtype
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
