@(resourceblockpermissions: List[models.resourceblockpermission.Resourceblockpermission])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourceblockpermission in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourceblockpermissionApplication.addResourceblockpermission">Create New Resourceblockpermission</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(resourceblockpermission <- resourceblockpermissions) {
				<li>
					<div>
						<div>ID: <a href="@routes.ResourceblockpermissionApplication.get(resourceblockpermission.resourceBlockPermissionId)">@resourceblockpermission.resourceBlockPermissionId</a></div>
						<div>MvccVersion: @resourceblockpermission.mvccVersion</div>
						<div>ResourceBlockId: @resourceblockpermission.resourceBlockId</div>
						<div>RoleId: @resourceblockpermission.roleId</div>
						<div>ActionIds: @resourceblockpermission.actionIds</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
