@(resourceblockpermissions: List[models.resourceblockpermission.Resourceblockpermission])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourceblockpermission in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourceblockpermissionApplication.addResourceblockpermission">Create New Resourceblockpermission</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Resourceblockpermission.
			</p>
		</div>
		<div class="container">
			@for(resourceblockpermission <- resourceblockpermissions) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ResourceblockpermissionApplication.get(resourceblockpermission.resourceBlockPermissionId)">@resourceblockpermission.resourceBlockPermissionId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @resourceblockpermission.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						ResourceBlockId: @resourceblockpermission.resourceBlockId
					</li>
					<li class="btn btn-default disabled">
						RoleId: @resourceblockpermission.roleId
					</li>
					<li class="btn btn-default disabled">
						ActionIds: @resourceblockpermission.actionIds
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
