@(resourceblockpermissionFormData: Form[controllers.resourceblockpermission.ResourceblockpermissionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ResourceblockpermissionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(resourceblockpermissionFormData("resourceBlockPermissionId").value != "0") {
				<h1>Edition of Resourceblockpermission #@resourceblockpermissionFormData("resourceBlockPermissionId").value</h1>
				} else {
				<h1>Creation of a Resourceblockpermission</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(resourceblockpermissionFormData("resourceBlockPermissionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ResourceblockpermissionApplication.all()">Back to Resourceblockpermissions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="resourceBlockPermissionId" name="resourceBlockPermissionId" value='@resourceblockpermissionFormData("resourceBlockPermissionId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(resourceblockpermissionFormData("mvccVersion"))
				</div>
				<!-- ResourceBlockId -->
				<div class="form-group">
				@helper.inputText(resourceblockpermissionFormData("resourceBlockId"))
				</div>
				<!-- RoleId -->
				<div class="form-group">
				@helper.inputText(resourceblockpermissionFormData("roleId"))
				</div>
				<!-- ActionIds -->
				<div class="form-group">
				@helper.inputText(resourceblockpermissionFormData("actionIds"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
