@(scproductversions: List[models.scproductversion.Scproductversion])

@main("Welcome to GeneratedCRUD application") {

	<h1>Scproductversions in the DB</h1>

	<p>
		<a href="@routes.ScproductversionApplication.addScproductversion">Create New Scproductversion</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(scproductversion <- scproductversions) {
		<li>
			<div>
				<div>ID: <a href="@routes.ScproductversionApplication.get(scproductversion.productVersionId)">@scproductversion.productVersionId</a></div>
				<div>CompanyId: @scproductversion.companyId</div>
				<div>UserId: @scproductversion.userId</div>
				<div>UserName: @scproductversion.userName</div>
				<div>CreateDate: @scproductversion.createDate</div>
				<div>ModifiedDate: @scproductversion.modifiedDate</div>
				<div>ProductEntryId: @scproductversion.productEntryId</div>
				<div>Version: @scproductversion.version</div>
				<div>ChangeLog: @scproductversion.changeLog</div>
				<div>DownloadPageURL: @scproductversion.downloadPageURL</div>
				<div>DirectDownloadURL: @scproductversion.directDownloadURL</div>
				<div>RepoStoreArtifact: @scproductversion.repoStoreArtifact</div>
			</div>
		</li>
	}
	</ul>

}
