@(scproductversionFormData: Form[controllers.scproductversion.ScproductversionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ScproductversionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(scproductversionFormData("productVersionId").value != "0") {
				<h1>Edition of Scproductversion #@scproductversionFormData("productVersionId").value</h1>
				} else {
				<h1>Creation of a Scproductversion</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(scproductversionFormData("productVersionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ScproductversionApplication.all()">Back to Scproductversions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="productVersionId" name="productVersionId" value='@scproductversionFormData("productVersionId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("modifiedDate"))
				</div>
				<!-- ProductEntryId -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("productEntryId"))
				</div>
				<!-- Version -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("version"))
				</div>
				<!-- ChangeLog -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("changeLog"))
				</div>
				<!-- DownloadPageURL -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("downloadPageURL"))
				</div>
				<!-- DirectDownloadURL -->
				<div class="form-group">
				@helper.inputText(scproductversionFormData("directDownloadURL"))
				</div>
				<!-- RepoStoreArtifact -->
				<div class="form-group">
				@helper.checkbox(scproductversionFormData("repoStoreArtifact"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
