@(scproductversions: List[models.scproductversion.Scproductversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Scproductversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ScproductversionApplication.addScproductversion">Create New Scproductversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Scproductversion.
			</p>
		</div>
		<div class="container">
			@for(scproductversion <- scproductversions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ScproductversionApplication.get(scproductversion.productVersionId)">@scproductversion.productVersionId</a>
					</div>
					<li class="btn btn-default disabled">
						CompanyId: @scproductversion.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @scproductversion.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @scproductversion.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @scproductversion.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @scproductversion.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ProductEntryId: @scproductversion.productEntryId
					</li>
					<li class="btn btn-default disabled">
						Version: @scproductversion.version
					</li>
					<li class="btn btn-default disabled">
						ChangeLog: @scproductversion.changeLog
					</li>
					<li class="btn btn-default disabled">
						DownloadPageURL: @scproductversion.downloadPageURL
					</li>
					<li class="btn btn-default disabled">
						DirectDownloadURL: @scproductversion.directDownloadURL
					</li>
					<li class="btn btn-default disabled">
						RepoStoreArtifact: @scproductversion.repoStoreArtifact
					</li>
				</ul>
			}
		</div>
	</div>
}
