@(layoutsets: List[models.layoutset.Layoutset])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutset in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutsetApplication.addLayoutset">Create New Layoutset</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(layoutset <- layoutsets) {
				<li>
					<div>
						<div>ID: <a href="@routes.LayoutsetApplication.get(layoutset.layoutSetId)">@layoutset.layoutSetId</a></div>
						<div>MvccVersion: @layoutset.mvccVersion</div>
						<div>GroupId: @layoutset.groupId</div>
						<div>CompanyId: @layoutset.companyId</div>
						<div>CreateDate: @layoutset.createDate</div>
						<div>ModifiedDate: @layoutset.modifiedDate</div>
						<div>PrivateLayout: @layoutset.privateLayout</div>
						<div>LogoId: @layoutset.logoId</div>
						<div>ThemeId: @layoutset.themeId</div>
						<div>ColorSchemeId: @layoutset.colorSchemeId</div>
						<div>WapThemeId: @layoutset.wapThemeId</div>
						<div>WapColorSchemeId: @layoutset.wapColorSchemeId</div>
						<div>Css: @layoutset.css</div>
						<div>PageCount: @layoutset.pageCount</div>
						<div>Settings: @layoutset.settings</div>
						<div>LayoutSetPrototypeUuid: @layoutset.layoutSetPrototypeUuid</div>
						<div>LayoutSetPrototypeLinkEnabled: @layoutset.layoutSetPrototypeLinkEnabled</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
