@(layoutsetFormData: Form[controllers.layoutset.LayoutsetFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Layoutset #@layoutsetFormData("layoutSetId").value</legend>

		@form(routes.LayoutsetApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(layoutsetFormData("layoutSetId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(layoutsetFormData("mvccVersion"))
			<!-- GroupId -->
			@helper.inputText(layoutsetFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(layoutsetFormData("companyId"))
			<!-- CreateDate -->
			@helper.inputText(layoutsetFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(layoutsetFormData("modifiedDate"))
			<!-- PrivateLayout -->
			@helper.inputText(layoutsetFormData("privateLayout"))
			<!-- LogoId -->
			@helper.inputText(layoutsetFormData("logoId"))
			<!-- ThemeId -->
			@helper.inputText(layoutsetFormData("themeId"))
			<!-- ColorSchemeId -->
			@helper.inputText(layoutsetFormData("colorSchemeId"))
			<!-- WapThemeId -->
			@helper.inputText(layoutsetFormData("wapThemeId"))
			<!-- WapColorSchemeId -->
			@helper.inputText(layoutsetFormData("wapColorSchemeId"))
			<!-- Css -->
			@helper.inputText(layoutsetFormData("css"))
			<!-- PageCount -->
			@helper.inputText(layoutsetFormData("pageCount"))
			<!-- Settings -->
			@helper.inputText(layoutsetFormData("settings"))
			<!-- LayoutSetPrototypeUuid -->
			@helper.inputText(layoutsetFormData("layoutSetPrototypeUuid"))
			<!-- LayoutSetPrototypeLinkEnabled -->
			@helper.inputText(layoutsetFormData("layoutSetPrototypeLinkEnabled"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.LayoutsetApplication.all()">Back to Layoutset List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
