@(layoutsets: List[models.layoutset.Layoutset])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutset in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutsetApplication.addLayoutset">Create New Layoutset</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Layoutset.
			</p>
		</div>
		<div class="container">
			@for(layoutset <- layoutsets) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.LayoutsetApplication.get(layoutset.layoutSetId)">@layoutset.layoutSetId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @layoutset.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @layoutset.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @layoutset.companyId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @layoutset.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @layoutset.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						PrivateLayout: @layoutset.privateLayout
					</li>
					<li class="btn btn-default disabled">
						LogoId: @layoutset.logoId
					</li>
					<li class="btn btn-default disabled">
						ThemeId: @layoutset.themeId
					</li>
					<li class="btn btn-default disabled">
						ColorSchemeId: @layoutset.colorSchemeId
					</li>
					<li class="btn btn-default disabled">
						WapThemeId: @layoutset.wapThemeId
					</li>
					<li class="btn btn-default disabled">
						WapColorSchemeId: @layoutset.wapColorSchemeId
					</li>
					<li class="btn btn-default disabled">
						Css: @layoutset.css
					</li>
					<li class="btn btn-default disabled">
						PageCount: @layoutset.pageCount
					</li>
					<li class="btn btn-default disabled">
						Settings: @layoutset.settings
					</li>
					<li class="btn btn-default disabled">
						LayoutSetPrototypeUuid: @layoutset.layoutSetPrototypeUuid
					</li>
					<li class="btn btn-default disabled">
						LayoutSetPrototypeLinkEnabled: @layoutset.layoutSetPrototypeLinkEnabled
					</li>
				</ul>
			}
		</div>
	</div>
}
