@(ddmtemplates: List[models.ddmtemplate.Ddmtemplate])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmtemplate in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmtemplateApplication.addDdmtemplate">Create New Ddmtemplate</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ddmtemplate.
			</p>
		</div>
		<div class="container">
			@for(ddmtemplate <- ddmtemplates) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DdmtemplateApplication.get(ddmtemplate.templateId)">@ddmtemplate.templateId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @ddmtemplate.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @ddmtemplate.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddmtemplate.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddmtemplate.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddmtemplate.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddmtemplate.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @ddmtemplate.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @ddmtemplate.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @ddmtemplate.classPK
					</li>
					<li class="btn btn-default disabled">
						SourceClassNameId: @ddmtemplate.sourceClassNameId
					</li>
					<li class="btn btn-default disabled">
						TemplateKey: @ddmtemplate.templateKey
					</li>
					<li class="btn btn-default disabled">
						Version: @ddmtemplate.version
					</li>
					<li class="btn btn-default disabled">
						Name: @ddmtemplate.name
					</li>
					<li class="btn btn-default disabled">
						Description: @ddmtemplate.description
					</li>
					<li class="btn btn-default disabled">
						Customtype: @ddmtemplate.customtype
					</li>
					<li class="btn btn-default disabled">
						Mode: @ddmtemplate.mode
					</li>
					<li class="btn btn-default disabled">
						Language: @ddmtemplate.language
					</li>
					<li class="btn btn-default disabled">
						Script: @ddmtemplate.script
					</li>
					<li class="btn btn-default disabled">
						Cacheable: @ddmtemplate.cacheable
					</li>
					<li class="btn btn-default disabled">
						SmallImage: @ddmtemplate.smallImage
					</li>
					<li class="btn btn-default disabled">
						SmallImageId: @ddmtemplate.smallImageId
					</li>
					<li class="btn btn-default disabled">
						SmallImageURL: @ddmtemplate.smallImageURL
					</li>
				</ul>
			}
		</div>
	</div>
}
