@(shoppingcartFormData: Form[controllers.shoppingcart.ShoppingcartFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ShoppingcartApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(shoppingcartFormData("cartId") != "0") {
				<h1>Edition of Shoppingcart #@shoppingcartFormData("cartId").value</h1>
				} else {
				<h1>Creation of a Shoppingcart</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.ShoppingcartApplication.all()">Back to Shoppingcarts</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="cartId" name="cartId" value='@shoppingcartFormData("cartId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("modifiedDate"))
				</div>
				<!-- ItemIds -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("itemIds"))
				</div>
				<!-- CouponCodes -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("couponCodes"))
				</div>
				<!-- AltShipping -->
				<div class="form-group">
				@helper.inputText(shoppingcartFormData("altShipping"))
				</div>
				<!-- Insure -->
				<div class="form-group">
				@helper.checkbox(shoppingcartFormData("insure"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
