@(shoppingcarts: List[models.shoppingcart.Shoppingcart])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingcart in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingcartApplication.addShoppingcart">Create New Shoppingcart</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Shoppingcart.
			</p>
		</div>
		<div class="container">
			@for(shoppingcart <- shoppingcarts) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ShoppingcartApplication.get(shoppingcart.cartId)">@shoppingcart.cartId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @shoppingcart.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @shoppingcart.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @shoppingcart.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @shoppingcart.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @shoppingcart.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @shoppingcart.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ItemIds: @shoppingcart.itemIds
					</li>
					<li class="btn btn-default disabled">
						CouponCodes: @shoppingcart.couponCodes
					</li>
					<li class="btn btn-default disabled">
						AltShipping: @shoppingcart.altShipping
					</li>
					<li class="btn btn-default disabled">
						Insure: @shoppingcart.insure
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
