@(countryFormData: Form[controllers.country.CountryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.CountryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(countryFormData("countryId").value != "0") {
				<h1>Edition of Country #@countryFormData("countryId").value</h1>
				} else {
				<h1>Creation of a Country</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(countryFormData("countryId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.CountryApplication.all()">Back to Countrys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="countryId" name="countryId" value='@countryFormData("countryId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(countryFormData("mvccVersion"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(countryFormData("name"))
				</div>
				<!-- A2 -->
				<div class="form-group">
				@helper.inputText(countryFormData("a2"))
				</div>
				<!-- A3 -->
				<div class="form-group">
				@helper.inputText(countryFormData("a3"))
				</div>
				<!-- Number -->
				<div class="form-group">
				@helper.inputText(countryFormData("number"))
				</div>
				<!-- Idd -->
				<div class="form-group">
				@helper.inputText(countryFormData("idd"))
				</div>
				<!-- ZipRequired -->
				<div class="form-group">
				@helper.checkbox(countryFormData("zipRequired"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(countryFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
