@(countrys: List[models.country.Country])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Country in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.CountryApplication.addCountry">Create New Country</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Country.
			</p>
		</div>
		<div class="container">
			@for(country <- countrys) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.CountryApplication.get(country.countryId)">@country.countryId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @country.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Name: @country.name
					</li>
					<li class="btn btn-default disabled">
						A2: @country.a2
					</li>
					<li class="btn btn-default disabled">
						A3: @country.a3
					</li>
					<li class="btn btn-default disabled">
						Number: @country.number
					</li>
					<li class="btn btn-default disabled">
						Idd: @country.idd
					</li>
					<li class="btn btn-default disabled">
						ZipRequired: @country.zipRequired
					</li>
					<li class="btn btn-default disabled">
						Active: @country.active
					</li>
				</ul>
			}
		</div>
	</div>
}
