@(socialactivitysettings: List[models.socialactivitysetting.Socialactivitysetting])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivitysetting in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivitysettingApplication.addSocialactivitysetting">Create New Socialactivitysetting</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialactivitysetting.
			</p>
		</div>
		<div class="container">
			@for(socialactivitysetting <- socialactivitysettings) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.SocialactivitysettingApplication.get(socialactivitysetting.activitySettingId)">@socialactivitysetting.activitySettingId</a>
					</div>
					<li class="btn btn-default disabled">
						GroupId: @socialactivitysetting.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialactivitysetting.companyId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @socialactivitysetting.classNameId
					</li>
					<li class="btn btn-default disabled">
						ActivityType: @socialactivitysetting.activityType
					</li>
					<li class="btn btn-default disabled">
						Name: @socialactivitysetting.name
					</li>
					<li class="btn btn-default disabled">
						Value: @socialactivitysetting.value
					</li>
				</ul>
			}
		</div>
	</div>
}
