@(socialactivitysettingFormData: Form[controllers.socialactivitysetting.SocialactivitysettingFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.SocialactivitysettingApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(socialactivitysettingFormData("activitySettingId").value != "0") {
				<h1>Edition of Socialactivitysetting #@socialactivitysettingFormData("activitySettingId").value</h1>
				} else {
				<h1>Creation of a Socialactivitysetting</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(socialactivitysettingFormData("activitySettingId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.SocialactivitysettingApplication.all()">Back to Socialactivitysettings</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="activitySettingId" name="activitySettingId" value='@socialactivitysettingFormData("activitySettingId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(socialactivitysettingFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(socialactivitysettingFormData("companyId"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(socialactivitysettingFormData("classNameId"))
				</div>
				<!-- ActivityType -->
				<div class="form-group">
				@helper.inputText(socialactivitysettingFormData("activityType"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(socialactivitysettingFormData("name"))
				</div>
				<!-- Value -->
				<div class="form-group">
				@helper.inputText(socialactivitysettingFormData("value"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
