@(socialactivitysettings: List[models.socialactivitysetting.Socialactivitysetting])

@main("Welcome to GeneratedCRUD application") {

	<h1>Socialactivitysettings in the DB</h1>

	<p>
		<a href="@routes.SocialactivitysettingApplication.addSocialactivitysetting">Create New Socialactivitysetting</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(socialactivitysetting <- socialactivitysettings) {
		<li>
			<div>
				<div>ID: <a href="@routes.SocialactivitysettingApplication.get(socialactivitysetting.activitySettingId)">@socialactivitysetting.activitySettingId</a></div>
				<div>GroupId: @socialactivitysetting.groupId</div>
				<div>CompanyId: @socialactivitysetting.companyId</div>
				<div>ClassNameId: @socialactivitysetting.classNameId</div>
				<div>ActivityType: @socialactivitysetting.activityType</div>
				<div>Name: @socialactivitysetting.name</div>
				<div>Value: @socialactivitysetting.value</div>
			</div>
		</li>
	}
	</ul>

}
