@(journalcontentsearchs: List[models.journalcontentsearch.Journalcontentsearch])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Journalcontentsearch in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.JournalcontentsearchApplication.addJournalcontentsearch">Create New Journalcontentsearch</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(journalcontentsearch <- journalcontentsearchs) {
				<li>
					<div>
						<div>ID: <a href="@routes.JournalcontentsearchApplication.get(journalcontentsearch.contentSearchId)">@journalcontentsearch.contentSearchId</a></div>
						<div>GroupId: @journalcontentsearch.groupId</div>
						<div>CompanyId: @journalcontentsearch.companyId</div>
						<div>PrivateLayout: @journalcontentsearch.privateLayout</div>
						<div>LayoutId: @journalcontentsearch.layoutId</div>
						<div>PortletId: @journalcontentsearch.portletId</div>
						<div>ArticleId: @journalcontentsearch.articleId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
