@(journalcontentsearchs: List[models.journalcontentsearch.Journalcontentsearch])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Journalcontentsearch in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.JournalcontentsearchApplication.addJournalcontentsearch">Create New Journalcontentsearch</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Journalcontentsearch.
			</p>
		</div>
		<div class="container">
			@for(journalcontentsearch <- journalcontentsearchs) {
			<div class="row">
				<a class="btn btn-info" href="@routes.JournalcontentsearchApplication.get(journalcontentsearch.contentSearchId)">@journalcontentsearch.contentSearchId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @journalcontentsearch.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @journalcontentsearch.companyId
					</li>
					<li class="btn btn-default disabled">
						PrivateLayout: @journalcontentsearch.privateLayout
					</li>
					<li class="btn btn-default disabled">
						LayoutId: @journalcontentsearch.layoutId
					</li>
					<li class="btn btn-default disabled">
						PortletId: @journalcontentsearch.portletId
					</li>
					<li class="btn btn-default disabled">
						ArticleId: @journalcontentsearch.articleId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
