@(regions: List[models.region.Region])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Region in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RegionApplication.addRegion">Create New Region</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(region <- regions) {
				<li>
					<div>
						<div>ID: <a href="@routes.RegionApplication.get(region.regionId)">@region.regionId</a></div>
						<div>MvccVersion: @region.mvccVersion</div>
						<div>CountryId: @region.countryId</div>
						<div>RegionCode: @region.regionCode</div>
						<div>Name: @region.name</div>
						<div>Active: @region.active</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
