@(regions: List[models.region.Region])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Region in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RegionApplication.addRegion">Create New Region</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Region.
			</p>
		</div>
		<div class="container">
			@for(region <- regions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.RegionApplication.get(region.regionId)">@region.regionId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @region.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CountryId: @region.countryId
					</li>
					<li class="btn btn-default disabled">
						RegionCode: @region.regionCode
					</li>
					<li class="btn btn-default disabled">
						Name: @region.name
					</li>
					<li class="btn btn-default disabled">
						Active: @region.active
					</li>
				</ul>
			}
		</div>
	</div>
}
