@(regionFormData: Form[controllers.region.RegionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.RegionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(regionFormData("regionId").value != "0") {
				<h1>Edition of Region #@regionFormData("regionId").value</h1>
				} else {
				<h1>Creation of a Region</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(regionFormData("regionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.RegionApplication.all()">Back to Regions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="regionId" name="regionId" value='@regionFormData("regionId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(regionFormData("mvccVersion"))
				</div>
				<!-- CountryId -->
				<div class="form-group">
				@helper.inputText(regionFormData("countryId"))
				</div>
				<!-- RegionCode -->
				<div class="form-group">
				@helper.inputText(regionFormData("regionCode"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(regionFormData("name"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(regionFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
