@(browsertrackers: List[models.browsertracker.Browsertracker])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Browsertracker in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.BrowsertrackerApplication.addBrowsertracker">Create New Browsertracker</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(browsertracker <- browsertrackers) {
				<li>
					<div>
						<div>ID: <a href="@routes.BrowsertrackerApplication.get(browsertracker.browserTrackerId)">@browsertracker.browserTrackerId</a></div>
						<div>MvccVersion: @browsertracker.mvccVersion</div>
						<div>UserId: @browsertracker.userId</div>
						<div>BrowserKey: @browsertracker.browserKey</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
