@(browsertrackers: List[models.browsertracker.Browsertracker])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Browsertracker in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.BrowsertrackerApplication.addBrowsertracker">Create New Browsertracker</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Browsertracker.
			</p>
		</div>
		<div class="container">
			@for(browsertracker <- browsertrackers) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.BrowsertrackerApplication.get(browsertracker.browserTrackerId)">@browsertracker.browserTrackerId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @browsertracker.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						UserId: @browsertracker.userId
					</li>
					<li class="btn btn-default disabled">
						BrowserKey: @browsertracker.browserKey
					</li>
				</ul>
			}
		</div>
	</div>
}
