@(pluginsettings: List[models.pluginsetting.Pluginsetting])

@main("Welcome to GeneratedCRUD application") {

	<h1>Pluginsettings in the DB</h1>

	<p>
		<a href="@routes.PluginsettingApplication.addPluginsetting">Create New Pluginsetting</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(pluginsetting <- pluginsettings) {
		<li>
			<div>
				<div>ID: <a href="@routes.PluginsettingApplication.get(pluginsetting.pluginSettingId)">@pluginsetting.pluginSettingId</a></div>
				<div>MvccVersion: @pluginsetting.mvccVersion</div>
				<div>CompanyId: @pluginsetting.companyId</div>
				<div>PluginId: @pluginsetting.pluginId</div>
				<div>PluginType: @pluginsetting.pluginType</div>
				<div>Roles: @pluginsetting.roles</div>
				<div>Active: @pluginsetting.active</div>
			</div>
		</li>
	}
	</ul>

}
