@(pluginsettings: List[models.pluginsetting.Pluginsetting])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Pluginsetting in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PluginsettingApplication.addPluginsetting">Create New Pluginsetting</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Pluginsetting.
			</p>
		</div>
		<div class="container">
			@for(pluginsetting <- pluginsettings) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.PluginsettingApplication.get(pluginsetting.pluginSettingId)">@pluginsetting.pluginSettingId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @pluginsetting.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @pluginsetting.companyId
					</li>
					<li class="btn btn-default disabled">
						PluginId: @pluginsetting.pluginId
					</li>
					<li class="btn btn-default disabled">
						PluginType: @pluginsetting.pluginType
					</li>
					<li class="btn btn-default disabled">
						Roles: @pluginsetting.roles
					</li>
					<li class="btn btn-default disabled">
						Active: @pluginsetting.active
					</li>
				</ul>
			}
		</div>
	</div>
}
