@(usernotificationevents: List[models.usernotificationevent.Usernotificationevent])

@main("Welcome to GeneratedCRUD application") {

	<h1>Usernotificationevents in the DB</h1>

	<p>
		<a href="@routes.UsernotificationeventApplication.addUsernotificationevent">Create New Usernotificationevent</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(usernotificationevent <- usernotificationevents) {
		<li>
			<div>
				<div>ID: <a href="@routes.UsernotificationeventApplication.get(usernotificationevent.userNotificationEventId)">@usernotificationevent.userNotificationEventId</a></div>
				<div>MvccVersion: @usernotificationevent.mvccVersion</div>
				<div>Uuid: @usernotificationevent.uuid</div>
				<div>CompanyId: @usernotificationevent.companyId</div>
				<div>UserId: @usernotificationevent.userId</div>
				<div>Customtype: @usernotificationevent.customtype</div>
				<div>Timestamp: @usernotificationevent.timestamp</div>
				<div>DeliveryType: @usernotificationevent.deliveryType</div>
				<div>DeliverBy: @usernotificationevent.deliverBy</div>
				<div>Delivered: @usernotificationevent.delivered</div>
				<div>Payload: @usernotificationevent.payload</div>
				<div>ActionRequired: @usernotificationevent.actionRequired</div>
				<div>Archived: @usernotificationevent.archived</div>
			</div>
		</li>
	}
	</ul>

}
