@(usernotificationeventFormData: Form[controllers.usernotificationevent.UsernotificationeventFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.UsernotificationeventApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(usernotificationeventFormData("userNotificationEventId").value != "0") {
				<h1>Edition of Usernotificationevent #@usernotificationeventFormData("userNotificationEventId").value</h1>
				} else {
				<h1>Creation of a Usernotificationevent</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.UsernotificationeventApplication.all()">Back to Usernotificationevents</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="userNotificationEventId" name="userNotificationEventId" value='@usernotificationeventFormData("userNotificationEventId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("uuid"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("userId"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("customtype"))
				</div>
				<!-- Timestamp -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("timestamp"))
				</div>
				<!-- DeliveryType -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("deliveryType"))
				</div>
				<!-- DeliverBy -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("deliverBy"))
				</div>
				<!-- Delivered -->
				<div class="form-group">
				@helper.checkbox(usernotificationeventFormData("delivered"))
				</div>
				<!-- Payload -->
				<div class="form-group">
				@helper.inputText(usernotificationeventFormData("payload"))
				</div>
				<!-- ActionRequired -->
				<div class="form-group">
				@helper.checkbox(usernotificationeventFormData("actionRequired"))
				</div>
				<!-- Archived -->
				<div class="form-group">
				@helper.checkbox(usernotificationeventFormData("archived"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
