@(dlfolders: List[models.dlfolder.Dlfolder])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfolder in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfolderApplication.addDlfolder">Create New Dlfolder</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Dlfolder.
			</p>
		</div>
		<div class="container">
			@for(dlfolder <- dlfolders) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DlfolderApplication.get(dlfolder.folderId)">@dlfolder.folderId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @dlfolder.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @dlfolder.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @dlfolder.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @dlfolder.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @dlfolder.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @dlfolder.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @dlfolder.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						RepositoryId: @dlfolder.repositoryId
					</li>
					<li class="btn btn-default disabled">
						MountPoint: @dlfolder.mountPoint
					</li>
					<li class="btn btn-default disabled">
						ParentFolderId: @dlfolder.parentFolderId
					</li>
					<li class="btn btn-default disabled">
						TreePath: @dlfolder.treePath
					</li>
					<li class="btn btn-default disabled">
						Name: @dlfolder.name
					</li>
					<li class="btn btn-default disabled">
						Description: @dlfolder.description
					</li>
					<li class="btn btn-default disabled">
						LastPostDate: @dlfolder.lastPostDate
					</li>
					<li class="btn btn-default disabled">
						DefaultFileEntryTypeId: @dlfolder.defaultFileEntryTypeId
					</li>
					<li class="btn btn-default disabled">
						Hidden: @dlfolder.hidden
					</li>
					<li class="btn btn-default disabled">
						RestrictionType: @dlfolder.restrictionType
					</li>
					<li class="btn btn-default disabled">
						Status: @dlfolder.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @dlfolder.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @dlfolder.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @dlfolder.statusDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
