@(exportimportconfigurations: List[models.exportimportconfiguration.Exportimportconfiguration])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Exportimportconfiguration in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ExportimportconfigurationApplication.addExportimportconfiguration">Create New Exportimportconfiguration</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Exportimportconfiguration.
			</p>
		</div>
		<div class="container">
			@for(exportimportconfiguration <- exportimportconfigurations) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ExportimportconfigurationApplication.get(exportimportconfiguration.exportImportConfigurationId)">@exportimportconfiguration.exportImportConfigurationId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @exportimportconfiguration.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @exportimportconfiguration.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @exportimportconfiguration.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @exportimportconfiguration.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @exportimportconfiguration.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @exportimportconfiguration.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @exportimportconfiguration.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @exportimportconfiguration.name
					</li>
					<li class="btn btn-default disabled">
						Description: @exportimportconfiguration.description
					</li>
					<li class="btn btn-default disabled">
						Customtype: @exportimportconfiguration.customtype
					</li>
					<li class="btn btn-default disabled">
						Settings: @exportimportconfiguration.settings
					</li>
					<li class="btn btn-default disabled">
						Status: @exportimportconfiguration.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @exportimportconfiguration.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @exportimportconfiguration.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @exportimportconfiguration.statusDate
					</li>
				</ul>
			}
		</div>
	</div>
}
