@(scproductentrys: List[models.scproductentry.Scproductentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Scproductentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ScproductentryApplication.addScproductentry">Create New Scproductentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Scproductentry.
			</p>
		</div>
		<div class="container">
			@for(scproductentry <- scproductentrys) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ScproductentryApplication.get(scproductentry.productEntryId)">@scproductentry.productEntryId</a>
					</div>
					<li class="btn btn-default disabled">
						GroupId: @scproductentry.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @scproductentry.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @scproductentry.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @scproductentry.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @scproductentry.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @scproductentry.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @scproductentry.name
					</li>
					<li class="btn btn-default disabled">
						Customtype: @scproductentry.customtype
					</li>
					<li class="btn btn-default disabled">
						Tags: @scproductentry.tags
					</li>
					<li class="btn btn-default disabled">
						ShortDescription: @scproductentry.shortDescription
					</li>
					<li class="btn btn-default disabled">
						LongDescription: @scproductentry.longDescription
					</li>
					<li class="btn btn-default disabled">
						PageURL: @scproductentry.pageURL
					</li>
					<li class="btn btn-default disabled">
						Author: @scproductentry.author
					</li>
					<li class="btn btn-default disabled">
						RepoGroupId: @scproductentry.repoGroupId
					</li>
					<li class="btn btn-default disabled">
						RepoArtifactId: @scproductentry.repoArtifactId
					</li>
				</ul>
			}
		</div>
	</div>
}
