@(scproductentrys: List[models.scproductentry.Scproductentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Scproductentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ScproductentryApplication.addScproductentry">Create New Scproductentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(scproductentry <- scproductentrys) {
				<li>
					<div>
						<div>ID: <a href="@routes.ScproductentryApplication.get(scproductentry.productEntryId)">@scproductentry.productEntryId</a></div>
						<div>GroupId: @scproductentry.groupId</div>
						<div>CompanyId: @scproductentry.companyId</div>
						<div>UserId: @scproductentry.userId</div>
						<div>UserName: @scproductentry.userName</div>
						<div>CreateDate: @scproductentry.createDate</div>
						<div>ModifiedDate: @scproductentry.modifiedDate</div>
						<div>Name: @scproductentry.name</div>
						<div>Customtype: @scproductentry.customtype</div>
						<div>Tags: @scproductentry.tags</div>
						<div>ShortDescription: @scproductentry.shortDescription</div>
						<div>LongDescription: @scproductentry.longDescription</div>
						<div>PageURL: @scproductentry.pageURL</div>
						<div>Author: @scproductentry.author</div>
						<div>RepoGroupId: @scproductentry.repoGroupId</div>
						<div>RepoArtifactId: @scproductentry.repoArtifactId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
