@(mbcategoryFormData: Form[controllers.mbcategory.MbcategoryFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MbcategoryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(mbcategoryFormData("categoryId").value != "0") {
				<h1>Edition of Mbcategory #@mbcategoryFormData("categoryId").value</h1>
				} else {
				<h1>Creation of a Mbcategory</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(mbcategoryFormData("categoryId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.MbcategoryApplication.all()">Back to Mbcategorys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="categoryId" name="categoryId" value='@mbcategoryFormData("categoryId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("modifiedDate"))
				</div>
				<!-- ParentCategoryId -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("parentCategoryId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("description"))
				</div>
				<!-- DisplayStyle -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("displayStyle"))
				</div>
				<!-- ThreadCount -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("threadCount"))
				</div>
				<!-- MessageCount -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("messageCount"))
				</div>
				<!-- LastPostDate -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("lastPostDate"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("status"))
				</div>
				<!-- StatusByUserId -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("statusByUserId"))
				</div>
				<!-- StatusByUserName -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("statusByUserName"))
				</div>
				<!-- StatusDate -->
				<div class="form-group">
				@helper.inputText(mbcategoryFormData("statusDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
