@(mbcategorys: List[models.mbcategory.Mbcategory])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbcategory in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbcategoryApplication.addMbcategory">Create New Mbcategory</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Mbcategory.
			</p>
		</div>
		<div class="container">
			@for(mbcategory <- mbcategorys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.MbcategoryApplication.get(mbcategory.categoryId)">@mbcategory.categoryId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @mbcategory.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbcategory.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mbcategory.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbcategory.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mbcategory.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mbcategory.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mbcategory.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ParentCategoryId: @mbcategory.parentCategoryId
					</li>
					<li class="btn btn-default disabled">
						Name: @mbcategory.name
					</li>
					<li class="btn btn-default disabled">
						Description: @mbcategory.description
					</li>
					<li class="btn btn-default disabled">
						DisplayStyle: @mbcategory.displayStyle
					</li>
					<li class="btn btn-default disabled">
						ThreadCount: @mbcategory.threadCount
					</li>
					<li class="btn btn-default disabled">
						MessageCount: @mbcategory.messageCount
					</li>
					<li class="btn btn-default disabled">
						LastPostDate: @mbcategory.lastPostDate
					</li>
					<li class="btn btn-default disabled">
						Status: @mbcategory.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @mbcategory.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @mbcategory.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @mbcategory.statusDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
