@(usernotificationdeliverys: List[models.usernotificationdelivery.Usernotificationdelivery])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Usernotificationdelivery in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UsernotificationdeliveryApplication.addUsernotificationdelivery">Create New Usernotificationdelivery</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(usernotificationdelivery <- usernotificationdeliverys) {
				<li>
					<div>
						<div>ID: <a href="@routes.UsernotificationdeliveryApplication.get(usernotificationdelivery.userNotificationDeliveryId)">@usernotificationdelivery.userNotificationDeliveryId</a></div>
						<div>MvccVersion: @usernotificationdelivery.mvccVersion</div>
						<div>CompanyId: @usernotificationdelivery.companyId</div>
						<div>UserId: @usernotificationdelivery.userId</div>
						<div>PortletId: @usernotificationdelivery.portletId</div>
						<div>ClassNameId: @usernotificationdelivery.classNameId</div>
						<div>NotificationType: @usernotificationdelivery.notificationType</div>
						<div>DeliveryType: @usernotificationdelivery.deliveryType</div>
						<div>Deliver: @usernotificationdelivery.deliver</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
