@(usernotificationdeliverys: List[models.usernotificationdelivery.Usernotificationdelivery])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Usernotificationdelivery in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UsernotificationdeliveryApplication.addUsernotificationdelivery">Create New Usernotificationdelivery</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Usernotificationdelivery.
			</p>
		</div>
		<div class="container">
			@for(usernotificationdelivery <- usernotificationdeliverys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.UsernotificationdeliveryApplication.get(usernotificationdelivery.userNotificationDeliveryId)">@usernotificationdelivery.userNotificationDeliveryId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @usernotificationdelivery.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @usernotificationdelivery.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @usernotificationdelivery.userId
					</li>
					<li class="btn btn-default disabled">
						PortletId: @usernotificationdelivery.portletId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @usernotificationdelivery.classNameId
					</li>
					<li class="btn btn-default disabled">
						NotificationType: @usernotificationdelivery.notificationType
					</li>
					<li class="btn btn-default disabled">
						DeliveryType: @usernotificationdelivery.deliveryType
					</li>
					<li class="btn btn-default disabled">
						Deliver: @usernotificationdelivery.deliver
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
