@(ddmstoragelinks: List[models.ddmstoragelink.Ddmstoragelink])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmstoragelink in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmstoragelinkApplication.addDdmstoragelink">Create New Ddmstoragelink</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Ddmstoragelink.
			</p>
		</div>
		<div class="container">
			@for(ddmstoragelink <- ddmstoragelinks) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DdmstoragelinkApplication.get(ddmstoragelink.storageLinkId)">@ddmstoragelink.storageLinkId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @ddmstoragelink.uuid
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @ddmstoragelink.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @ddmstoragelink.classPK
					</li>
					<li class="btn btn-default disabled">
						StructureId: @ddmstoragelink.structureId
					</li>
				</ul>
			}
		</div>
	</div>
}
