@(ddmstoragelinks: List[models.ddmstoragelink.Ddmstoragelink])

@main("Welcome to GeneratedCRUD application") {

	<h1>Ddmstoragelinks in the DB</h1>

	<p>
		<a href="@routes.DdmstoragelinkApplication.addDdmstoragelink">Create New Ddmstoragelink</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(ddmstoragelink <- ddmstoragelinks) {
		<li>
			<div>
				<div>ID: <a href="@routes.DdmstoragelinkApplication.get(ddmstoragelink.storageLinkId)">@ddmstoragelink.storageLinkId</a></div>
				<div>Uuid: @ddmstoragelink.uuid</div>
				<div>ClassNameId: @ddmstoragelink.classNameId</div>
				<div>ClassPK: @ddmstoragelink.classPK</div>
				<div>StructureId: @ddmstoragelink.structureId</div>
			</div>
		</li>
	}
	</ul>

}
