@(backgroundtasks: List[models.backgroundtask.Backgroundtask])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Backgroundtask in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.BackgroundtaskApplication.addBackgroundtask">Create New Backgroundtask</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Backgroundtask.
			</p>
		</div>
		<div class="container">
			@for(backgroundtask <- backgroundtasks) {
			<div class="row">
				<a class="btn btn-info" href="@routes.BackgroundtaskApplication.get(backgroundtask.backgroundTaskId)">@backgroundtask.backgroundTaskId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @backgroundtask.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @backgroundtask.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @backgroundtask.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @backgroundtask.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @backgroundtask.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @backgroundtask.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @backgroundtask.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @backgroundtask.name
					</li>
					<li class="btn btn-default disabled">
						ServletContextNames: @backgroundtask.servletContextNames
					</li>
					<li class="btn btn-default disabled">
						TaskExecutorClassName: @backgroundtask.taskExecutorClassName
					</li>
					<li class="btn btn-default disabled">
						TaskContextMap: @backgroundtask.taskContextMap
					</li>
					<li class="btn btn-default disabled">
						Completed: @backgroundtask.completed
					</li>
					<li class="btn btn-default disabled">
						CompletionDate: @backgroundtask.completionDate
					</li>
					<li class="btn btn-default disabled">
						Status: @backgroundtask.status
					</li>
					<li class="btn btn-default disabled">
						StatusMessage: @backgroundtask.statusMessage
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
