@(backgroundtaskFormData: Form[controllers.backgroundtask.BackgroundtaskFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.BackgroundtaskApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(backgroundtaskFormData("backgroundTaskId").value != "0") {
				<h1>Edition of Backgroundtask #@backgroundtaskFormData("backgroundTaskId").value</h1>
				} else {
				<h1>Creation of a Backgroundtask</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(backgroundtaskFormData("backgroundTaskId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.BackgroundtaskApplication.all()">Back to Backgroundtasks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="backgroundTaskId" name="backgroundTaskId" value='@backgroundtaskFormData("backgroundTaskId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("mvccVersion"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("modifiedDate"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("name"))
				</div>
				<!-- ServletContextNames -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("servletContextNames"))
				</div>
				<!-- TaskExecutorClassName -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("taskExecutorClassName"))
				</div>
				<!-- TaskContextMap -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("taskContextMap"))
				</div>
				<!-- Completed -->
				<div class="form-group">
				@helper.checkbox(backgroundtaskFormData("completed"))
				</div>
				<!-- CompletionDate -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("completionDate"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("status"))
				</div>
				<!-- StatusMessage -->
				<div class="form-group">
				@helper.inputText(backgroundtaskFormData("statusMessage"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
