@(shards: List[models.shard.Shard])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shard in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShardApplication.addShard">Create New Shard</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Shard.
			</p>
		</div>
		<div class="container">
			@for(shard <- shards) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ShardApplication.get(shard.shardId)">@shard.shardId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @shard.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @shard.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @shard.classPK
					</li>
					<li class="btn btn-default disabled">
						Name: @shard.name
					</li>
				</ul>
			}
		</div>
	</div>
}
