@(shardFormData: Form[controllers.shard.ShardFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Shard #@shardFormData("shardId").value</legend>

		@form(routes.ShardApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(shardFormData("shardId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(shardFormData("mvccVersion"))
			<!-- ClassNameId -->
			@helper.inputText(shardFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(shardFormData("classPK"))
			<!-- Name -->
			@helper.inputText(shardFormData("name"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ShardApplication.all()">Back to Shard List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
