@(socialactivitys: List[models.socialactivity.Socialactivity])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivity in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivityApplication.addSocialactivity">Create New Socialactivity</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Socialactivity.
			</p>
		</div>
		<div class="container">
			@for(socialactivity <- socialactivitys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.SocialactivityApplication.get(socialactivity.activityId)">@socialactivity.activityId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @socialactivity.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialactivity.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @socialactivity.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @socialactivity.createDate
					</li>
					<li class="btn btn-default disabled">
						ActivitySetId: @socialactivity.activitySetId
					</li>
					<li class="btn btn-default disabled">
						MirrorActivityId: @socialactivity.mirrorActivityId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @socialactivity.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @socialactivity.classPK
					</li>
					<li class="btn btn-default disabled">
						ParentClassNameId: @socialactivity.parentClassNameId
					</li>
					<li class="btn btn-default disabled">
						ParentClassPK: @socialactivity.parentClassPK
					</li>
					<li class="btn btn-default disabled">
						Customtype: @socialactivity.customtype
					</li>
					<li class="btn btn-default disabled">
						ExtraData: @socialactivity.extraData
					</li>
					<li class="btn btn-default disabled">
						ReceiverUserId: @socialactivity.receiverUserId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
