@(shoppingorderitems: List[models.shoppingorderitem.Shoppingorderitem])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingorderitem in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingorderitemApplication.addShoppingorderitem">Create New Shoppingorderitem</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Shoppingorderitem.
			</p>
		</div>
		<div class="container">
			@for(shoppingorderitem <- shoppingorderitems) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ShoppingorderitemApplication.get(shoppingorderitem.orderItemId)">@shoppingorderitem.orderItemId</a>
				<ul>
					<li class="btn btn-default disabled">
						OrderId: @shoppingorderitem.orderId
					</li>
					<li class="btn btn-default disabled">
						ItemId: @shoppingorderitem.itemId
					</li>
					<li class="btn btn-default disabled">
						Sku: @shoppingorderitem.sku
					</li>
					<li class="btn btn-default disabled">
						Name: @shoppingorderitem.name
					</li>
					<li class="btn btn-default disabled">
						Description: @shoppingorderitem.description
					</li>
					<li class="btn btn-default disabled">
						Properties: @shoppingorderitem.properties
					</li>
					<li class="btn btn-default disabled">
						Price: @shoppingorderitem.price
					</li>
					<li class="btn btn-default disabled">
						Quantity: @shoppingorderitem.quantity
					</li>
					<li class="btn btn-default disabled">
						ShippedDate: @shoppingorderitem.shippedDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
