@(shoppingorderitemFormData: Form[controllers.shoppingorderitem.ShoppingorderitemFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Shoppingorderitem #@shoppingorderitemFormData("orderItemId").value</legend>

		@form(routes.ShoppingorderitemApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(shoppingorderitemFormData("orderItemId"), 'readonly -> "readonly")

			<!-- OrderId -->
			@helper.inputText(shoppingorderitemFormData("orderId"))
			<!-- ItemId -->
			@helper.inputText(shoppingorderitemFormData("itemId"))
			<!-- Sku -->
			@helper.inputText(shoppingorderitemFormData("sku"))
			<!-- Name -->
			@helper.inputText(shoppingorderitemFormData("name"))
			<!-- Description -->
			@helper.inputText(shoppingorderitemFormData("description"))
			<!-- Properties -->
			@helper.inputText(shoppingorderitemFormData("properties"))
			<!-- Price -->
			@helper.inputText(shoppingorderitemFormData("price"))
			<!-- Quantity -->
			@helper.inputText(shoppingorderitemFormData("quantity"))
			<!-- ShippedDate -->
			@helper.inputText(shoppingorderitemFormData("shippedDate"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ShoppingorderitemApplication.all()">Back to Shoppingorderitem List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
