@(portletitems: List[models.portletitem.Portletitem])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portletitem in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortletitemApplication.addPortletitem">Create New Portletitem</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Portletitem.
			</p>
		</div>
		<div class="container">
			@for(portletitem <- portletitems) {
			<div class="row">
				<a class="btn btn-info" href="@routes.PortletitemApplication.get(portletitem.portletItemId)">@portletitem.portletItemId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @portletitem.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @portletitem.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @portletitem.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @portletitem.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @portletitem.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @portletitem.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @portletitem.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @portletitem.name
					</li>
					<li class="btn btn-default disabled">
						PortletId: @portletitem.portletId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @portletitem.classNameId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
