@(portletitems: List[models.portletitem.Portletitem])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portletitem in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortletitemApplication.addPortletitem">Create New Portletitem</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(portletitem <- portletitems) {
				<li>
					<div>
						<div>ID: <a href="@routes.PortletitemApplication.get(portletitem.portletItemId)">@portletitem.portletItemId</a></div>
						<div>MvccVersion: @portletitem.mvccVersion</div>
						<div>GroupId: @portletitem.groupId</div>
						<div>CompanyId: @portletitem.companyId</div>
						<div>UserId: @portletitem.userId</div>
						<div>UserName: @portletitem.userName</div>
						<div>CreateDate: @portletitem.createDate</div>
						<div>ModifiedDate: @portletitem.modifiedDate</div>
						<div>Name: @portletitem.name</div>
						<div>PortletId: @portletitem.portletId</div>
						<div>ClassNameId: @portletitem.classNameId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
