@(journalarticleresources: List[models.journalarticleresource.Journalarticleresource])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Journalarticleresource in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.JournalarticleresourceApplication.addJournalarticleresource">Create New Journalarticleresource</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Journalarticleresource.
			</p>
		</div>
		<div class="container">
			@for(journalarticleresource <- journalarticleresources) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.JournalarticleresourceApplication.get(journalarticleresource.resourcePrimKey)">@journalarticleresource.resourcePrimKey</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @journalarticleresource.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @journalarticleresource.groupId
					</li>
					<li class="btn btn-default disabled">
						ArticleId: @journalarticleresource.articleId
					</li>
				</ul>
			}
		</div>
	</div>
}
