@(journalarticleresourceFormData: Form[controllers.journalarticleresource.JournalarticleresourceFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.JournalarticleresourceApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(journalarticleresourceFormData("resourcePrimKey").value != "0") {
				<h1>Edition of Journalarticleresource #@journalarticleresourceFormData("resourcePrimKey").value</h1>
				} else {
				<h1>Creation of a Journalarticleresource</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(journalarticleresourceFormData("resourcePrimKey").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.JournalarticleresourceApplication.all()">Back to Journalarticleresources</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="resourcePrimKey" name="resourcePrimKey" value='@journalarticleresourceFormData("resourcePrimKey").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(journalarticleresourceFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(journalarticleresourceFormData("groupId"))
				</div>
				<!-- ArticleId -->
				<div class="form-group">
				@helper.inputText(journalarticleresourceFormData("articleId"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
