@(journalarticleresources: List[models.journalarticleresource.Journalarticleresource])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Journalarticleresource in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.JournalarticleresourceApplication.addJournalarticleresource">Create New Journalarticleresource</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(journalarticleresource <- journalarticleresources) {
				<li>
					<div>
						<div>ID: <a href="@routes.JournalarticleresourceApplication.get(journalarticleresource.resourcePrimKey)">@journalarticleresource.resourcePrimKey</a></div>
						<div>Uuid: @journalarticleresource.uuid</div>
						<div>GroupId: @journalarticleresource.groupId</div>
						<div>ArticleId: @journalarticleresource.articleId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
