@(portletpreferencess: List[models.portletpreferences.Portletpreferences])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portletpreferences in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortletpreferencesApplication.addPortletpreferences">Create New Portletpreferences</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Portletpreferences.
			</p>
		</div>
		<div class="container">
			@for(portletpreferences <- portletpreferencess) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.PortletpreferencesApplication.get(portletpreferences.portletPreferencesId)">@portletpreferences.portletPreferencesId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @portletpreferences.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						OwnerId: @portletpreferences.ownerId
					</li>
					<li class="btn btn-default disabled">
						OwnerType: @portletpreferences.ownerType
					</li>
					<li class="btn btn-default disabled">
						Plid: @portletpreferences.plid
					</li>
					<li class="btn btn-default disabled">
						PortletId: @portletpreferences.portletId
					</li>
					<li class="btn btn-default disabled">
						Preferences: @portletpreferences.preferences
					</li>
				</ul>
			}
		</div>
	</div>
}
