@(portletpreferencess: List[models.portletpreferences.Portletpreferences])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Portletpreferences in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PortletpreferencesApplication.addPortletpreferences">Create New Portletpreferences</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(portletpreferences <- portletpreferencess) {
				<li>
					<div>
						<div>ID: <a href="@routes.PortletpreferencesApplication.get(portletpreferences.portletPreferencesId)">@portletpreferences.portletPreferencesId</a></div>
						<div>MvccVersion: @portletpreferences.mvccVersion</div>
						<div>OwnerId: @portletpreferences.ownerId</div>
						<div>OwnerType: @portletpreferences.ownerType</div>
						<div>Plid: @portletpreferences.plid</div>
						<div>PortletId: @portletpreferences.portletId</div>
						<div>Preferences: @portletpreferences.preferences</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
