@(portletpreferencesFormData: Form[controllers.portletpreferences.PortletpreferencesFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.PortletpreferencesApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(portletpreferencesFormData("portletPreferencesId").value != "0") {
				<h1>Edition of Portletpreferences #@portletpreferencesFormData("portletPreferencesId").value</h1>
				} else {
				<h1>Creation of a Portletpreferences</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(portletpreferencesFormData("portletPreferencesId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.PortletpreferencesApplication.all()">Back to Portletpreferencess</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="portletPreferencesId" name="portletPreferencesId" value='@portletpreferencesFormData("portletPreferencesId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(portletpreferencesFormData("mvccVersion"))
				</div>
				<!-- OwnerId -->
				<div class="form-group">
				@helper.inputText(portletpreferencesFormData("ownerId"))
				</div>
				<!-- OwnerType -->
				<div class="form-group">
				@helper.inputText(portletpreferencesFormData("ownerType"))
				</div>
				<!-- Plid -->
				<div class="form-group">
				@helper.inputText(portletpreferencesFormData("plid"))
				</div>
				<!-- PortletId -->
				<div class="form-group">
				@helper.inputText(portletpreferencesFormData("portletId"))
				</div>
				<!-- Preferences -->
				<div class="form-group">
				@helper.inputText(portletpreferencesFormData("preferences"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
