@(socialrequests: List[models.socialrequest.Socialrequest])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialrequest in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialrequestApplication.addSocialrequest">Create New Socialrequest</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialrequest.
			</p>
		</div>
		<div class="container">
			@for(socialrequest <- socialrequests) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.SocialrequestApplication.get(socialrequest.requestId)">@socialrequest.requestId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @socialrequest.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @socialrequest.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialrequest.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @socialrequest.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @socialrequest.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @socialrequest.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @socialrequest.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @socialrequest.classPK
					</li>
					<li class="btn btn-default disabled">
						Customtype: @socialrequest.customtype
					</li>
					<li class="btn btn-default disabled">
						ExtraData: @socialrequest.extraData
					</li>
					<li class="btn btn-default disabled">
						ReceiverUserId: @socialrequest.receiverUserId
					</li>
					<li class="btn btn-default disabled">
						Status: @socialrequest.status
					</li>
				</ul>
			}
		</div>
	</div>
}
