@(socialrequestFormData: Form[controllers.socialrequest.SocialrequestFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.SocialrequestApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(socialrequestFormData("requestId").value != "0") {
				<h1>Edition of Socialrequest #@socialrequestFormData("requestId").value</h1>
				} else {
				<h1>Creation of a Socialrequest</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.SocialrequestApplication.all()">Back to Socialrequests</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="requestId" name="requestId" value='@socialrequestFormData("requestId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("userId"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("classPK"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("customtype"))
				</div>
				<!-- ExtraData -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("extraData"))
				</div>
				<!-- ReceiverUserId -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("receiverUserId"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(socialrequestFormData("status"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
