@(calevents: List[models.calevent.Calevent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Calevent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.CaleventApplication.addCalevent">Create New Calevent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Calevent.
			</p>
		</div>
		<div class="container">
			@for(calevent <- calevents) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.CaleventApplication.get(calevent.eventId)">@calevent.eventId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @calevent.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @calevent.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @calevent.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @calevent.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @calevent.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @calevent.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @calevent.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Title: @calevent.title
					</li>
					<li class="btn btn-default disabled">
						Description: @calevent.description
					</li>
					<li class="btn btn-default disabled">
						Location: @calevent.location
					</li>
					<li class="btn btn-default disabled">
						StartDate: @calevent.startDate
					</li>
					<li class="btn btn-default disabled">
						EndDate: @calevent.endDate
					</li>
					<li class="btn btn-default disabled">
						DurationHour: @calevent.durationHour
					</li>
					<li class="btn btn-default disabled">
						DurationMinute: @calevent.durationMinute
					</li>
					<li class="btn btn-default disabled">
						AllDay: @calevent.allDay
					</li>
					<li class="btn btn-default disabled">
						TimeZoneSensitive: @calevent.timeZoneSensitive
					</li>
					<li class="btn btn-default disabled">
						Customtype: @calevent.customtype
					</li>
					<li class="btn btn-default disabled">
						Repeating: @calevent.repeating
					</li>
					<li class="btn btn-default disabled">
						Recurrence: @calevent.recurrence
					</li>
					<li class="btn btn-default disabled">
						RemindBy: @calevent.remindBy
					</li>
					<li class="btn btn-default disabled">
						FirstReminder: @calevent.firstReminder
					</li>
					<li class="btn btn-default disabled">
						SecondReminder: @calevent.secondReminder
					</li>
				</ul>
			}
		</div>
	</div>
}
