@(caleventFormData: Form[controllers.calevent.CaleventFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.CaleventApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(caleventFormData("eventId") != "0") {
				<h1>Edition of Calevent #@caleventFormData("eventId").value</h1>
				} else {
				<h1>Creation of a Calevent</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.CaleventApplication.all()">Back to Calevents</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="eventId" name="eventId" value='@caleventFormData("eventId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(caleventFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(caleventFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(caleventFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(caleventFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(caleventFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(caleventFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(caleventFormData("modifiedDate"))
				</div>
				<!-- Title -->
				<div class="form-group">
				@helper.inputText(caleventFormData("title"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(caleventFormData("description"))
				</div>
				<!-- Location -->
				<div class="form-group">
				@helper.inputText(caleventFormData("location"))
				</div>
				<!-- StartDate -->
				<div class="form-group">
				@helper.inputText(caleventFormData("startDate"))
				</div>
				<!-- EndDate -->
				<div class="form-group">
				@helper.inputText(caleventFormData("endDate"))
				</div>
				<!-- DurationHour -->
				<div class="form-group">
				@helper.inputText(caleventFormData("durationHour"))
				</div>
				<!-- DurationMinute -->
				<div class="form-group">
				@helper.inputText(caleventFormData("durationMinute"))
				</div>
				<!-- AllDay -->
				<div class="form-group">
				@helper.checkbox(caleventFormData("allDay"))
				</div>
				<!-- TimeZoneSensitive -->
				<div class="form-group">
				@helper.checkbox(caleventFormData("timeZoneSensitive"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(caleventFormData("customtype"))
				</div>
				<!-- Repeating -->
				<div class="form-group">
				@helper.checkbox(caleventFormData("repeating"))
				</div>
				<!-- Recurrence -->
				<div class="form-group">
				@helper.inputText(caleventFormData("recurrence"))
				</div>
				<!-- RemindBy -->
				<div class="form-group">
				@helper.inputText(caleventFormData("remindBy"))
				</div>
				<!-- FirstReminder -->
				<div class="form-group">
				@helper.inputText(caleventFormData("firstReminder"))
				</div>
				<!-- SecondReminder -->
				<div class="form-group">
				@helper.inputText(caleventFormData("secondReminder"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
