@(layoutbranchs: List[models.layoutbranch.Layoutbranch])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutbranch in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutbranchApplication.addLayoutbranch">Create New Layoutbranch</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Layoutbranch.
			</p>
		</div>
		<div class="container">
			@for(layoutbranch <- layoutbranchs) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.LayoutbranchApplication.get(layoutbranch.layoutBranchId)">@layoutbranch.layoutBranchId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @layoutbranch.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @layoutbranch.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @layoutbranch.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @layoutbranch.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @layoutbranch.userName
					</li>
					<li class="btn btn-default disabled">
						LayoutSetBranchId: @layoutbranch.layoutSetBranchId
					</li>
					<li class="btn btn-default disabled">
						Plid: @layoutbranch.plid
					</li>
					<li class="btn btn-default disabled">
						Name: @layoutbranch.name
					</li>
					<li class="btn btn-default disabled">
						Description: @layoutbranch.description
					</li>
					<li class="btn btn-default disabled">
						Master: @layoutbranch.master
					</li>
				</ul>
			}
		</div>
	</div>
}
