@(layoutbranchFormData: Form[controllers.layoutbranch.LayoutbranchFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.LayoutbranchApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(layoutbranchFormData("layoutBranchId") != "0") {
				<h1>Edition of Layoutbranch #@layoutbranchFormData("layoutBranchId").value</h1>
				} else {
				<h1>Creation of a Layoutbranch</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.LayoutbranchApplication.all()">Back to Layoutbranchs</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="layoutBranchId" name="layoutBranchId" value='@layoutbranchFormData("layoutBranchId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("mvccVersion"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("userName"))
				</div>
				<!-- LayoutSetBranchId -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("layoutSetBranchId"))
				</div>
				<!-- Plid -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("plid"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(layoutbranchFormData("description"))
				</div>
				<!-- Master -->
				<div class="form-group">
				@helper.checkbox(layoutbranchFormData("master"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
