@(layouts: List[models.layout.Layout])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layout in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutApplication.addLayout">Create New Layout</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Layout.
			</p>
		</div>
		<div class="container">
			@for(layout <- layouts) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.LayoutApplication.get(layout.plid)">@layout.plid</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @layout.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @layout.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @layout.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @layout.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @layout.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @layout.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @layout.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @layout.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						PrivateLayout: @layout.privateLayout
					</li>
					<li class="btn btn-default disabled">
						LayoutId: @layout.layoutId
					</li>
					<li class="btn btn-default disabled">
						ParentLayoutId: @layout.parentLayoutId
					</li>
					<li class="btn btn-default disabled">
						Name: @layout.name
					</li>
					<li class="btn btn-default disabled">
						Title: @layout.title
					</li>
					<li class="btn btn-default disabled">
						Description: @layout.description
					</li>
					<li class="btn btn-default disabled">
						Keywords: @layout.keywords
					</li>
					<li class="btn btn-default disabled">
						Robots: @layout.robots
					</li>
					<li class="btn btn-default disabled">
						Customtype: @layout.customtype
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @layout.typeSettings
					</li>
					<li class="btn btn-default disabled">
						Hidden: @layout.hidden
					</li>
					<li class="btn btn-default disabled">
						FriendlyURL: @layout.friendlyURL
					</li>
					<li class="btn btn-default disabled">
						IconImageId: @layout.iconImageId
					</li>
					<li class="btn btn-default disabled">
						ThemeId: @layout.themeId
					</li>
					<li class="btn btn-default disabled">
						ColorSchemeId: @layout.colorSchemeId
					</li>
					<li class="btn btn-default disabled">
						WapThemeId: @layout.wapThemeId
					</li>
					<li class="btn btn-default disabled">
						WapColorSchemeId: @layout.wapColorSchemeId
					</li>
					<li class="btn btn-default disabled">
						Css: @layout.css
					</li>
					<li class="btn btn-default disabled">
						Priority: @layout.priority
					</li>
					<li class="btn btn-default disabled">
						LayoutPrototypeUuid: @layout.layoutPrototypeUuid
					</li>
					<li class="btn btn-default disabled">
						LayoutPrototypeLinkEnabled: @layout.layoutPrototypeLinkEnabled
					</li>
					<li class="btn btn-default disabled">
						SourcePrototypeLayoutUuid: @layout.sourcePrototypeLayoutUuid
					</li>
				</ul>
			}
		</div>
	</div>
}
