@(blogsentryFormData: Form[controllers.blogsentry.BlogsentryFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.BlogsentryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(blogsentryFormData("entryId").value != "0") {
				<h1>Edition of Blogsentry #@blogsentryFormData("entryId").value</h1>
				} else {
				<h1>Creation of a Blogsentry</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(blogsentryFormData("entryId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.BlogsentryApplication.all()">Back to Blogsentrys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="entryId" name="entryId" value='@blogsentryFormData("entryId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("modifiedDate"))
				</div>
				<!-- Title -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("title"))
				</div>
				<!-- Subtitle -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("subtitle"))
				</div>
				<!-- UrlTitle -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("urlTitle"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("description"))
				</div>
				<!-- Content -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("content"))
				</div>
				<!-- DisplayDate -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("displayDate"))
				</div>
				<!-- AllowPingbacks -->
				<div class="form-group">
				@helper.checkbox(blogsentryFormData("allowPingbacks"))
				</div>
				<!-- AllowTrackbacks -->
				<div class="form-group">
				@helper.checkbox(blogsentryFormData("allowTrackbacks"))
				</div>
				<!-- Trackbacks -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("trackbacks"))
				</div>
				<!-- CoverImageFileEntryId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("coverImageFileEntryId"))
				</div>
				<!-- CoverImageURL -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("coverImageURL"))
				</div>
				<!-- SmallImage -->
				<div class="form-group">
				@helper.checkbox(blogsentryFormData("smallImage"))
				</div>
				<!-- SmallImageFileEntryId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("smallImageFileEntryId"))
				</div>
				<!-- SmallImageId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("smallImageId"))
				</div>
				<!-- SmallImageURL -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("smallImageURL"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("status"))
				</div>
				<!-- StatusByUserId -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("statusByUserId"))
				</div>
				<!-- StatusByUserName -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("statusByUserName"))
				</div>
				<!-- StatusDate -->
				<div class="form-group">
				@helper.inputText(blogsentryFormData("statusDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
