@(blogsstatsusers: List[models.blogsstatsuser.Blogsstatsuser])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Blogsstatsuser in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.BlogsstatsuserApplication.addBlogsstatsuser">Create New Blogsstatsuser</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Blogsstatsuser.
			</p>
		</div>
		<div class="container">
			@for(blogsstatsuser <- blogsstatsusers) {
			<div class="row">
				<a class="btn btn-info" href="@routes.BlogsstatsuserApplication.get(blogsstatsuser.statsUserId)">@blogsstatsuser.statsUserId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @blogsstatsuser.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @blogsstatsuser.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @blogsstatsuser.userId
					</li>
					<li class="btn btn-default disabled">
						EntryCount: @blogsstatsuser.entryCount
					</li>
					<li class="btn btn-default disabled">
						LastPostDate: @blogsstatsuser.lastPostDate
					</li>
					<li class="btn btn-default disabled">
						RatingsTotalEntries: @blogsstatsuser.ratingsTotalEntries
					</li>
					<li class="btn btn-default disabled">
						RatingsTotalScore: @blogsstatsuser.ratingsTotalScore
					</li>
					<li class="btn btn-default disabled">
						RatingsAverageScore: @blogsstatsuser.ratingsAverageScore
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
