@(blogsstatsuserFormData: Form[controllers.blogsstatsuser.BlogsstatsuserFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.BlogsstatsuserApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(blogsstatsuserFormData("statsUserId").value != "0") {
				<h1>Edition of Blogsstatsuser #@blogsstatsuserFormData("statsUserId").value</h1>
				} else {
				<h1>Creation of a Blogsstatsuser</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(blogsstatsuserFormData("statsUserId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.BlogsstatsuserApplication.all()">Back to Blogsstatsusers</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="statsUserId" name="statsUserId" value='@blogsstatsuserFormData("statsUserId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("userId"))
				</div>
				<!-- EntryCount -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("entryCount"))
				</div>
				<!-- LastPostDate -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("lastPostDate"))
				</div>
				<!-- RatingsTotalEntries -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("ratingsTotalEntries"))
				</div>
				<!-- RatingsTotalScore -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("ratingsTotalScore"))
				</div>
				<!-- RatingsAverageScore -->
				<div class="form-group">
				@helper.inputText(blogsstatsuserFormData("ratingsAverageScore"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
