@(blogsstatsusers: List[models.blogsstatsuser.Blogsstatsuser])

@main("Welcome to GeneratedCRUD application") {

	<h1>Blogsstatsusers in the DB</h1>

	<p>
		<a href="@routes.BlogsstatsuserApplication.addBlogsstatsuser">Create New Blogsstatsuser</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(blogsstatsuser <- blogsstatsusers) {
		<li>
			<div>
				<div>ID: <a href="@routes.BlogsstatsuserApplication.get(blogsstatsuser.statsUserId)">@blogsstatsuser.statsUserId</a></div>
				<div>GroupId: @blogsstatsuser.groupId</div>
				<div>CompanyId: @blogsstatsuser.companyId</div>
				<div>UserId: @blogsstatsuser.userId</div>
				<div>EntryCount: @blogsstatsuser.entryCount</div>
				<div>LastPostDate: @blogsstatsuser.lastPostDate</div>
				<div>RatingsTotalEntries: @blogsstatsuser.ratingsTotalEntries</div>
				<div>RatingsTotalScore: @blogsstatsuser.ratingsTotalScore</div>
				<div>RatingsAverageScore: @blogsstatsuser.ratingsAverageScore</div>
			</div>
		</li>
	}
	</ul>

}
