@(subscriptions: List[models.subscription.Subscription])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Subscription in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SubscriptionApplication.addSubscription">Create New Subscription</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Subscription.
			</p>
		</div>
		<div class="container">
			@for(subscription <- subscriptions) {
			<div class="row">
				<a class="btn btn-info" href="@routes.SubscriptionApplication.get(subscription.subscriptionId)">@subscription.subscriptionId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @subscription.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @subscription.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @subscription.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @subscription.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @subscription.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @subscription.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @subscription.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @subscription.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @subscription.classPK
					</li>
					<li class="btn btn-default disabled">
						Frequency: @subscription.frequency
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
