@(announcementsentrys: List[models.announcementsentry.Announcementsentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Announcementsentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AnnouncementsentryApplication.addAnnouncementsentry">Create New Announcementsentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(announcementsentry <- announcementsentrys) {
				<li>
					<div>
						<div>ID: <a href="@routes.AnnouncementsentryApplication.get(announcementsentry.entryId)">@announcementsentry.entryId</a></div>
						<div>Uuid: @announcementsentry.uuid</div>
						<div>CompanyId: @announcementsentry.companyId</div>
						<div>UserId: @announcementsentry.userId</div>
						<div>UserName: @announcementsentry.userName</div>
						<div>CreateDate: @announcementsentry.createDate</div>
						<div>ModifiedDate: @announcementsentry.modifiedDate</div>
						<div>ClassNameId: @announcementsentry.classNameId</div>
						<div>ClassPK: @announcementsentry.classPK</div>
						<div>Title: @announcementsentry.title</div>
						<div>Content: @announcementsentry.content</div>
						<div>Url: @announcementsentry.url</div>
						<div>Customtype: @announcementsentry.customtype</div>
						<div>DisplayDate: @announcementsentry.displayDate</div>
						<div>ExpirationDate: @announcementsentry.expirationDate</div>
						<div>Priority: @announcementsentry.priority</div>
						<div>Alert: @announcementsentry.alert</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
