@(repositorys: List[models.repository.Repository])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Repository in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RepositoryApplication.addRepository">Create New Repository</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Repository.
			</p>
		</div>
		<div class="container">
			@for(repository <- repositorys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.RepositoryApplication.get(repository.repositoryId)">@repository.repositoryId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @repository.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @repository.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @repository.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @repository.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @repository.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @repository.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @repository.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @repository.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @repository.classNameId
					</li>
					<li class="btn btn-default disabled">
						Name: @repository.name
					</li>
					<li class="btn btn-default disabled">
						Description: @repository.description
					</li>
					<li class="btn btn-default disabled">
						PortletId: @repository.portletId
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @repository.typeSettings
					</li>
					<li class="btn btn-default disabled">
						DlFolderId: @repository.dlFolderId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
