@(roles: List[models.role.Role])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Role in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RoleApplication.addRole">Create New Role</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(role <- roles) {
				<li>
					<div>
						<div>ID: <a href="@routes.RoleApplication.get(role.roleId)">@role.roleId</a></div>
						<div>MvccVersion: @role.mvccVersion</div>
						<div>Uuid: @role.uuid</div>
						<div>CompanyId: @role.companyId</div>
						<div>UserId: @role.userId</div>
						<div>UserName: @role.userName</div>
						<div>CreateDate: @role.createDate</div>
						<div>ModifiedDate: @role.modifiedDate</div>
						<div>ClassNameId: @role.classNameId</div>
						<div>ClassPK: @role.classPK</div>
						<div>Name: @role.name</div>
						<div>Title: @role.title</div>
						<div>Description: @role.description</div>
						<div>Customtype: @role.customtype</div>
						<div>Subtype: @role.subtype</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
