@(roles: List[models.role.Role])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Role in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RoleApplication.addRole">Create New Role</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Role.
			</p>
		</div>
		<div class="container">
			@for(role <- roles) {
			<div class="row">
				<a class="btn btn-info" href="@routes.RoleApplication.get(role.roleId)">@role.roleId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @role.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @role.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @role.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @role.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @role.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @role.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @role.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @role.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @role.classPK
					</li>
					<li class="btn btn-default disabled">
						Name: @role.name
					</li>
					<li class="btn btn-default disabled">
						Title: @role.title
					</li>
					<li class="btn btn-default disabled">
						Description: @role.description
					</li>
					<li class="btn btn-default disabled">
						Customtype: @role.customtype
					</li>
					<li class="btn btn-default disabled">
						Subtype: @role.subtype
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
