@(dlfilerankFormData: Form[controllers.dlfilerank.DlfilerankFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DlfilerankApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(dlfilerankFormData("fileRankId").value != "0") {
				<h1>Edition of Dlfilerank #@dlfilerankFormData("fileRankId").value</h1>
				} else {
				<h1>Creation of a Dlfilerank</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.DlfilerankApplication.all()">Back to Dlfileranks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="fileRankId" name="fileRankId" value='@dlfilerankFormData("fileRankId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(dlfilerankFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(dlfilerankFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(dlfilerankFormData("userId"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(dlfilerankFormData("createDate"))
				</div>
				<!-- FileEntryId -->
				<div class="form-group">
				@helper.inputText(dlfilerankFormData("fileEntryId"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(dlfilerankFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
