@(dlfileranks: List[models.dlfilerank.Dlfilerank])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfilerank in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfilerankApplication.addDlfilerank">Create New Dlfilerank</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Dlfilerank.
			</p>
		</div>
		<div class="container">
			@for(dlfilerank <- dlfileranks) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DlfilerankApplication.get(dlfilerank.fileRankId)">@dlfilerank.fileRankId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @dlfilerank.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @dlfilerank.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @dlfilerank.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @dlfilerank.createDate
					</li>
					<li class="btn btn-default disabled">
						FileEntryId: @dlfilerank.fileEntryId
					</li>
					<li class="btn btn-default disabled">
						Active: @dlfilerank.active
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
