@(socialactivitycounters: List[models.socialactivitycounter.Socialactivitycounter])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivitycounter in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivitycounterApplication.addSocialactivitycounter">Create New Socialactivitycounter</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialactivitycounter.
			</p>
		</div>
		<div class="container">
			@for(socialactivitycounter <- socialactivitycounters) {
			<div class="row">
				<a class="btn btn-info" href="@routes.SocialactivitycounterApplication.get(socialactivitycounter.activityCounterId)">@socialactivitycounter.activityCounterId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @socialactivitycounter.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialactivitycounter.companyId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @socialactivitycounter.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @socialactivitycounter.classPK
					</li>
					<li class="btn btn-default disabled">
						Name: @socialactivitycounter.name
					</li>
					<li class="btn btn-default disabled">
						OwnerType: @socialactivitycounter.ownerType
					</li>
					<li class="btn btn-default disabled">
						CurrentValue: @socialactivitycounter.currentValue
					</li>
					<li class="btn btn-default disabled">
						TotalValue: @socialactivitycounter.totalValue
					</li>
					<li class="btn btn-default disabled">
						GraceValue: @socialactivitycounter.graceValue
					</li>
					<li class="btn btn-default disabled">
						StartPeriod: @socialactivitycounter.startPeriod
					</li>
					<li class="btn btn-default disabled">
						EndPeriod: @socialactivitycounter.endPeriod
					</li>
					<li class="btn btn-default disabled">
						Active: @socialactivitycounter.active
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
