@(socialactivitycounters: List[models.socialactivitycounter.Socialactivitycounter])

@main("Welcome to GeneratedCRUD application") {

	<h1>Socialactivitycounters in the DB</h1>

	<p>
		<a href="@routes.SocialactivitycounterApplication.addSocialactivitycounter">Create New Socialactivitycounter</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(socialactivitycounter <- socialactivitycounters) {
		<li>
			<div>
				<div>ID: <a href="@routes.SocialactivitycounterApplication.get(socialactivitycounter.activityCounterId)">@socialactivitycounter.activityCounterId</a></div>
				<div>GroupId: @socialactivitycounter.groupId</div>
				<div>CompanyId: @socialactivitycounter.companyId</div>
				<div>ClassNameId: @socialactivitycounter.classNameId</div>
				<div>ClassPK: @socialactivitycounter.classPK</div>
				<div>Name: @socialactivitycounter.name</div>
				<div>OwnerType: @socialactivitycounter.ownerType</div>
				<div>CurrentValue: @socialactivitycounter.currentValue</div>
				<div>TotalValue: @socialactivitycounter.totalValue</div>
				<div>GraceValue: @socialactivitycounter.graceValue</div>
				<div>StartPeriod: @socialactivitycounter.startPeriod</div>
				<div>EndPeriod: @socialactivitycounter.endPeriod</div>
				<div>Active: @socialactivitycounter.active</div>
			</div>
		</li>
	}
	</ul>

}
