@(dlcontents: List[models.dlcontent.Dlcontent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlcontent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlcontentApplication.addDlcontent">Create New Dlcontent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(dlcontent <- dlcontents) {
				<li>
					<div>
						<div>ID: <a href="@routes.DlcontentApplication.get(dlcontent.contentId)">@dlcontent.contentId</a></div>
						<div>GroupId: @dlcontent.groupId</div>
						<div>CompanyId: @dlcontent.companyId</div>
						<div>RepositoryId: @dlcontent.repositoryId</div>
						<div>Path: @dlcontent.path</div>
						<div>Version: @dlcontent.version</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
