@(dlcontents: List[models.dlcontent.Dlcontent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlcontent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlcontentApplication.addDlcontent">Create New Dlcontent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Dlcontent.
			</p>
		</div>
		<div class="container">
			@for(dlcontent <- dlcontents) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DlcontentApplication.get(dlcontent.contentId)">@dlcontent.contentId</a>
					</div>
					<li class="btn btn-default disabled">
						GroupId: @dlcontent.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @dlcontent.companyId
					</li>
					<li class="btn btn-default disabled">
						RepositoryId: @dlcontent.repositoryId
					</li>
					<li class="btn btn-default disabled">
						Path: @dlcontent.path
					</li>
					<li class="btn btn-default disabled">
						Version: @dlcontent.version
					</li>
				</ul>
			}
		</div>
	</div>
}
