@(clustergroupFormData: Form[controllers.clustergroup.ClustergroupFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ClustergroupApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(clustergroupFormData("clusterGroupId") != "0") {
				<h1>Edition of Clustergroup #@clustergroupFormData("clusterGroupId").value</h1>
				} else {
				<h1>Creation of a Clustergroup</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.ClustergroupApplication.all()">Back to Clustergroups</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="clusterGroupId" name="clusterGroupId" value='@clustergroupFormData("clusterGroupId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(clustergroupFormData("mvccVersion"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(clustergroupFormData("name"))
				</div>
				<!-- ClusterNodeIds -->
				<div class="form-group">
				@helper.inputText(clustergroupFormData("clusterNodeIds"))
				</div>
				<!-- WholeCluster -->
				<div class="form-group">
				@helper.checkbox(clustergroupFormData("wholeCluster"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
