@(clustergroups: List[models.clustergroup.Clustergroup])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Clustergroup in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ClustergroupApplication.addClustergroup">Create New Clustergroup</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(clustergroup <- clustergroups) {
				<li>
					<div>
						<div>ID: <a href="@routes.ClustergroupApplication.get(clustergroup.clusterGroupId)">@clustergroup.clusterGroupId</a></div>
						<div>MvccVersion: @clustergroup.mvccVersion</div>
						<div>Name: @clustergroup.name</div>
						<div>ClusterNodeIds: @clustergroup.clusterNodeIds</div>
						<div>WholeCluster: @clustergroup.wholeCluster</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
