@(clustergroups: List[models.clustergroup.Clustergroup])

@main("Welcome to GeneratedCRUD application") {

	<h1>Clustergroups in the DB</h1>

	<p>
		<a href="@routes.ClustergroupApplication.addClustergroup">Create New Clustergroup</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(clustergroup <- clustergroups) {
		<li>
			<div>
				<div>ID: <a href="@routes.ClustergroupApplication.get(clustergroup.clusterGroupId)">@clustergroup.clusterGroupId</a></div>
				<div>MvccVersion: @clustergroup.mvccVersion</div>
				<div>Name: @clustergroup.name</div>
				<div>ClusterNodeIds: @clustergroup.clusterNodeIds</div>
				<div>WholeCluster: @clustergroup.wholeCluster</div>
			</div>
		</li>
	}
	</ul>

}
