@(scproductscreenshots: List[models.scproductscreenshot.Scproductscreenshot])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Scproductscreenshot in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ScproductscreenshotApplication.addScproductscreenshot">Create New Scproductscreenshot</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Scproductscreenshot.
			</p>
		</div>
		<div class="container">
			@for(scproductscreenshot <- scproductscreenshots) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ScproductscreenshotApplication.get(scproductscreenshot.productScreenshotId)">@scproductscreenshot.productScreenshotId</a>
				<ul>
					<li class="btn btn-default disabled">
						CompanyId: @scproductscreenshot.companyId
					</li>
					<li class="btn btn-default disabled">
						GroupId: @scproductscreenshot.groupId
					</li>
					<li class="btn btn-default disabled">
						ProductEntryId: @scproductscreenshot.productEntryId
					</li>
					<li class="btn btn-default disabled">
						ThumbnailId: @scproductscreenshot.thumbnailId
					</li>
					<li class="btn btn-default disabled">
						FullImageId: @scproductscreenshot.fullImageId
					</li>
					<li class="btn btn-default disabled">
						Priority: @scproductscreenshot.priority
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
