@(scproductscreenshotFormData: Form[controllers.scproductscreenshot.ScproductscreenshotFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ScproductscreenshotApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(scproductscreenshotFormData("productScreenshotId") != "0") {
				<h1>Edition of Scproductscreenshot #@scproductscreenshotFormData("productScreenshotId").value</h1>
				} else {
				<h1>Creation of a Scproductscreenshot</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.ScproductscreenshotApplication.all()">Back to Scproductscreenshots</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="productScreenshotId" name="productScreenshotId" value='@scproductscreenshotFormData("productScreenshotId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(scproductscreenshotFormData("companyId"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(scproductscreenshotFormData("groupId"))
				</div>
				<!-- ProductEntryId -->
				<div class="form-group">
				@helper.inputText(scproductscreenshotFormData("productEntryId"))
				</div>
				<!-- ThumbnailId -->
				<div class="form-group">
				@helper.inputText(scproductscreenshotFormData("thumbnailId"))
				</div>
				<!-- FullImageId -->
				<div class="form-group">
				@helper.inputText(scproductscreenshotFormData("fullImageId"))
				</div>
				<!-- Priority -->
				<div class="form-group">
				@helper.inputText(scproductscreenshotFormData("priority"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
