@(ddlrecordversionFormData: Form[controllers.ddlrecordversion.DdlrecordversionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DdlrecordversionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(ddlrecordversionFormData("recordVersionId").value != "0") {
				<h1>Edition of Ddlrecordversion #@ddlrecordversionFormData("recordVersionId").value</h1>
				} else {
				<h1>Creation of a Ddlrecordversion</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(ddlrecordversionFormData("recordVersionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.DdlrecordversionApplication.all()">Back to Ddlrecordversions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="recordVersionId" name="recordVersionId" value='@ddlrecordversionFormData("recordVersionId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("createDate"))
				</div>
				<!-- DDMStorageId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("DDMStorageId"))
				</div>
				<!-- RecordSetId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("recordSetId"))
				</div>
				<!-- RecordId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("recordId"))
				</div>
				<!-- Version -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("version"))
				</div>
				<!-- DisplayIndex -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("displayIndex"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("status"))
				</div>
				<!-- StatusByUserId -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("statusByUserId"))
				</div>
				<!-- StatusByUserName -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("statusByUserName"))
				</div>
				<!-- StatusDate -->
				<div class="form-group">
				@helper.inputText(ddlrecordversionFormData("statusDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
