@(ddlrecordversions: List[models.ddlrecordversion.Ddlrecordversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddlrecordversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdlrecordversionApplication.addDdlrecordversion">Create New Ddlrecordversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Ddlrecordversion.
			</p>
		</div>
		<div class="container">
			@for(ddlrecordversion <- ddlrecordversions) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DdlrecordversionApplication.get(ddlrecordversion.recordVersionId)">@ddlrecordversion.recordVersionId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @ddlrecordversion.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddlrecordversion.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddlrecordversion.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddlrecordversion.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddlrecordversion.createDate
					</li>
					<li class="btn btn-default disabled">
						DDMStorageId: @ddlrecordversion.DDMStorageId
					</li>
					<li class="btn btn-default disabled">
						RecordSetId: @ddlrecordversion.recordSetId
					</li>
					<li class="btn btn-default disabled">
						RecordId: @ddlrecordversion.recordId
					</li>
					<li class="btn btn-default disabled">
						Version: @ddlrecordversion.version
					</li>
					<li class="btn btn-default disabled">
						DisplayIndex: @ddlrecordversion.displayIndex
					</li>
					<li class="btn btn-default disabled">
						Status: @ddlrecordversion.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @ddlrecordversion.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @ddlrecordversion.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @ddlrecordversion.statusDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
