@(resourcepermissions: List[models.resourcepermission.Resourcepermission])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourcepermission in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourcepermissionApplication.addResourcepermission">Create New Resourcepermission</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Resourcepermission.
			</p>
		</div>
		<div class="container">
			@for(resourcepermission <- resourcepermissions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ResourcepermissionApplication.get(resourcepermission.resourcePermissionId)">@resourcepermission.resourcePermissionId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @resourcepermission.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @resourcepermission.companyId
					</li>
					<li class="btn btn-default disabled">
						Name: @resourcepermission.name
					</li>
					<li class="btn btn-default disabled">
						Scope: @resourcepermission.scope
					</li>
					<li class="btn btn-default disabled">
						PrimKey: @resourcepermission.primKey
					</li>
					<li class="btn btn-default disabled">
						RoleId: @resourcepermission.roleId
					</li>
					<li class="btn btn-default disabled">
						OwnerId: @resourcepermission.ownerId
					</li>
					<li class="btn btn-default disabled">
						ActionIds: @resourcepermission.actionIds
					</li>
				</ul>
			}
		</div>
	</div>
}
