@(mdractions: List[models.mdraction.Mdraction])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mdraction in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MdractionApplication.addMdraction">Create New Mdraction</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(mdraction <- mdractions) {
				<li>
					<div>
						<div>ID: <a href="@routes.MdractionApplication.get(mdraction.actionId)">@mdraction.actionId</a></div>
						<div>Uuid: @mdraction.uuid</div>
						<div>GroupId: @mdraction.groupId</div>
						<div>CompanyId: @mdraction.companyId</div>
						<div>UserId: @mdraction.userId</div>
						<div>UserName: @mdraction.userName</div>
						<div>CreateDate: @mdraction.createDate</div>
						<div>ModifiedDate: @mdraction.modifiedDate</div>
						<div>ClassNameId: @mdraction.classNameId</div>
						<div>ClassPK: @mdraction.classPK</div>
						<div>RuleGroupInstanceId: @mdraction.ruleGroupInstanceId</div>
						<div>Name: @mdraction.name</div>
						<div>Description: @mdraction.description</div>
						<div>Customtype: @mdraction.customtype</div>
						<div>TypeSettings: @mdraction.typeSettings</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
