@(mdractionFormData: Form[controllers.mdraction.MdractionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MdractionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(mdractionFormData("actionId").value != "0") {
				<h1>Edition of Mdraction #@mdractionFormData("actionId").value</h1>
				} else {
				<h1>Creation of a Mdraction</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(mdractionFormData("actionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.MdractionApplication.all()">Back to Mdractions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="actionId" name="actionId" value='@mdractionFormData("actionId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("classPK"))
				</div>
				<!-- RuleGroupInstanceId -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("ruleGroupInstanceId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("description"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("customtype"))
				</div>
				<!-- TypeSettings -->
				<div class="form-group">
				@helper.inputText(mdractionFormData("typeSettings"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
