@(mdractions: List[models.mdraction.Mdraction])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mdraction in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MdractionApplication.addMdraction">Create New Mdraction</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mdraction.
			</p>
		</div>
		<div class="container">
			@for(mdraction <- mdractions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.MdractionApplication.get(mdraction.actionId)">@mdraction.actionId</a>
					</div>
					<li class="btn btn-default disabled">
						Uuid: @mdraction.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mdraction.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mdraction.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mdraction.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mdraction.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mdraction.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mdraction.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @mdraction.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @mdraction.classPK
					</li>
					<li class="btn btn-default disabled">
						RuleGroupInstanceId: @mdraction.ruleGroupInstanceId
					</li>
					<li class="btn btn-default disabled">
						Name: @mdraction.name
					</li>
					<li class="btn btn-default disabled">
						Description: @mdraction.description
					</li>
					<li class="btn btn-default disabled">
						Customtype: @mdraction.customtype
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @mdraction.typeSettings
					</li>
				</ul>
			}
		</div>
	</div>
}
