@(dlfileversions: List[models.dlfileversion.Dlfileversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfileversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfileversionApplication.addDlfileversion">Create New Dlfileversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(dlfileversion <- dlfileversions) {
				<li>
					<div>
						<div>ID: <a href="@routes.DlfileversionApplication.get(dlfileversion.fileVersionId)">@dlfileversion.fileVersionId</a></div>
						<div>Uuid: @dlfileversion.uuid</div>
						<div>GroupId: @dlfileversion.groupId</div>
						<div>CompanyId: @dlfileversion.companyId</div>
						<div>UserId: @dlfileversion.userId</div>
						<div>UserName: @dlfileversion.userName</div>
						<div>CreateDate: @dlfileversion.createDate</div>
						<div>ModifiedDate: @dlfileversion.modifiedDate</div>
						<div>RepositoryId: @dlfileversion.repositoryId</div>
						<div>FolderId: @dlfileversion.folderId</div>
						<div>FileEntryId: @dlfileversion.fileEntryId</div>
						<div>TreePath: @dlfileversion.treePath</div>
						<div>FileName: @dlfileversion.fileName</div>
						<div>Extension: @dlfileversion.extension</div>
						<div>MimeType: @dlfileversion.mimeType</div>
						<div>Title: @dlfileversion.title</div>
						<div>Description: @dlfileversion.description</div>
						<div>ChangeLog: @dlfileversion.changeLog</div>
						<div>ExtraSettings: @dlfileversion.extraSettings</div>
						<div>FileEntryTypeId: @dlfileversion.fileEntryTypeId</div>
						<div>Version: @dlfileversion.version</div>
						<div>Size: @dlfileversion.size</div>
						<div>Checksum: @dlfileversion.checksum</div>
						<div>Status: @dlfileversion.status</div>
						<div>StatusByUserId: @dlfileversion.statusByUserId</div>
						<div>StatusByUserName: @dlfileversion.statusByUserName</div>
						<div>StatusDate: @dlfileversion.statusDate</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
