@(dlfileversionFormData: Form[controllers.dlfileversion.DlfileversionFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DlfileversionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(dlfileversionFormData("fileVersionId").value != "0") {
				<h1>Edition of Dlfileversion #@dlfileversionFormData("fileVersionId").value</h1>
				} else {
				<h1>Creation of a Dlfileversion</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(dlfileversionFormData("fileVersionId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.DlfileversionApplication.all()">Back to Dlfileversions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="fileVersionId" name="fileVersionId" value='@dlfileversionFormData("fileVersionId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("modifiedDate"))
				</div>
				<!-- RepositoryId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("repositoryId"))
				</div>
				<!-- FolderId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("folderId"))
				</div>
				<!-- FileEntryId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("fileEntryId"))
				</div>
				<!-- TreePath -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("treePath"))
				</div>
				<!-- FileName -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("fileName"))
				</div>
				<!-- Extension -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("extension"))
				</div>
				<!-- MimeType -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("mimeType"))
				</div>
				<!-- Title -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("title"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("description"))
				</div>
				<!-- ChangeLog -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("changeLog"))
				</div>
				<!-- ExtraSettings -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("extraSettings"))
				</div>
				<!-- FileEntryTypeId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("fileEntryTypeId"))
				</div>
				<!-- Version -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("version"))
				</div>
				<!-- Size -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("size"))
				</div>
				<!-- Checksum -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("checksum"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("status"))
				</div>
				<!-- StatusByUserId -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("statusByUserId"))
				</div>
				<!-- StatusByUserName -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("statusByUserName"))
				</div>
				<!-- StatusDate -->
				<div class="form-group">
				@helper.inputText(dlfileversionFormData("statusDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
