@(dlfileversions: List[models.dlfileversion.Dlfileversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfileversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfileversionApplication.addDlfileversion">Create New Dlfileversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Dlfileversion.
			</p>
		</div>
		<div class="container">
			@for(dlfileversion <- dlfileversions) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DlfileversionApplication.get(dlfileversion.fileVersionId)">@dlfileversion.fileVersionId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @dlfileversion.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @dlfileversion.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @dlfileversion.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @dlfileversion.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @dlfileversion.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @dlfileversion.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @dlfileversion.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						RepositoryId: @dlfileversion.repositoryId
					</li>
					<li class="btn btn-default disabled">
						FolderId: @dlfileversion.folderId
					</li>
					<li class="btn btn-default disabled">
						FileEntryId: @dlfileversion.fileEntryId
					</li>
					<li class="btn btn-default disabled">
						TreePath: @dlfileversion.treePath
					</li>
					<li class="btn btn-default disabled">
						FileName: @dlfileversion.fileName
					</li>
					<li class="btn btn-default disabled">
						Extension: @dlfileversion.extension
					</li>
					<li class="btn btn-default disabled">
						MimeType: @dlfileversion.mimeType
					</li>
					<li class="btn btn-default disabled">
						Title: @dlfileversion.title
					</li>
					<li class="btn btn-default disabled">
						Description: @dlfileversion.description
					</li>
					<li class="btn btn-default disabled">
						ChangeLog: @dlfileversion.changeLog
					</li>
					<li class="btn btn-default disabled">
						ExtraSettings: @dlfileversion.extraSettings
					</li>
					<li class="btn btn-default disabled">
						FileEntryTypeId: @dlfileversion.fileEntryTypeId
					</li>
					<li class="btn btn-default disabled">
						Version: @dlfileversion.version
					</li>
					<li class="btn btn-default disabled">
						Size: @dlfileversion.size
					</li>
					<li class="btn btn-default disabled">
						Checksum: @dlfileversion.checksum
					</li>
					<li class="btn btn-default disabled">
						Status: @dlfileversion.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @dlfileversion.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @dlfileversion.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @dlfileversion.statusDate
					</li>
				</ul>
			}
		</div>
	</div>
}
