@(usertrackers: List[models.usertracker.Usertracker])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Usertracker in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UsertrackerApplication.addUsertracker">Create New Usertracker</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Usertracker.
			</p>
		</div>
		<div class="container">
			@for(usertracker <- usertrackers) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.UsertrackerApplication.get(usertracker.userTrackerId)">@usertracker.userTrackerId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @usertracker.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @usertracker.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @usertracker.userId
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @usertracker.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						SessionId: @usertracker.sessionId
					</li>
					<li class="btn btn-default disabled">
						RemoteAddr: @usertracker.remoteAddr
					</li>
					<li class="btn btn-default disabled">
						RemoteHost: @usertracker.remoteHost
					</li>
					<li class="btn btn-default disabled">
						UserAgent: @usertracker.userAgent
					</li>
				</ul>
			}
		</div>
	</div>
}
