@(usertrackerFormData: Form[controllers.usertracker.UsertrackerFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.UsertrackerApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(usertrackerFormData("userTrackerId").value != "0") {
				<h1>Edition of Usertracker #@usertrackerFormData("userTrackerId").value</h1>
				} else {
				<h1>Creation of a Usertracker</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(usertrackerFormData("userTrackerId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.UsertrackerApplication.all()">Back to Usertrackers</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="userTrackerId" name="userTrackerId" value='@usertrackerFormData("userTrackerId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("mvccVersion"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("userId"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("modifiedDate"))
				</div>
				<!-- SessionId -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("sessionId"))
				</div>
				<!-- RemoteAddr -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("remoteAddr"))
				</div>
				<!-- RemoteHost -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("remoteHost"))
				</div>
				<!-- UserAgent -->
				<div class="form-group">
				@helper.inputText(usertrackerFormData("userAgent"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
