@(assetcategorys: List[models.assetcategory.Assetcategory])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assetcategory in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssetcategoryApplication.addAssetcategory">Create New Assetcategory</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Assetcategory.
			</p>
		</div>
		<div class="container">
			@for(assetcategory <- assetcategorys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.AssetcategoryApplication.get(assetcategory.categoryId)">@assetcategory.categoryId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @assetcategory.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @assetcategory.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @assetcategory.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @assetcategory.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @assetcategory.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @assetcategory.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @assetcategory.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ParentCategoryId: @assetcategory.parentCategoryId
					</li>
					<li class="btn btn-default disabled">
						LeftCategoryId: @assetcategory.leftCategoryId
					</li>
					<li class="btn btn-default disabled">
						RightCategoryId: @assetcategory.rightCategoryId
					</li>
					<li class="btn btn-default disabled">
						Name: @assetcategory.name
					</li>
					<li class="btn btn-default disabled">
						Title: @assetcategory.title
					</li>
					<li class="btn btn-default disabled">
						Description: @assetcategory.description
					</li>
					<li class="btn btn-default disabled">
						VocabularyId: @assetcategory.vocabularyId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
