@(tickets: List[models.ticket.Ticket])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ticket in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.TicketApplication.addTicket">Create New Ticket</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(ticket <- tickets) {
				<li>
					<div>
						<div>ID: <a href="@routes.TicketApplication.get(ticket.ticketId)">@ticket.ticketId</a></div>
						<div>MvccVersion: @ticket.mvccVersion</div>
						<div>CompanyId: @ticket.companyId</div>
						<div>CreateDate: @ticket.createDate</div>
						<div>ClassNameId: @ticket.classNameId</div>
						<div>ClassPK: @ticket.classPK</div>
						<div>Key: @ticket.key</div>
						<div>Customtype: @ticket.customtype</div>
						<div>ExtraInfo: @ticket.extraInfo</div>
						<div>ExpirationDate: @ticket.expirationDate</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
