@(ticketFormData: Form[controllers.ticket.TicketFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Ticket #@ticketFormData("ticketId").value</legend>

		@form(routes.TicketApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(ticketFormData("ticketId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(ticketFormData("mvccVersion"))
			<!-- CompanyId -->
			@helper.inputText(ticketFormData("companyId"))
			<!-- CreateDate -->
			@helper.inputText(ticketFormData("createDate"))
			<!-- ClassNameId -->
			@helper.inputText(ticketFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(ticketFormData("classPK"))
			<!-- Key -->
			@helper.inputText(ticketFormData("key"))
			<!-- Customtype -->
			@helper.inputText(ticketFormData("customtype"))
			<!-- ExtraInfo -->
			@helper.inputText(ticketFormData("extraInfo"))
			<!-- ExpirationDate -->
			@helper.inputText(ticketFormData("expirationDate"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.TicketApplication.all()">Back to Ticket List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
