@(dlfileentrymetadatas: List[models.dlfileentrymetadata.Dlfileentrymetadata])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfileentrymetadata in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfileentrymetadataApplication.addDlfileentrymetadata">Create New Dlfileentrymetadata</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Dlfileentrymetadata.
			</p>
		</div>
		<div class="container">
			@for(dlfileentrymetadata <- dlfileentrymetadatas) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.DlfileentrymetadataApplication.get(dlfileentrymetadata.fileEntryMetadataId)">@dlfileentrymetadata.fileEntryMetadataId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @dlfileentrymetadata.uuid
					</li>
					<li class="btn btn-default disabled">
						DDMStorageId: @dlfileentrymetadata.DDMStorageId
					</li>
					<li class="btn btn-default disabled">
						DDMStructureId: @dlfileentrymetadata.DDMStructureId
					</li>
					<li class="btn btn-default disabled">
						FileEntryTypeId: @dlfileentrymetadata.fileEntryTypeId
					</li>
					<li class="btn btn-default disabled">
						FileEntryId: @dlfileentrymetadata.fileEntryId
					</li>
					<li class="btn btn-default disabled">
						FileVersionId: @dlfileentrymetadata.fileVersionId
					</li>
				</ul>
			}
		</div>
	</div>
}
