@(dlfileentrymetadatas: List[models.dlfileentrymetadata.Dlfileentrymetadata])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlfileentrymetadata in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlfileentrymetadataApplication.addDlfileentrymetadata">Create New Dlfileentrymetadata</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(dlfileentrymetadata <- dlfileentrymetadatas) {
				<li>
					<div>
						<div>ID: <a href="@routes.DlfileentrymetadataApplication.get(dlfileentrymetadata.fileEntryMetadataId)">@dlfileentrymetadata.fileEntryMetadataId</a></div>
						<div>Uuid: @dlfileentrymetadata.uuid</div>
						<div>DDMStorageId: @dlfileentrymetadata.DDMStorageId</div>
						<div>DDMStructureId: @dlfileentrymetadata.DDMStructureId</div>
						<div>FileEntryTypeId: @dlfileentrymetadata.fileEntryTypeId</div>
						<div>FileEntryId: @dlfileentrymetadata.fileEntryId</div>
						<div>FileVersionId: @dlfileentrymetadata.fileVersionId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
