@(assettags: List[models.assettag.Assettag])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assettag in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssettagApplication.addAssettag">Create New Assettag</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Assettag.
			</p>
		</div>
		<div class="container">
			@for(assettag <- assettags) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.AssettagApplication.get(assettag.tagId)">@assettag.tagId</a>
					</li>
					<li class="btn btn-default disabled">
						GroupId: @assettag.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @assettag.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @assettag.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @assettag.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @assettag.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @assettag.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @assettag.name
					</li>
					<li class="btn btn-default disabled">
						AssetCount: @assettag.assetCount
					</li>
				</ul>
			}
		</div>
	</div>
}
