@(assettagFormData: Form[controllers.assettag.AssettagFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Assettag #@assettagFormData("tagId").value</legend>

		@form(routes.AssettagApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(assettagFormData("tagId"), 'readonly -> "readonly")

			<!-- GroupId -->
			@helper.inputText(assettagFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(assettagFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(assettagFormData("userId"))
			<!-- UserName -->
			@helper.inputText(assettagFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(assettagFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(assettagFormData("modifiedDate"))
			<!-- Name -->
			@helper.inputText(assettagFormData("name"))
			<!-- AssetCount -->
			@helper.inputText(assettagFormData("assetCount"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.AssettagApplication.all()">Back to Assettag List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
