@(customgroups: List[models.customgroup.Customgroup])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Customgroup in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.CustomgroupApplication.addCustomgroup">Create New Customgroup</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Customgroup.
			</p>
		</div>
		<div class="container">
			@for(customgroup <- customgroups) {
			<div class="row">
				<a class="btn btn-info" href="@routes.CustomgroupApplication.get(customgroup.groupId)">@customgroup.groupId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @customgroup.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @customgroup.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @customgroup.companyId
					</li>
					<li class="btn btn-default disabled">
						CreatorUserId: @customgroup.creatorUserId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @customgroup.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @customgroup.classPK
					</li>
					<li class="btn btn-default disabled">
						ParentGroupId: @customgroup.parentGroupId
					</li>
					<li class="btn btn-default disabled">
						LiveGroupId: @customgroup.liveGroupId
					</li>
					<li class="btn btn-default disabled">
						TreePath: @customgroup.treePath
					</li>
					<li class="btn btn-default disabled">
						GroupKey: @customgroup.groupKey
					</li>
					<li class="btn btn-default disabled">
						Name: @customgroup.name
					</li>
					<li class="btn btn-default disabled">
						Description: @customgroup.description
					</li>
					<li class="btn btn-default disabled">
						Customtype: @customgroup.customtype
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @customgroup.typeSettings
					</li>
					<li class="btn btn-default disabled">
						ManualMembership: @customgroup.manualMembership
					</li>
					<li class="btn btn-default disabled">
						MembershipRestriction: @customgroup.membershipRestriction
					</li>
					<li class="btn btn-default disabled">
						FriendlyURL: @customgroup.friendlyURL
					</li>
					<li class="btn btn-default disabled">
						Site: @customgroup.site
					</li>
					<li class="btn btn-default disabled">
						RemoteStagingGroupCount: @customgroup.remoteStagingGroupCount
					</li>
					<li class="btn btn-default disabled">
						InheritContent: @customgroup.inheritContent
					</li>
					<li class="btn btn-default disabled">
						Active: @customgroup.active
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
