@(customgroupFormData: Form[controllers.customgroup.CustomgroupFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.CustomgroupApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(customgroupFormData("groupId").value != "0") {
				<h1>Edition of Customgroup #@customgroupFormData("groupId").value</h1>
				} else {
				<h1>Creation of a Customgroup</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(customgroupFormData("groupId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.CustomgroupApplication.all()">Back to Customgroups</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="groupId" name="groupId" value='@customgroupFormData("groupId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("uuid"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("companyId"))
				</div>
				<!-- CreatorUserId -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("creatorUserId"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("classPK"))
				</div>
				<!-- ParentGroupId -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("parentGroupId"))
				</div>
				<!-- LiveGroupId -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("liveGroupId"))
				</div>
				<!-- TreePath -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("treePath"))
				</div>
				<!-- GroupKey -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("groupKey"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("description"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("customtype"))
				</div>
				<!-- TypeSettings -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("typeSettings"))
				</div>
				<!-- ManualMembership -->
				<div class="form-group">
				@helper.checkbox(customgroupFormData("manualMembership"))
				</div>
				<!-- MembershipRestriction -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("membershipRestriction"))
				</div>
				<!-- FriendlyURL -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("friendlyURL"))
				</div>
				<!-- Site -->
				<div class="form-group">
				@helper.checkbox(customgroupFormData("site"))
				</div>
				<!-- RemoteStagingGroupCount -->
				<div class="form-group">
				@helper.inputText(customgroupFormData("remoteStagingGroupCount"))
				</div>
				<!-- InheritContent -->
				<div class="form-group">
				@helper.checkbox(customgroupFormData("inheritContent"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(customgroupFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
