@(teams: List[models.team.Team])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Team in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.TeamApplication.addTeam">Create New Team</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Team.
			</p>
		</div>
		<div class="container">
			@for(team <- teams) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.TeamApplication.get(team.teamId)">@team.teamId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @team.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @team.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @team.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @team.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @team.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @team.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						GroupId: @team.groupId
					</li>
					<li class="btn btn-default disabled">
						Name: @team.name
					</li>
					<li class="btn btn-default disabled">
						Description: @team.description
					</li>
				</ul>
			}
		</div>
	</div>
}
