@(teamFormData: Form[controllers.team.TeamFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.TeamApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(teamFormData("teamId").value != "0") {
				<h1>Edition of Team #@teamFormData("teamId").value</h1>
				} else {
				<h1>Creation of a Team</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(teamFormData("teamId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.TeamApplication.all()">Back to Teams</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="teamId" name="teamId" value='@teamFormData("teamId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(teamFormData("mvccVersion"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(teamFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(teamFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(teamFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(teamFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(teamFormData("modifiedDate"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(teamFormData("groupId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(teamFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(teamFormData("description"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
