@(listtypes: List[models.listtype.Listtype])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Listtype in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ListtypeApplication.addListtype">Create New Listtype</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Listtype.
			</p>
		</div>
		<div class="container">
			@for(listtype <- listtypes) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ListtypeApplication.get(listtype.listTypeId)">@listtype.listTypeId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @listtype.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Name: @listtype.name
					</li>
					<li class="btn btn-default disabled">
						Customtype: @listtype.customtype
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
