@(listtypeFormData: Form[controllers.listtype.ListtypeFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ListtypeApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(listtypeFormData("listTypeId").value != "0") {
				<h1>Edition of Listtype #@listtypeFormData("listTypeId").value</h1>
				} else {
				<h1>Creation of a Listtype</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.ListtypeApplication.all()">Back to Listtypes</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="listTypeId" name="listTypeId" value='@listtypeFormData("listTypeId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(listtypeFormData("mvccVersion"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(listtypeFormData("name"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(listtypeFormData("customtype"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
