@(expandovalues: List[models.expandovalue.Expandovalue])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Expandovalue in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ExpandovalueApplication.addExpandovalue">Create New Expandovalue</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(expandovalue <- expandovalues) {
				<li>
					<div>
						<div>ID: <a href="@routes.ExpandovalueApplication.get(expandovalue.valueId)">@expandovalue.valueId</a></div>
						<div>CompanyId: @expandovalue.companyId</div>
						<div>TableId: @expandovalue.tableId</div>
						<div>ColumnId: @expandovalue.columnId</div>
						<div>RowId: @expandovalue.rowId</div>
						<div>ClassNameId: @expandovalue.classNameId</div>
						<div>ClassPK: @expandovalue.classPK</div>
						<div>Data: @expandovalue.data</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
