@(expandovalues: List[models.expandovalue.Expandovalue])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Expandovalue in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ExpandovalueApplication.addExpandovalue">Create New Expandovalue</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Expandovalue.
			</p>
		</div>
		<div class="container">
			@for(expandovalue <- expandovalues) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ExpandovalueApplication.get(expandovalue.valueId)">@expandovalue.valueId</a>
				<ul>
					<li class="btn btn-default disabled">
						CompanyId: @expandovalue.companyId
					</li>
					<li class="btn btn-default disabled">
						TableId: @expandovalue.tableId
					</li>
					<li class="btn btn-default disabled">
						ColumnId: @expandovalue.columnId
					</li>
					<li class="btn btn-default disabled">
						RowId: @expandovalue.rowId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @expandovalue.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @expandovalue.classPK
					</li>
					<li class="btn btn-default disabled">
						Data: @expandovalue.data
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
