@(expandovalueFormData: Form[controllers.expandovalue.ExpandovalueFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ExpandovalueApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(expandovalueFormData("valueId").value != "0") {
				<h1>Edition of Expandovalue #@expandovalueFormData("valueId").value</h1>
				} else {
				<h1>Creation of a Expandovalue</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(expandovalueFormData("valueId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ExpandovalueApplication.all()">Back to Expandovalues</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="valueId" name="valueId" value='@expandovalueFormData("valueId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("companyId"))
				</div>
				<!-- TableId -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("tableId"))
				</div>
				<!-- ColumnId -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("columnId"))
				</div>
				<!-- RowId -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("rowId"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("classPK"))
				</div>
				<!-- Data -->
				<div class="form-group">
				@helper.inputText(expandovalueFormData("data"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
