@(passwordpolicys: List[models.passwordpolicy.Passwordpolicy])

@main("Welcome to GeneratedCRUD application") {

	<h1>Passwordpolicys in the DB</h1>

	<p>
		<a href="@routes.PasswordpolicyApplication.addPasswordpolicy">Create New Passwordpolicy</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(passwordpolicy <- passwordpolicys) {
		<li>
			<div>
				<div>ID: <a href="@routes.PasswordpolicyApplication.get(passwordpolicy.passwordPolicyId)">@passwordpolicy.passwordPolicyId</a></div>
				<div>MvccVersion: @passwordpolicy.mvccVersion</div>
				<div>Uuid: @passwordpolicy.uuid</div>
				<div>CompanyId: @passwordpolicy.companyId</div>
				<div>UserId: @passwordpolicy.userId</div>
				<div>UserName: @passwordpolicy.userName</div>
				<div>CreateDate: @passwordpolicy.createDate</div>
				<div>ModifiedDate: @passwordpolicy.modifiedDate</div>
				<div>DefaultPolicy: @passwordpolicy.defaultPolicy</div>
				<div>Name: @passwordpolicy.name</div>
				<div>Description: @passwordpolicy.description</div>
				<div>Changeable: @passwordpolicy.changeable</div>
				<div>ChangeRequired: @passwordpolicy.changeRequired</div>
				<div>MinAge: @passwordpolicy.minAge</div>
				<div>CheckSyntax: @passwordpolicy.checkSyntax</div>
				<div>AllowDictionaryWords: @passwordpolicy.allowDictionaryWords</div>
				<div>MinAlphanumeric: @passwordpolicy.minAlphanumeric</div>
				<div>MinLength: @passwordpolicy.minLength</div>
				<div>MinLowerCase: @passwordpolicy.minLowerCase</div>
				<div>MinNumbers: @passwordpolicy.minNumbers</div>
				<div>MinSymbols: @passwordpolicy.minSymbols</div>
				<div>MinUpperCase: @passwordpolicy.minUpperCase</div>
				<div>Regex: @passwordpolicy.regex</div>
				<div>History: @passwordpolicy.history</div>
				<div>HistoryCount: @passwordpolicy.historyCount</div>
				<div>Expireable: @passwordpolicy.expireable</div>
				<div>MaxAge: @passwordpolicy.maxAge</div>
				<div>WarningTime: @passwordpolicy.warningTime</div>
				<div>GraceLimit: @passwordpolicy.graceLimit</div>
				<div>Lockout: @passwordpolicy.lockout</div>
				<div>MaxFailure: @passwordpolicy.maxFailure</div>
				<div>LockoutDuration: @passwordpolicy.lockoutDuration</div>
				<div>RequireUnlock: @passwordpolicy.requireUnlock</div>
				<div>ResetFailureCount: @passwordpolicy.resetFailureCount</div>
				<div>ResetTicketMaxAge: @passwordpolicy.resetTicketMaxAge</div>
			</div>
		</li>
	}
	</ul>

}
