@(passwordpolicys: List[models.passwordpolicy.Passwordpolicy])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Passwordpolicy in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PasswordpolicyApplication.addPasswordpolicy">Create New Passwordpolicy</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Passwordpolicy.
			</p>
		</div>
		<div class="container">
			@for(passwordpolicy <- passwordpolicys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.PasswordpolicyApplication.get(passwordpolicy.passwordPolicyId)">@passwordpolicy.passwordPolicyId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @passwordpolicy.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @passwordpolicy.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @passwordpolicy.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @passwordpolicy.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @passwordpolicy.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @passwordpolicy.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @passwordpolicy.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						DefaultPolicy: @passwordpolicy.defaultPolicy
					</li>
					<li class="btn btn-default disabled">
						Name: @passwordpolicy.name
					</li>
					<li class="btn btn-default disabled">
						Description: @passwordpolicy.description
					</li>
					<li class="btn btn-default disabled">
						Changeable: @passwordpolicy.changeable
					</li>
					<li class="btn btn-default disabled">
						ChangeRequired: @passwordpolicy.changeRequired
					</li>
					<li class="btn btn-default disabled">
						MinAge: @passwordpolicy.minAge
					</li>
					<li class="btn btn-default disabled">
						CheckSyntax: @passwordpolicy.checkSyntax
					</li>
					<li class="btn btn-default disabled">
						AllowDictionaryWords: @passwordpolicy.allowDictionaryWords
					</li>
					<li class="btn btn-default disabled">
						MinAlphanumeric: @passwordpolicy.minAlphanumeric
					</li>
					<li class="btn btn-default disabled">
						MinLength: @passwordpolicy.minLength
					</li>
					<li class="btn btn-default disabled">
						MinLowerCase: @passwordpolicy.minLowerCase
					</li>
					<li class="btn btn-default disabled">
						MinNumbers: @passwordpolicy.minNumbers
					</li>
					<li class="btn btn-default disabled">
						MinSymbols: @passwordpolicy.minSymbols
					</li>
					<li class="btn btn-default disabled">
						MinUpperCase: @passwordpolicy.minUpperCase
					</li>
					<li class="btn btn-default disabled">
						Regex: @passwordpolicy.regex
					</li>
					<li class="btn btn-default disabled">
						History: @passwordpolicy.history
					</li>
					<li class="btn btn-default disabled">
						HistoryCount: @passwordpolicy.historyCount
					</li>
					<li class="btn btn-default disabled">
						Expireable: @passwordpolicy.expireable
					</li>
					<li class="btn btn-default disabled">
						MaxAge: @passwordpolicy.maxAge
					</li>
					<li class="btn btn-default disabled">
						WarningTime: @passwordpolicy.warningTime
					</li>
					<li class="btn btn-default disabled">
						GraceLimit: @passwordpolicy.graceLimit
					</li>
					<li class="btn btn-default disabled">
						Lockout: @passwordpolicy.lockout
					</li>
					<li class="btn btn-default disabled">
						MaxFailure: @passwordpolicy.maxFailure
					</li>
					<li class="btn btn-default disabled">
						LockoutDuration: @passwordpolicy.lockoutDuration
					</li>
					<li class="btn btn-default disabled">
						RequireUnlock: @passwordpolicy.requireUnlock
					</li>
					<li class="btn btn-default disabled">
						ResetFailureCount: @passwordpolicy.resetFailureCount
					</li>
					<li class="btn btn-default disabled">
						ResetTicketMaxAge: @passwordpolicy.resetTicketMaxAge
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
