@(passwordpolicyFormData: Form[controllers.passwordpolicy.PasswordpolicyFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Passwordpolicy #@passwordpolicyFormData("passwordPolicyId").value</legend>

		@form(routes.PasswordpolicyApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(passwordpolicyFormData("passwordPolicyId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(passwordpolicyFormData("mvccVersion"))
			<!-- Uuid -->
			@helper.inputText(passwordpolicyFormData("uuid"))
			<!-- CompanyId -->
			@helper.inputText(passwordpolicyFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(passwordpolicyFormData("userId"))
			<!-- UserName -->
			@helper.inputText(passwordpolicyFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(passwordpolicyFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(passwordpolicyFormData("modifiedDate"))
			<!-- DefaultPolicy -->
			@helper.checkbox(passwordpolicyFormData("defaultPolicy"))
			<!-- Name -->
			@helper.inputText(passwordpolicyFormData("name"))
			<!-- Description -->
			@helper.inputText(passwordpolicyFormData("description"))
			<!-- Changeable -->
			@helper.checkbox(passwordpolicyFormData("changeable"))
			<!-- ChangeRequired -->
			@helper.checkbox(passwordpolicyFormData("changeRequired"))
			<!-- MinAge -->
			@helper.inputText(passwordpolicyFormData("minAge"))
			<!-- CheckSyntax -->
			@helper.checkbox(passwordpolicyFormData("checkSyntax"))
			<!-- AllowDictionaryWords -->
			@helper.checkbox(passwordpolicyFormData("allowDictionaryWords"))
			<!-- MinAlphanumeric -->
			@helper.inputText(passwordpolicyFormData("minAlphanumeric"))
			<!-- MinLength -->
			@helper.inputText(passwordpolicyFormData("minLength"))
			<!-- MinLowerCase -->
			@helper.inputText(passwordpolicyFormData("minLowerCase"))
			<!-- MinNumbers -->
			@helper.inputText(passwordpolicyFormData("minNumbers"))
			<!-- MinSymbols -->
			@helper.inputText(passwordpolicyFormData("minSymbols"))
			<!-- MinUpperCase -->
			@helper.inputText(passwordpolicyFormData("minUpperCase"))
			<!-- Regex -->
			@helper.inputText(passwordpolicyFormData("regex"))
			<!-- History -->
			@helper.checkbox(passwordpolicyFormData("history"))
			<!-- HistoryCount -->
			@helper.inputText(passwordpolicyFormData("historyCount"))
			<!-- Expireable -->
			@helper.checkbox(passwordpolicyFormData("expireable"))
			<!-- MaxAge -->
			@helper.inputText(passwordpolicyFormData("maxAge"))
			<!-- WarningTime -->
			@helper.inputText(passwordpolicyFormData("warningTime"))
			<!-- GraceLimit -->
			@helper.inputText(passwordpolicyFormData("graceLimit"))
			<!-- Lockout -->
			@helper.checkbox(passwordpolicyFormData("lockout"))
			<!-- MaxFailure -->
			@helper.inputText(passwordpolicyFormData("maxFailure"))
			<!-- LockoutDuration -->
			@helper.inputText(passwordpolicyFormData("lockoutDuration"))
			<!-- RequireUnlock -->
			@helper.checkbox(passwordpolicyFormData("requireUnlock"))
			<!-- ResetFailureCount -->
			@helper.inputText(passwordpolicyFormData("resetFailureCount"))
			<!-- ResetTicketMaxAge -->
			@helper.inputText(passwordpolicyFormData("resetTicketMaxAge"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.PasswordpolicyApplication.all()">Back to Passwordpolicy List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
