@(passwordpolicyFormData: Form[controllers.passwordpolicy.PasswordpolicyFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.PasswordpolicyApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(passwordpolicyFormData("passwordPolicyId").value != "0") {
				<h1>Edition of Passwordpolicy #@passwordpolicyFormData("passwordPolicyId").value</h1>
				} else {
				<h1>Creation of a Passwordpolicy</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(passwordpolicyFormData("passwordPolicyId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.PasswordpolicyApplication.all()">Back to Passwordpolicys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="passwordPolicyId" name="passwordPolicyId" value='@passwordpolicyFormData("passwordPolicyId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("uuid"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("modifiedDate"))
				</div>
				<!-- DefaultPolicy -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("defaultPolicy"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("description"))
				</div>
				<!-- Changeable -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("changeable"))
				</div>
				<!-- ChangeRequired -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("changeRequired"))
				</div>
				<!-- MinAge -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minAge"))
				</div>
				<!-- CheckSyntax -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("checkSyntax"))
				</div>
				<!-- AllowDictionaryWords -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("allowDictionaryWords"))
				</div>
				<!-- MinAlphanumeric -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minAlphanumeric"))
				</div>
				<!-- MinLength -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minLength"))
				</div>
				<!-- MinLowerCase -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minLowerCase"))
				</div>
				<!-- MinNumbers -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minNumbers"))
				</div>
				<!-- MinSymbols -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minSymbols"))
				</div>
				<!-- MinUpperCase -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("minUpperCase"))
				</div>
				<!-- Regex -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("regex"))
				</div>
				<!-- History -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("history"))
				</div>
				<!-- HistoryCount -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("historyCount"))
				</div>
				<!-- Expireable -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("expireable"))
				</div>
				<!-- MaxAge -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("maxAge"))
				</div>
				<!-- WarningTime -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("warningTime"))
				</div>
				<!-- GraceLimit -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("graceLimit"))
				</div>
				<!-- Lockout -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("lockout"))
				</div>
				<!-- MaxFailure -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("maxFailure"))
				</div>
				<!-- LockoutDuration -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("lockoutDuration"))
				</div>
				<!-- RequireUnlock -->
				<div class="form-group">
				@helper.checkbox(passwordpolicyFormData("requireUnlock"))
				</div>
				<!-- ResetFailureCount -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("resetFailureCount"))
				</div>
				<!-- ResetTicketMaxAge -->
				<div class="form-group">
				@helper.inputText(passwordpolicyFormData("resetTicketMaxAge"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
