@(organizations: List[models.organization.Organization])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Organization in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.OrganizationApplication.addOrganization">Create New Organization</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Organization.
			</p>
		</div>
		<div class="container">
			@for(organization <- organizations) {
			<div class="row">
				<a class="btn btn-info" href="@routes.OrganizationApplication.get(organization.organizationId)">@organization.organizationId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @organization.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @organization.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @organization.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @organization.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @organization.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @organization.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @organization.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ParentOrganizationId: @organization.parentOrganizationId
					</li>
					<li class="btn btn-default disabled">
						TreePath: @organization.treePath
					</li>
					<li class="btn btn-default disabled">
						Name: @organization.name
					</li>
					<li class="btn btn-default disabled">
						Customtype: @organization.customtype
					</li>
					<li class="btn btn-default disabled">
						Recursable: @organization.recursable
					</li>
					<li class="btn btn-default disabled">
						RegionId: @organization.regionId
					</li>
					<li class="btn btn-default disabled">
						CountryId: @organization.countryId
					</li>
					<li class="btn btn-default disabled">
						StatusId: @organization.statusId
					</li>
					<li class="btn btn-default disabled">
						Comments: @organization.comments
					</li>
					<li class="btn btn-default disabled">
						LogoId: @organization.logoId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
