@(mdrrules: List[models.mdrrule.Mdrrule])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mdrrule in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MdrruleApplication.addMdrrule">Create New Mdrrule</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mdrrule.
			</p>
		</div>
		<div class="container">
			@for(mdrrule <- mdrrules) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.MdrruleApplication.get(mdrrule.ruleId)">@mdrrule.ruleId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @mdrrule.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mdrrule.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mdrrule.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mdrrule.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mdrrule.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mdrrule.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mdrrule.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						RuleGroupId: @mdrrule.ruleGroupId
					</li>
					<li class="btn btn-default disabled">
						Name: @mdrrule.name
					</li>
					<li class="btn btn-default disabled">
						Description: @mdrrule.description
					</li>
					<li class="btn btn-default disabled">
						Customtype: @mdrrule.customtype
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @mdrrule.typeSettings
					</li>
				</ul>
			}
		</div>
	</div>
}
