@(releases: List[models.release.Release])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Release in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ReleaseApplication.addRelease">Create New Release</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Release.
			</p>
		</div>
		<div class="container">
			@for(release <- releases) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ReleaseApplication.get(release.releaseId)">@release.releaseId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @release.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @release.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @release.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ServletContextName: @release.servletContextName
					</li>
					<li class="btn btn-default disabled">
						BuildNumber: @release.buildNumber
					</li>
					<li class="btn btn-default disabled">
						BuildDate: @release.buildDate
					</li>
					<li class="btn btn-default disabled">
						Verified: @release.verified
					</li>
					<li class="btn btn-default disabled">
						State: @release.state
					</li>
					<li class="btn btn-default disabled">
						TestString: @release.testString
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
