@(releaseFormData: Form[controllers.release.ReleaseFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ReleaseApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(releaseFormData("releaseId").value != "0") {
				<h1>Edition of Release #@releaseFormData("releaseId").value</h1>
				} else {
				<h1>Creation of a Release</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(releaseFormData("releaseId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ReleaseApplication.all()">Back to Releases</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="releaseId" name="releaseId" value='@releaseFormData("releaseId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(releaseFormData("mvccVersion"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(releaseFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(releaseFormData("modifiedDate"))
				</div>
				<!-- ServletContextName -->
				<div class="form-group">
				@helper.inputText(releaseFormData("servletContextName"))
				</div>
				<!-- BuildNumber -->
				<div class="form-group">
				@helper.inputText(releaseFormData("buildNumber"))
				</div>
				<!-- BuildDate -->
				<div class="form-group">
				@helper.inputText(releaseFormData("buildDate"))
				</div>
				<!-- Verified -->
				<div class="form-group">
				@helper.checkbox(releaseFormData("verified"))
				</div>
				<!-- State -->
				<div class="form-group">
				@helper.inputText(releaseFormData("state"))
				</div>
				<!-- TestString -->
				<div class="form-group">
				@helper.inputText(releaseFormData("testString"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
