@(shoppingorderFormData: Form[controllers.shoppingorder.ShoppingorderFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ShoppingorderApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(shoppingorderFormData("orderId").value != "0") {
				<h1>Edition of Shoppingorder #@shoppingorderFormData("orderId").value</h1>
				} else {
				<h1>Creation of a Shoppingorder</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(shoppingorderFormData("orderId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ShoppingorderApplication.all()">Back to Shoppingorders</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="orderId" name="orderId" value='@shoppingorderFormData("orderId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("modifiedDate"))
				</div>
				<!-- Number -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("number"))
				</div>
				<!-- Tax -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("tax"))
				</div>
				<!-- Shipping -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shipping"))
				</div>
				<!-- AltShipping -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("altShipping"))
				</div>
				<!-- RequiresShipping -->
				<div class="form-group">
				@helper.checkbox(shoppingorderFormData("requiresShipping"))
				</div>
				<!-- Insure -->
				<div class="form-group">
				@helper.checkbox(shoppingorderFormData("insure"))
				</div>
				<!-- Insurance -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("insurance"))
				</div>
				<!-- CouponCodes -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("couponCodes"))
				</div>
				<!-- CouponDiscount -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("couponDiscount"))
				</div>
				<!-- BillingFirstName -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingFirstName"))
				</div>
				<!-- BillingLastName -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingLastName"))
				</div>
				<!-- BillingEmailAddress -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingEmailAddress"))
				</div>
				<!-- BillingCompany -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingCompany"))
				</div>
				<!-- BillingStreet -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingStreet"))
				</div>
				<!-- BillingCity -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingCity"))
				</div>
				<!-- BillingState -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingState"))
				</div>
				<!-- BillingZip -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingZip"))
				</div>
				<!-- BillingCountry -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingCountry"))
				</div>
				<!-- BillingPhone -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("billingPhone"))
				</div>
				<!-- ShipToBilling -->
				<div class="form-group">
				@helper.checkbox(shoppingorderFormData("shipToBilling"))
				</div>
				<!-- ShippingFirstName -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingFirstName"))
				</div>
				<!-- ShippingLastName -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingLastName"))
				</div>
				<!-- ShippingEmailAddress -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingEmailAddress"))
				</div>
				<!-- ShippingCompany -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingCompany"))
				</div>
				<!-- ShippingStreet -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingStreet"))
				</div>
				<!-- ShippingCity -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingCity"))
				</div>
				<!-- ShippingState -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingState"))
				</div>
				<!-- ShippingZip -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingZip"))
				</div>
				<!-- ShippingCountry -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingCountry"))
				</div>
				<!-- ShippingPhone -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("shippingPhone"))
				</div>
				<!-- CcName -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ccName"))
				</div>
				<!-- CcType -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ccType"))
				</div>
				<!-- CcNumber -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ccNumber"))
				</div>
				<!-- CcExpMonth -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ccExpMonth"))
				</div>
				<!-- CcExpYear -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ccExpYear"))
				</div>
				<!-- CcVerNumber -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ccVerNumber"))
				</div>
				<!-- Comments -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("comments"))
				</div>
				<!-- PpTxnId -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ppTxnId"))
				</div>
				<!-- PpPaymentStatus -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ppPaymentStatus"))
				</div>
				<!-- PpPaymentGross -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ppPaymentGross"))
				</div>
				<!-- PpReceiverEmail -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ppReceiverEmail"))
				</div>
				<!-- PpPayerEmail -->
				<div class="form-group">
				@helper.inputText(shoppingorderFormData("ppPayerEmail"))
				</div>
				<!-- SendOrderEmail -->
				<div class="form-group">
				@helper.checkbox(shoppingorderFormData("sendOrderEmail"))
				</div>
				<!-- SendShippingEmail -->
				<div class="form-group">
				@helper.checkbox(shoppingorderFormData("sendShippingEmail"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
