@(companys: List[models.company.Company])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Company in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.CompanyApplication.addCompany">Create New Company</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Company.
			</p>
		</div>
		<div class="container">
			@for(company <- companys) {
			<div class="row">
				<a class="btn btn-info" href="@routes.CompanyApplication.get(company.companyId)">@company.companyId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @company.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						AccountId: @company.accountId
					</li>
					<li class="btn btn-default disabled">
						WebId: @company.webId
					</li>
					<li class="btn btn-default disabled">
						Key: @company.key
					</li>
					<li class="btn btn-default disabled">
						Mx: @company.mx
					</li>
					<li class="btn btn-default disabled">
						HomeURL: @company.homeURL
					</li>
					<li class="btn btn-default disabled">
						LogoId: @company.logoId
					</li>
					<li class="btn btn-default disabled">
						System: @company.system
					</li>
					<li class="btn btn-default disabled">
						MaxUsers: @company.maxUsers
					</li>
					<li class="btn btn-default disabled">
						Active: @company.active
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
