@(companyFormData: Form[controllers.company.CompanyFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.CompanyApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(companyFormData("companyId").value != "0") {
				<h1>Edition of Company #@companyFormData("companyId").value</h1>
				} else {
				<h1>Creation of a Company</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(companyFormData("companyId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.CompanyApplication.all()">Back to Companys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="companyId" name="companyId" value='@companyFormData("companyId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(companyFormData("mvccVersion"))
				</div>
				<!-- AccountId -->
				<div class="form-group">
				@helper.inputText(companyFormData("accountId"))
				</div>
				<!-- WebId -->
				<div class="form-group">
				@helper.inputText(companyFormData("webId"))
				</div>
				<!-- Key -->
				<div class="form-group">
				@helper.inputText(companyFormData("key"))
				</div>
				<!-- Mx -->
				<div class="form-group">
				@helper.inputText(companyFormData("mx"))
				</div>
				<!-- HomeURL -->
				<div class="form-group">
				@helper.inputText(companyFormData("homeURL"))
				</div>
				<!-- LogoId -->
				<div class="form-group">
				@helper.inputText(companyFormData("logoId"))
				</div>
				<!-- System -->
				<div class="form-group">
				@helper.checkbox(companyFormData("system"))
				</div>
				<!-- MaxUsers -->
				<div class="form-group">
				@helper.inputText(companyFormData("maxUsers"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(companyFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
