@(membershiprequests: List[models.membershiprequest.Membershiprequest])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Membershiprequest in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MembershiprequestApplication.addMembershiprequest">Create New Membershiprequest</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(membershiprequest <- membershiprequests) {
				<li>
					<div>
						<div>ID: <a href="@routes.MembershiprequestApplication.get(membershiprequest.membershipRequestId)">@membershiprequest.membershipRequestId</a></div>
						<div>MvccVersion: @membershiprequest.mvccVersion</div>
						<div>GroupId: @membershiprequest.groupId</div>
						<div>CompanyId: @membershiprequest.companyId</div>
						<div>UserId: @membershiprequest.userId</div>
						<div>CreateDate: @membershiprequest.createDate</div>
						<div>Comments: @membershiprequest.comments</div>
						<div>ReplyComments: @membershiprequest.replyComments</div>
						<div>ReplyDate: @membershiprequest.replyDate</div>
						<div>ReplierUserId: @membershiprequest.replierUserId</div>
						<div>StatusId: @membershiprequest.statusId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
