@(membershiprequestFormData: Form[controllers.membershiprequest.MembershiprequestFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MembershiprequestApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(membershiprequestFormData("membershipRequestId").value != "0") {
				<h1>Edition of Membershiprequest #@membershiprequestFormData("membershipRequestId").value</h1>
				} else {
				<h1>Creation of a Membershiprequest</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(membershiprequestFormData("membershipRequestId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.MembershiprequestApplication.all()">Back to Membershiprequests</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="membershipRequestId" name="membershipRequestId" value='@membershiprequestFormData("membershipRequestId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("mvccVersion"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("userId"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("createDate"))
				</div>
				<!-- Comments -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("comments"))
				</div>
				<!-- ReplyComments -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("replyComments"))
				</div>
				<!-- ReplyDate -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("replyDate"))
				</div>
				<!-- ReplierUserId -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("replierUserId"))
				</div>
				<!-- StatusId -->
				<div class="form-group">
				@helper.inputText(membershiprequestFormData("statusId"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
