@(membershiprequests: List[models.membershiprequest.Membershiprequest])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Membershiprequest in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MembershiprequestApplication.addMembershiprequest">Create New Membershiprequest</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Membershiprequest.
			</p>
		</div>
		<div class="container">
			@for(membershiprequest <- membershiprequests) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.MembershiprequestApplication.get(membershiprequest.membershipRequestId)">@membershiprequest.membershipRequestId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @membershiprequest.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @membershiprequest.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @membershiprequest.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @membershiprequest.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @membershiprequest.createDate
					</li>
					<li class="btn btn-default disabled">
						Comments: @membershiprequest.comments
					</li>
					<li class="btn btn-default disabled">
						ReplyComments: @membershiprequest.replyComments
					</li>
					<li class="btn btn-default disabled">
						ReplyDate: @membershiprequest.replyDate
					</li>
					<li class="btn btn-default disabled">
						ReplierUserId: @membershiprequest.replierUserId
					</li>
					<li class="btn btn-default disabled">
						StatusId: @membershiprequest.statusId
					</li>
				</ul>
			}
		</div>
	</div>
}
