@(lockFormData: Form[controllers.lock.LockFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.LockApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(lockFormData("lockId").value != "0") {
				<h1>Edition of Lock #@lockFormData("lockId").value</h1>
				} else {
				<h1>Creation of a Lock</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.LockApplication.all()">Back to Locks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="lockId" name="lockId" value='@lockFormData("lockId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(lockFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(lockFormData("uuid"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(lockFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(lockFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(lockFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(lockFormData("createDate"))
				</div>
				<!-- ClassName -->
				<div class="form-group">
				@helper.inputText(lockFormData("className"))
				</div>
				<!-- Key -->
				<div class="form-group">
				@helper.inputText(lockFormData("key"))
				</div>
				<!-- Owner -->
				<div class="form-group">
				@helper.inputText(lockFormData("owner"))
				</div>
				<!-- Inheritable -->
				<div class="form-group">
				@helper.checkbox(lockFormData("inheritable"))
				</div>
				<!-- ExpirationDate -->
				<div class="form-group">
				@helper.inputText(lockFormData("expirationDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
