@(locks: List[models.lock.Lock])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Lock in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LockApplication.addLock">Create New Lock</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Lock.
			</p>
		</div>
		<div class="container">
			@for(lock <- locks) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.LockApplication.get(lock.lockId)">@lock.lockId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @lock.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @lock.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @lock.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @lock.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @lock.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @lock.createDate
					</li>
					<li class="btn btn-default disabled">
						ClassName: @lock.className
					</li>
					<li class="btn btn-default disabled">
						Key: @lock.key
					</li>
					<li class="btn btn-default disabled">
						Owner: @lock.owner
					</li>
					<li class="btn btn-default disabled">
						Inheritable: @lock.inheritable
					</li>
					<li class="btn btn-default disabled">
						ExpirationDate: @lock.expirationDate
					</li>
				</ul>
			}
		</div>
	</div>
}
