@(locks: List[models.lock.Lock])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Lock in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LockApplication.addLock">Create New Lock</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(lock <- locks) {
				<li>
					<div>
						<div>ID: <a href="@routes.LockApplication.get(lock.lockId)">@lock.lockId</a></div>
						<div>MvccVersion: @lock.mvccVersion</div>
						<div>Uuid: @lock.uuid</div>
						<div>CompanyId: @lock.companyId</div>
						<div>UserId: @lock.userId</div>
						<div>UserName: @lock.userName</div>
						<div>CreateDate: @lock.createDate</div>
						<div>ClassName: @lock.className</div>
						<div>Key: @lock.key</div>
						<div>Owner: @lock.owner</div>
						<div>Inheritable: @lock.inheritable</div>
						<div>ExpirationDate: @lock.expirationDate</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
