@(mbbans: List[models.mbban.Mbban])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbban in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbbanApplication.addMbban">Create New Mbban</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mbban.
			</p>
		</div>
		<div class="container">
			@for(mbban <- mbbans) {
			<div class="row">
				<a class="btn btn-info" href="@routes.MbbanApplication.get(mbban.banId)">@mbban.banId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @mbban.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbban.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mbban.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbban.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mbban.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mbban.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mbban.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						BanUserId: @mbban.banUserId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
