@(layoutrevisions: List[models.layoutrevision.Layoutrevision])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutrevision in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutrevisionApplication.addLayoutrevision">Create New Layoutrevision</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Layoutrevision.
			</p>
		</div>
		<div class="container">
			@for(layoutrevision <- layoutrevisions) {
			<div class="row">
				<a class="btn btn-info" href="@routes.LayoutrevisionApplication.get(layoutrevision.layoutRevisionId)">@layoutrevision.layoutRevisionId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @layoutrevision.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						GroupId: @layoutrevision.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @layoutrevision.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @layoutrevision.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @layoutrevision.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @layoutrevision.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @layoutrevision.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						LayoutSetBranchId: @layoutrevision.layoutSetBranchId
					</li>
					<li class="btn btn-default disabled">
						LayoutBranchId: @layoutrevision.layoutBranchId
					</li>
					<li class="btn btn-default disabled">
						ParentLayoutRevisionId: @layoutrevision.parentLayoutRevisionId
					</li>
					<li class="btn btn-default disabled">
						Head: @layoutrevision.head
					</li>
					<li class="btn btn-default disabled">
						Major: @layoutrevision.major
					</li>
					<li class="btn btn-default disabled">
						Plid: @layoutrevision.plid
					</li>
					<li class="btn btn-default disabled">
						PrivateLayout: @layoutrevision.privateLayout
					</li>
					<li class="btn btn-default disabled">
						Name: @layoutrevision.name
					</li>
					<li class="btn btn-default disabled">
						Title: @layoutrevision.title
					</li>
					<li class="btn btn-default disabled">
						Description: @layoutrevision.description
					</li>
					<li class="btn btn-default disabled">
						Keywords: @layoutrevision.keywords
					</li>
					<li class="btn btn-default disabled">
						Robots: @layoutrevision.robots
					</li>
					<li class="btn btn-default disabled">
						TypeSettings: @layoutrevision.typeSettings
					</li>
					<li class="btn btn-default disabled">
						IconImageId: @layoutrevision.iconImageId
					</li>
					<li class="btn btn-default disabled">
						ThemeId: @layoutrevision.themeId
					</li>
					<li class="btn btn-default disabled">
						ColorSchemeId: @layoutrevision.colorSchemeId
					</li>
					<li class="btn btn-default disabled">
						WapThemeId: @layoutrevision.wapThemeId
					</li>
					<li class="btn btn-default disabled">
						WapColorSchemeId: @layoutrevision.wapColorSchemeId
					</li>
					<li class="btn btn-default disabled">
						Css: @layoutrevision.css
					</li>
					<li class="btn btn-default disabled">
						Status: @layoutrevision.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @layoutrevision.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @layoutrevision.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @layoutrevision.statusDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
