@(mdrrulegroupFormData: Form[controllers.mdrrulegroup.MdrrulegroupFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MdrrulegroupApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(mdrrulegroupFormData("ruleGroupId").value != "0") {
				<h1>Edition of Mdrrulegroup #@mdrrulegroupFormData("ruleGroupId").value</h1>
				} else {
				<h1>Creation of a Mdrrulegroup</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(mdrrulegroupFormData("ruleGroupId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.MdrrulegroupApplication.all()">Back to Mdrrulegroups</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="ruleGroupId" name="ruleGroupId" value='@mdrrulegroupFormData("ruleGroupId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("modifiedDate"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(mdrrulegroupFormData("description"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
