@(mdrrulegroups: List[models.mdrrulegroup.Mdrrulegroup])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mdrrulegroup in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MdrrulegroupApplication.addMdrrulegroup">Create New Mdrrulegroup</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Mdrrulegroup.
			</p>
		</div>
		<div class="container">
			@for(mdrrulegroup <- mdrrulegroups) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.MdrrulegroupApplication.get(mdrrulegroup.ruleGroupId)">@mdrrulegroup.ruleGroupId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @mdrrulegroup.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mdrrulegroup.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mdrrulegroup.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mdrrulegroup.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mdrrulegroup.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mdrrulegroup.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mdrrulegroup.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @mdrrulegroup.name
					</li>
					<li class="btn btn-default disabled">
						Description: @mdrrulegroup.description
					</li>
				</ul>
			}
		</div>
	</div>
}
