@(socialactivitysets: List[models.socialactivityset.Socialactivityset])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Socialactivityset in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.SocialactivitysetApplication.addSocialactivityset">Create New Socialactivityset</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Socialactivityset.
			</p>
		</div>
		<div class="container">
			@for(socialactivityset <- socialactivitysets) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.SocialactivitysetApplication.get(socialactivityset.activitySetId)">@socialactivityset.activitySetId</a>
					</li>
					<li class="btn btn-default disabled">
						GroupId: @socialactivityset.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @socialactivityset.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @socialactivityset.userId
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @socialactivityset.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @socialactivityset.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @socialactivityset.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @socialactivityset.classPK
					</li>
					<li class="btn btn-default disabled">
						Customtype: @socialactivityset.customtype
					</li>
					<li class="btn btn-default disabled">
						ExtraData: @socialactivityset.extraData
					</li>
					<li class="btn btn-default disabled">
						ActivityCount: @socialactivityset.activityCount
					</li>
				</ul>
			}
		</div>
	</div>
}
