@(socialactivitysetFormData: Form[controllers.socialactivityset.SocialactivitysetFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.SocialactivitysetApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(socialactivitysetFormData("activitySetId").value != "0") {
				<h1>Edition of Socialactivityset #@socialactivitysetFormData("activitySetId").value</h1>
				} else {
				<h1>Creation of a Socialactivityset</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(socialactivitysetFormData("activitySetId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.SocialactivitysetApplication.all()">Back to Socialactivitysets</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="activitySetId" name="activitySetId" value='@socialactivitysetFormData("activitySetId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("userId"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("classPK"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("customtype"))
				</div>
				<!-- ExtraData -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("extraData"))
				</div>
				<!-- ActivityCount -->
				<div class="form-group">
				@helper.inputText(socialactivitysetFormData("activityCount"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
