@(dlsyncevents: List[models.dlsyncevent.Dlsyncevent])

@main("Welcome to GeneratedCRUD application") {

	<h1>Dlsyncevents in the DB</h1>

	<p>
		<a href="@routes.DlsynceventApplication.addDlsyncevent">Create New Dlsyncevent</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(dlsyncevent <- dlsyncevents) {
		<li>
			<div>
				<div>ID: <a href="@routes.DlsynceventApplication.get(dlsyncevent.syncEventId)">@dlsyncevent.syncEventId</a></div>
				<div>ModifiedTime: @dlsyncevent.modifiedTime</div>
				<div>Event: @dlsyncevent.event</div>
				<div>Customtype: @dlsyncevent.customtype</div>
				<div>TypePK: @dlsyncevent.typePK</div>
			</div>
		</li>
	}
	</ul>

}
