@(dlsynceventFormData: Form[controllers.dlsyncevent.DlsynceventFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DlsynceventApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(dlsynceventFormData("syncEventId").value != "0") {
				<h1>Edition of Dlsyncevent #@dlsynceventFormData("syncEventId").value</h1>
				} else {
				<h1>Creation of a Dlsyncevent</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.DlsynceventApplication.all()">Back to Dlsyncevents</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="syncEventId" name="syncEventId" value='@dlsynceventFormData("syncEventId").value' />

				<!-- ModifiedTime -->
				<div class="form-group">
				@helper.inputText(dlsynceventFormData("modifiedTime"))
				</div>
				<!-- Event -->
				<div class="form-group">
				@helper.inputText(dlsynceventFormData("event"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(dlsynceventFormData("customtype"))
				</div>
				<!-- TypePK -->
				<div class="form-group">
				@helper.inputText(dlsynceventFormData("typePK"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
