@(dlsyncevents: List[models.dlsyncevent.Dlsyncevent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Dlsyncevent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DlsynceventApplication.addDlsyncevent">Create New Dlsyncevent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Dlsyncevent.
			</p>
		</div>
		<div class="container">
			@for(dlsyncevent <- dlsyncevents) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DlsynceventApplication.get(dlsyncevent.syncEventId)">@dlsyncevent.syncEventId</a>
				<ul>
					<li class="btn btn-default disabled">
						ModifiedTime: @dlsyncevent.modifiedTime
					</li>
					<li class="btn btn-default disabled">
						Event: @dlsyncevent.event
					</li>
					<li class="btn btn-default disabled">
						Customtype: @dlsyncevent.customtype
					</li>
					<li class="btn btn-default disabled">
						TypePK: @dlsyncevent.typePK
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
