@(accounts: List[models.account.Account])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Account in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AccountApplication.addAccount">Create New Account</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Account.
			</p>
		</div>
		<div class="container">
			@for(account <- accounts) {
			<div class="row">
				<a class="btn btn-info" href="@routes.AccountApplication.get(account.accountId)">@account.accountId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @account.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @account.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @account.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @account.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @account.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @account.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ParentAccountId: @account.parentAccountId
					</li>
					<li class="btn btn-default disabled">
						Name: @account.name
					</li>
					<li class="btn btn-default disabled">
						LegalName: @account.legalName
					</li>
					<li class="btn btn-default disabled">
						LegalId: @account.legalId
					</li>
					<li class="btn btn-default disabled">
						LegalType: @account.legalType
					</li>
					<li class="btn btn-default disabled">
						SicCode: @account.sicCode
					</li>
					<li class="btn btn-default disabled">
						TickerSymbol: @account.tickerSymbol
					</li>
					<li class="btn btn-default disabled">
						Industry: @account.industry
					</li>
					<li class="btn btn-default disabled">
						Customtype: @account.customtype
					</li>
					<li class="btn btn-default disabled">
						Size: @account.size
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
