@(accountFormData: Form[controllers.account.AccountFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AccountApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(accountFormData("accountId").value != "0") {
				<h1>Edition of Account #@accountFormData("accountId").value</h1>
				} else {
				<h1>Creation of a Account</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.AccountApplication.all()">Back to Accounts</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="accountId" name="accountId" value='@accountFormData("accountId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(accountFormData("mvccVersion"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(accountFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(accountFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(accountFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(accountFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(accountFormData("modifiedDate"))
				</div>
				<!-- ParentAccountId -->
				<div class="form-group">
				@helper.inputText(accountFormData("parentAccountId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(accountFormData("name"))
				</div>
				<!-- LegalName -->
				<div class="form-group">
				@helper.inputText(accountFormData("legalName"))
				</div>
				<!-- LegalId -->
				<div class="form-group">
				@helper.inputText(accountFormData("legalId"))
				</div>
				<!-- LegalType -->
				<div class="form-group">
				@helper.inputText(accountFormData("legalType"))
				</div>
				<!-- SicCode -->
				<div class="form-group">
				@helper.inputText(accountFormData("sicCode"))
				</div>
				<!-- TickerSymbol -->
				<div class="form-group">
				@helper.inputText(accountFormData("tickerSymbol"))
				</div>
				<!-- Industry -->
				<div class="form-group">
				@helper.inputText(accountFormData("industry"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(accountFormData("customtype"))
				</div>
				<!-- Size -->
				<div class="form-group">
				@helper.inputText(accountFormData("size"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
