@(contacts: List[models.contact.Contact])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Contact in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ContactApplication.addContact">Create New Contact</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Contact.
			</p>
		</div>
		<div class="container">
			@for(contact <- contacts) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ContactApplication.get(contact.contactId)">@contact.contactId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @contact.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @contact.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @contact.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @contact.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @contact.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @contact.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @contact.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @contact.classPK
					</li>
					<li class="btn btn-default disabled">
						AccountId: @contact.accountId
					</li>
					<li class="btn btn-default disabled">
						ParentContactId: @contact.parentContactId
					</li>
					<li class="btn btn-default disabled">
						EmailAddress: @contact.emailAddress
					</li>
					<li class="btn btn-default disabled">
						FirstName: @contact.firstName
					</li>
					<li class="btn btn-default disabled">
						MiddleName: @contact.middleName
					</li>
					<li class="btn btn-default disabled">
						LastName: @contact.lastName
					</li>
					<li class="btn btn-default disabled">
						PrefixId: @contact.prefixId
					</li>
					<li class="btn btn-default disabled">
						SuffixId: @contact.suffixId
					</li>
					<li class="btn btn-default disabled">
						Male: @contact.male
					</li>
					<li class="btn btn-default disabled">
						Birthday: @contact.birthday
					</li>
					<li class="btn btn-default disabled">
						SmsSn: @contact.smsSn
					</li>
					<li class="btn btn-default disabled">
						AimSn: @contact.aimSn
					</li>
					<li class="btn btn-default disabled">
						FacebookSn: @contact.facebookSn
					</li>
					<li class="btn btn-default disabled">
						IcqSn: @contact.icqSn
					</li>
					<li class="btn btn-default disabled">
						JabberSn: @contact.jabberSn
					</li>
					<li class="btn btn-default disabled">
						MsnSn: @contact.msnSn
					</li>
					<li class="btn btn-default disabled">
						MySpaceSn: @contact.mySpaceSn
					</li>
					<li class="btn btn-default disabled">
						SkypeSn: @contact.skypeSn
					</li>
					<li class="btn btn-default disabled">
						TwitterSn: @contact.twitterSn
					</li>
					<li class="btn btn-default disabled">
						YmSn: @contact.ymSn
					</li>
					<li class="btn btn-default disabled">
						EmployeeStatusId: @contact.employeeStatusId
					</li>
					<li class="btn btn-default disabled">
						EmployeeNumber: @contact.employeeNumber
					</li>
					<li class="btn btn-default disabled">
						JobTitle: @contact.jobTitle
					</li>
					<li class="btn btn-default disabled">
						JobClass: @contact.jobClass
					</li>
					<li class="btn btn-default disabled">
						HoursOfOperation: @contact.hoursOfOperation
					</li>
				</ul>
			}
		</div>
	</div>
}
