@(contactFormData: Form[controllers.contact.ContactFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Contact #@contactFormData("contactId").value</legend>

		@form(routes.ContactApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(contactFormData("contactId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(contactFormData("mvccVersion"))
			<!-- CompanyId -->
			@helper.inputText(contactFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(contactFormData("userId"))
			<!-- UserName -->
			@helper.inputText(contactFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(contactFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(contactFormData("modifiedDate"))
			<!-- ClassNameId -->
			@helper.inputText(contactFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(contactFormData("classPK"))
			<!-- AccountId -->
			@helper.inputText(contactFormData("accountId"))
			<!-- ParentContactId -->
			@helper.inputText(contactFormData("parentContactId"))
			<!-- EmailAddress -->
			@helper.inputText(contactFormData("emailAddress"))
			<!-- FirstName -->
			@helper.inputText(contactFormData("firstName"))
			<!-- MiddleName -->
			@helper.inputText(contactFormData("middleName"))
			<!-- LastName -->
			@helper.inputText(contactFormData("lastName"))
			<!-- PrefixId -->
			@helper.inputText(contactFormData("prefixId"))
			<!-- SuffixId -->
			@helper.inputText(contactFormData("suffixId"))
			<!-- Male -->
			@helper.checkbox(contactFormData("male"))
			<!-- Birthday -->
			@helper.inputText(contactFormData("birthday"))
			<!-- SmsSn -->
			@helper.inputText(contactFormData("smsSn"))
			<!-- AimSn -->
			@helper.inputText(contactFormData("aimSn"))
			<!-- FacebookSn -->
			@helper.inputText(contactFormData("facebookSn"))
			<!-- IcqSn -->
			@helper.inputText(contactFormData("icqSn"))
			<!-- JabberSn -->
			@helper.inputText(contactFormData("jabberSn"))
			<!-- MsnSn -->
			@helper.inputText(contactFormData("msnSn"))
			<!-- MySpaceSn -->
			@helper.inputText(contactFormData("mySpaceSn"))
			<!-- SkypeSn -->
			@helper.inputText(contactFormData("skypeSn"))
			<!-- TwitterSn -->
			@helper.inputText(contactFormData("twitterSn"))
			<!-- YmSn -->
			@helper.inputText(contactFormData("ymSn"))
			<!-- EmployeeStatusId -->
			@helper.inputText(contactFormData("employeeStatusId"))
			<!-- EmployeeNumber -->
			@helper.inputText(contactFormData("employeeNumber"))
			<!-- JobTitle -->
			@helper.inputText(contactFormData("jobTitle"))
			<!-- JobClass -->
			@helper.inputText(contactFormData("jobClass"))
			<!-- HoursOfOperation -->
			@helper.inputText(contactFormData("hoursOfOperation"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ContactApplication.all()">Back to Contact List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
