@(mbmailinglistFormData: Form[controllers.mbmailinglist.MbmailinglistFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Mbmailinglist #@mbmailinglistFormData("mailingListId").value</legend>

		@form(routes.MbmailinglistApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(mbmailinglistFormData("mailingListId"), 'readonly -> "readonly")

			<!-- Uuid -->
			@helper.inputText(mbmailinglistFormData("uuid"))
			<!-- GroupId -->
			@helper.inputText(mbmailinglistFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(mbmailinglistFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(mbmailinglistFormData("userId"))
			<!-- UserName -->
			@helper.inputText(mbmailinglistFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(mbmailinglistFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(mbmailinglistFormData("modifiedDate"))
			<!-- CategoryId -->
			@helper.inputText(mbmailinglistFormData("categoryId"))
			<!-- EmailAddress -->
			@helper.inputText(mbmailinglistFormData("emailAddress"))
			<!-- InProtocol -->
			@helper.inputText(mbmailinglistFormData("inProtocol"))
			<!-- InServerName -->
			@helper.inputText(mbmailinglistFormData("inServerName"))
			<!-- InServerPort -->
			@helper.inputText(mbmailinglistFormData("inServerPort"))
			<!-- InUseSSL -->
			@helper.inputText(mbmailinglistFormData("inUseSSL"))
			<!-- InUserName -->
			@helper.inputText(mbmailinglistFormData("inUserName"))
			<!-- InPassword -->
			@helper.inputText(mbmailinglistFormData("inPassword"))
			<!-- InReadInterval -->
			@helper.inputText(mbmailinglistFormData("inReadInterval"))
			<!-- OutEmailAddress -->
			@helper.inputText(mbmailinglistFormData("outEmailAddress"))
			<!-- OutCustom -->
			@helper.inputText(mbmailinglistFormData("outCustom"))
			<!-- OutServerName -->
			@helper.inputText(mbmailinglistFormData("outServerName"))
			<!-- OutServerPort -->
			@helper.inputText(mbmailinglistFormData("outServerPort"))
			<!-- OutUseSSL -->
			@helper.inputText(mbmailinglistFormData("outUseSSL"))
			<!-- OutUserName -->
			@helper.inputText(mbmailinglistFormData("outUserName"))
			<!-- OutPassword -->
			@helper.inputText(mbmailinglistFormData("outPassword"))
			<!-- AllowAnonymous -->
			@helper.inputText(mbmailinglistFormData("allowAnonymous"))
			<!-- Active -->
			@helper.inputText(mbmailinglistFormData("active"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.MbmailinglistApplication.all()">Back to Mbmailinglist List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
