@(mbmailinglistFormData: Form[controllers.mbmailinglist.MbmailinglistFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MbmailinglistApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(mbmailinglistFormData("mailingListId").value != "0") {
				<h1>Edition of Mbmailinglist #@mbmailinglistFormData("mailingListId").value</h1>
				} else {
				<h1>Creation of a Mbmailinglist</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(mbmailinglistFormData("mailingListId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.MbmailinglistApplication.all()">Back to Mbmailinglists</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="mailingListId" name="mailingListId" value='@mbmailinglistFormData("mailingListId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("modifiedDate"))
				</div>
				<!-- CategoryId -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("categoryId"))
				</div>
				<!-- EmailAddress -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("emailAddress"))
				</div>
				<!-- InProtocol -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("inProtocol"))
				</div>
				<!-- InServerName -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("inServerName"))
				</div>
				<!-- InServerPort -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("inServerPort"))
				</div>
				<!-- InUseSSL -->
				<div class="form-group">
				@helper.checkbox(mbmailinglistFormData("inUseSSL"))
				</div>
				<!-- InUserName -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("inUserName"))
				</div>
				<!-- InPassword -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("inPassword"))
				</div>
				<!-- InReadInterval -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("inReadInterval"))
				</div>
				<!-- OutEmailAddress -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("outEmailAddress"))
				</div>
				<!-- OutCustom -->
				<div class="form-group">
				@helper.checkbox(mbmailinglistFormData("outCustom"))
				</div>
				<!-- OutServerName -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("outServerName"))
				</div>
				<!-- OutServerPort -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("outServerPort"))
				</div>
				<!-- OutUseSSL -->
				<div class="form-group">
				@helper.checkbox(mbmailinglistFormData("outUseSSL"))
				</div>
				<!-- OutUserName -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("outUserName"))
				</div>
				<!-- OutPassword -->
				<div class="form-group">
				@helper.inputText(mbmailinglistFormData("outPassword"))
				</div>
				<!-- AllowAnonymous -->
				<div class="form-group">
				@helper.checkbox(mbmailinglistFormData("allowAnonymous"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(mbmailinglistFormData("active"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
