@(usertrackerpaths: List[models.usertrackerpath.Usertrackerpath])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Usertrackerpath in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UsertrackerpathApplication.addUsertrackerpath">Create New Usertrackerpath</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Usertrackerpath.
			</p>
		</div>
		<div class="container">
			@for(usertrackerpath <- usertrackerpaths) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.UsertrackerpathApplication.get(usertrackerpath.userTrackerPathId)">@usertrackerpath.userTrackerPathId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @usertrackerpath.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						UserTrackerId: @usertrackerpath.userTrackerId
					</li>
					<li class="btn btn-default disabled">
						Path: @usertrackerpath.path
					</li>
					<li class="btn btn-default disabled">
						PathDate: @usertrackerpath.pathDate
					</li>
				</ul>
			}
		</div>
	</div>
}
