@(websiteFormData: Form[controllers.website.WebsiteFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.WebsiteApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(websiteFormData("websiteId") != "0") {
				<h1>Edition of Website #@websiteFormData("websiteId").value</h1>
				} else {
				<h1>Creation of a Website</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.WebsiteApplication.all()">Back to Websites</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="websiteId" name="websiteId" value='@websiteFormData("websiteId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(websiteFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(websiteFormData("uuid"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(websiteFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(websiteFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(websiteFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(websiteFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(websiteFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(websiteFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(websiteFormData("classPK"))
				</div>
				<!-- Url -->
				<div class="form-group">
				@helper.inputText(websiteFormData("url"))
				</div>
				<!-- TypeId -->
				<div class="form-group">
				@helper.inputText(websiteFormData("typeId"))
				</div>
				<!-- Customprimary -->
				<div class="form-group">
				@helper.checkbox(websiteFormData("customprimary"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
