@(mbdiscussions: List[models.mbdiscussion.Mbdiscussion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbdiscussion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbdiscussionApplication.addMbdiscussion">Create New Mbdiscussion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Mbdiscussion.
			</p>
		</div>
		<div class="container">
			@for(mbdiscussion <- mbdiscussions) {
			<div class="row">
				<a class="btn btn-info" href="@routes.MbdiscussionApplication.get(mbdiscussion.discussionId)">@mbdiscussion.discussionId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @mbdiscussion.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbdiscussion.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mbdiscussion.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbdiscussion.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mbdiscussion.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mbdiscussion.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mbdiscussion.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @mbdiscussion.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @mbdiscussion.classPK
					</li>
					<li class="btn btn-default disabled">
						ThreadId: @mbdiscussion.threadId
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
