@(mbdiscussions: List[models.mbdiscussion.Mbdiscussion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbdiscussion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbdiscussionApplication.addMbdiscussion">Create New Mbdiscussion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(mbdiscussion <- mbdiscussions) {
				<li>
					<div>
						<div>ID: <a href="@routes.MbdiscussionApplication.get(mbdiscussion.discussionId)">@mbdiscussion.discussionId</a></div>
						<div>Uuid: @mbdiscussion.uuid</div>
						<div>GroupId: @mbdiscussion.groupId</div>
						<div>CompanyId: @mbdiscussion.companyId</div>
						<div>UserId: @mbdiscussion.userId</div>
						<div>UserName: @mbdiscussion.userName</div>
						<div>CreateDate: @mbdiscussion.createDate</div>
						<div>ModifiedDate: @mbdiscussion.modifiedDate</div>
						<div>ClassNameId: @mbdiscussion.classNameId</div>
						<div>ClassPK: @mbdiscussion.classPK</div>
						<div>ThreadId: @mbdiscussion.threadId</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
