@(mbdiscussionFormData: Form[controllers.mbdiscussion.MbdiscussionFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MbdiscussionApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(mbdiscussionFormData("discussionId").value != "0") {
				<h1>Edition of Mbdiscussion #@mbdiscussionFormData("discussionId").value</h1>
				} else {
				<h1>Creation of a Mbdiscussion</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.MbdiscussionApplication.all()">Back to Mbdiscussions</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="discussionId" name="discussionId" value='@mbdiscussionFormData("discussionId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("classPK"))
				</div>
				<!-- ThreadId -->
				<div class="form-group">
				@helper.inputText(mbdiscussionFormData("threadId"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
