@(dlfileshortcutFormData: Form[controllers.dlfileshortcut.DlfileshortcutFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.DlfileshortcutApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(dlfileshortcutFormData("fileShortcutId").value != "0") {
				<h1>Edition of Dlfileshortcut #@dlfileshortcutFormData("fileShortcutId").value</h1>
				} else {
				<h1>Creation of a Dlfileshortcut</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.DlfileshortcutApplication.all()">Back to Dlfileshortcuts</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="fileShortcutId" name="fileShortcutId" value='@dlfileshortcutFormData("fileShortcutId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("modifiedDate"))
				</div>
				<!-- RepositoryId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("repositoryId"))
				</div>
				<!-- FolderId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("folderId"))
				</div>
				<!-- ToFileEntryId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("toFileEntryId"))
				</div>
				<!-- TreePath -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("treePath"))
				</div>
				<!-- Active -->
				<div class="form-group">
				@helper.checkbox(dlfileshortcutFormData("active"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("status"))
				</div>
				<!-- StatusByUserId -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("statusByUserId"))
				</div>
				<!-- StatusByUserName -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("statusByUserName"))
				</div>
				<!-- StatusDate -->
				<div class="form-group">
				@helper.inputText(dlfileshortcutFormData("statusDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
