@(shoppingitempriceFormData: Form[controllers.shoppingitemprice.ShoppingitempriceFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ShoppingitempriceApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(shoppingitempriceFormData("itemPriceId").value != "0") {
				<h1>Edition of Shoppingitemprice #@shoppingitempriceFormData("itemPriceId").value</h1>
				} else {
				<h1>Creation of a Shoppingitemprice</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(shoppingitempriceFormData("itemPriceId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ShoppingitempriceApplication.all()">Back to Shoppingitemprices</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="itemPriceId" name="itemPriceId" value='@shoppingitempriceFormData("itemPriceId").value' />

				<!-- ItemId -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("itemId"))
				</div>
				<!-- MinQuantity -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("minQuantity"))
				</div>
				<!-- MaxQuantity -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("maxQuantity"))
				</div>
				<!-- Price -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("price"))
				</div>
				<!-- Discount -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("discount"))
				</div>
				<!-- Taxable -->
				<div class="form-group">
				@helper.checkbox(shoppingitempriceFormData("taxable"))
				</div>
				<!-- Shipping -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("shipping"))
				</div>
				<!-- UseShippingFormula -->
				<div class="form-group">
				@helper.checkbox(shoppingitempriceFormData("useShippingFormula"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(shoppingitempriceFormData("status"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
