@(shoppingitemprices: List[models.shoppingitemprice.Shoppingitemprice])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingitemprice in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingitempriceApplication.addShoppingitemprice">Create New Shoppingitemprice</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Shoppingitemprice.
			</p>
		</div>
		<div class="container">
			@for(shoppingitemprice <- shoppingitemprices) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ShoppingitempriceApplication.get(shoppingitemprice.itemPriceId)">@shoppingitemprice.itemPriceId</a>
				<ul>
					<li class="btn btn-default disabled">
						ItemId: @shoppingitemprice.itemId
					</li>
					<li class="btn btn-default disabled">
						MinQuantity: @shoppingitemprice.minQuantity
					</li>
					<li class="btn btn-default disabled">
						MaxQuantity: @shoppingitemprice.maxQuantity
					</li>
					<li class="btn btn-default disabled">
						Price: @shoppingitemprice.price
					</li>
					<li class="btn btn-default disabled">
						Discount: @shoppingitemprice.discount
					</li>
					<li class="btn btn-default disabled">
						Taxable: @shoppingitemprice.taxable
					</li>
					<li class="btn btn-default disabled">
						Shipping: @shoppingitemprice.shipping
					</li>
					<li class="btn btn-default disabled">
						UseShippingFormula: @shoppingitemprice.useShippingFormula
					</li>
					<li class="btn btn-default disabled">
						Status: @shoppingitemprice.status
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
