@(usergroups: List[models.usergroup.Usergroup])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Usergroup in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.UsergroupApplication.addUsergroup">Create New Usergroup</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Usergroup.
			</p>
		</div>
		<div class="container">
			@for(usergroup <- usergroups) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.UsergroupApplication.get(usergroup.userGroupId)">@usergroup.userGroupId</a>
					</li>
					<li class="btn btn-default disabled">
						MvccVersion: @usergroup.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @usergroup.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @usergroup.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @usergroup.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @usergroup.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @usergroup.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @usergroup.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ParentUserGroupId: @usergroup.parentUserGroupId
					</li>
					<li class="btn btn-default disabled">
						Name: @usergroup.name
					</li>
					<li class="btn btn-default disabled">
						Description: @usergroup.description
					</li>
					<li class="btn btn-default disabled">
						AddedByLDAPImport: @usergroup.addedByLDAPImport
					</li>
				</ul>
			}
		</div>
	</div>
}
