@(usergroupFormData: Form[controllers.usergroup.UsergroupFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.UsergroupApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(usergroupFormData("userGroupId").value != "0") {
				<h1>Edition of Usergroup #@usergroupFormData("userGroupId").value</h1>
				} else {
				<h1>Creation of a Usergroup</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(usergroupFormData("userGroupId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.UsergroupApplication.all()">Back to Usergroups</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="userGroupId" name="userGroupId" value='@usergroupFormData("userGroupId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("uuid"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("modifiedDate"))
				</div>
				<!-- ParentUserGroupId -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("parentUserGroupId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(usergroupFormData("description"))
				</div>
				<!-- AddedByLDAPImport -->
				<div class="form-group">
				@helper.checkbox(usergroupFormData("addedByLDAPImport"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
