@(resourcetypepermissionFormData: Form[controllers.resourcetypepermission.ResourcetypepermissionFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Resourcetypepermission #@resourcetypepermissionFormData("resourceTypePermissionId").value</legend>

		@form(routes.ResourcetypepermissionApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(resourcetypepermissionFormData("resourceTypePermissionId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(resourcetypepermissionFormData("mvccVersion"))
			<!-- CompanyId -->
			@helper.inputText(resourcetypepermissionFormData("companyId"))
			<!-- GroupId -->
			@helper.inputText(resourcetypepermissionFormData("groupId"))
			<!-- Name -->
			@helper.inputText(resourcetypepermissionFormData("name"))
			<!-- RoleId -->
			@helper.inputText(resourcetypepermissionFormData("roleId"))
			<!-- ActionIds -->
			@helper.inputText(resourcetypepermissionFormData("actionIds"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ResourcetypepermissionApplication.all()">Back to Resourcetypepermission List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
