@(resourcetypepermissions: List[models.resourcetypepermission.Resourcetypepermission])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Resourcetypepermission in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ResourcetypepermissionApplication.addResourcetypepermission">Create New Resourcetypepermission</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(resourcetypepermission <- resourcetypepermissions) {
				<li>
					<div>
						<div>ID: <a href="@routes.ResourcetypepermissionApplication.get(resourcetypepermission.resourceTypePermissionId)">@resourcetypepermission.resourceTypePermissionId</a></div>
						<div>MvccVersion: @resourcetypepermission.mvccVersion</div>
						<div>CompanyId: @resourcetypepermission.companyId</div>
						<div>GroupId: @resourcetypepermission.groupId</div>
						<div>Name: @resourcetypepermission.name</div>
						<div>RoleId: @resourcetypepermission.roleId</div>
						<div>ActionIds: @resourcetypepermission.actionIds</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
