@(layoutsetprototypes: List[models.layoutsetprototype.Layoutsetprototype])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutsetprototype in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutsetprototypeApplication.addLayoutsetprototype">Create New Layoutsetprototype</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(layoutsetprototype <- layoutsetprototypes) {
				<li>
					<div>
						<div>ID: <a href="@routes.LayoutsetprototypeApplication.get(layoutsetprototype.layoutSetPrototypeId)">@layoutsetprototype.layoutSetPrototypeId</a></div>
						<div>MvccVersion: @layoutsetprototype.mvccVersion</div>
						<div>Uuid: @layoutsetprototype.uuid</div>
						<div>CompanyId: @layoutsetprototype.companyId</div>
						<div>UserId: @layoutsetprototype.userId</div>
						<div>UserName: @layoutsetprototype.userName</div>
						<div>CreateDate: @layoutsetprototype.createDate</div>
						<div>ModifiedDate: @layoutsetprototype.modifiedDate</div>
						<div>Name: @layoutsetprototype.name</div>
						<div>Description: @layoutsetprototype.description</div>
						<div>Settings: @layoutsetprototype.settings</div>
						<div>Active: @layoutsetprototype.active</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
