@(layoutsetprototypes: List[models.layoutsetprototype.Layoutsetprototype])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Layoutsetprototype in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.LayoutsetprototypeApplication.addLayoutsetprototype">Create New Layoutsetprototype</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Layoutsetprototype.
			</p>
		</div>
		<div class="container">
			@for(layoutsetprototype <- layoutsetprototypes) {
			<div class="row">
				<a class="btn btn-info" href="@routes.LayoutsetprototypeApplication.get(layoutsetprototype.layoutSetPrototypeId)">@layoutsetprototype.layoutSetPrototypeId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @layoutsetprototype.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						Uuid: @layoutsetprototype.uuid
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @layoutsetprototype.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @layoutsetprototype.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @layoutsetprototype.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @layoutsetprototype.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @layoutsetprototype.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @layoutsetprototype.name
					</li>
					<li class="btn btn-default disabled">
						Description: @layoutsetprototype.description
					</li>
					<li class="btn btn-default disabled">
						Settings: @layoutsetprototype.settings
					</li>
					<li class="btn btn-default disabled">
						Active: @layoutsetprototype.active
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
