@(message: String)(error: String)

@main(message) {

	<div class="container">
		<div class="jumbotron">
			<h1>@message</h1>
			<p class="lead">Upload an SQL file to generate its models!</p>
		@helper.form(action = routes.Application.uploadSQL, 'enctype -> "multipart/form-data") {
			@if(error != null) {
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					@error
				</div>
			}
			<p>
				<input type="file" name="sqlFile" />
			</p>
			<p>
				<input class="btn btn-lg btn-success" role="button" type="submit" value="Upload" />
			</p>
		}
		</div>
	</div>
}
