@main("Models list") {

	<a href="@routes.Application.index">Exit</a>

	<ul>
			<li>
			Account
			(<a href="@routes.AccountApplication.all">
				Show accounts
			</a>)
		</li>
		<li>
			Address
			(<a href="@routes.AddressApplication.all">
				Show addresss
			</a>)
		</li>
		<li>
			Announcementsdelivery
			(<a href="@routes.AnnouncementsdeliveryApplication.all">
				Show announcementsdeliverys
			</a>)
		</li>
		<li>
			Announcementsentry
			(<a href="@routes.AnnouncementsentryApplication.all">
				Show announcementsentrys
			</a>)
		</li>
		<li>
			Announcementsflag
			(<a href="@routes.AnnouncementsflagApplication.all">
				Show announcementsflags
			</a>)
		</li>
		<li>
			Assetcategory
			(<a href="@routes.AssetcategoryApplication.all">
				Show assetcategorys
			</a>)
		</li>
		<li>
			Assetcategoryproperty
			(<a href="@routes.AssetcategorypropertyApplication.all">
				Show assetcategorypropertys
			</a>)
		</li>
		<li>
			Assetentry
			(<a href="@routes.AssetentryApplication.all">
				Show assetentrys
			</a>)
		</li>
		<li>
			Assetlink
			(<a href="@routes.AssetlinkApplication.all">
				Show assetlinks
			</a>)
		</li>
		<li>
			Assettag
			(<a href="@routes.AssettagApplication.all">
				Show assettags
			</a>)
		</li>
		<li>
			Assettagstats
			(<a href="@routes.AssettagstatsApplication.all">
				Show assettagstatss
			</a>)
		</li>
		<li>
			Assetvocabulary
			(<a href="@routes.AssetvocabularyApplication.all">
				Show assetvocabularys
			</a>)
		</li>
		<li>
			Backgroundtask
			(<a href="@routes.BackgroundtaskApplication.all">
				Show backgroundtasks
			</a>)
		</li>
		<li>
			Blogsentry
			(<a href="@routes.BlogsentryApplication.all">
				Show blogsentrys
			</a>)
		</li>
		<li>
			Blogsstatsuser
			(<a href="@routes.BlogsstatsuserApplication.all">
				Show blogsstatsusers
			</a>)
		</li>
		<li>
			Browsertracker
			(<a href="@routes.BrowsertrackerApplication.all">
				Show browsertrackers
			</a>)
		</li>
		<li>
			Calevent
			(<a href="@routes.CaleventApplication.all">
				Show calevents
			</a>)
		</li>
		<li>
			Classname
			(<a href="@routes.ClassnameApplication.all">
				Show classnames
			</a>)
		</li>
		<li>
			Clustergroup
			(<a href="@routes.ClustergroupApplication.all">
				Show clustergroups
			</a>)
		</li>
		<li>
			Company
			(<a href="@routes.CompanyApplication.all">
				Show companys
			</a>)
		</li>
		<li>
			Contact
			(<a href="@routes.ContactApplication.all">
				Show contacts
			</a>)
		</li>
		<li>
			Country
			(<a href="@routes.CountryApplication.all">
				Show countrys
			</a>)
		</li>
		<li>
			Ddlrecord
			(<a href="@routes.DdlrecordApplication.all">
				Show ddlrecords
			</a>)
		</li>
		<li>
			Ddlrecordset
			(<a href="@routes.DdlrecordsetApplication.all">
				Show ddlrecordsets
			</a>)
		</li>
		<li>
			Ddlrecordversion
			(<a href="@routes.DdlrecordversionApplication.all">
				Show ddlrecordversions
			</a>)
		</li>
		<li>
			Ddmcontent
			(<a href="@routes.DdmcontentApplication.all">
				Show ddmcontents
			</a>)
		</li>
		<li>
			Ddmstoragelink
			(<a href="@routes.DdmstoragelinkApplication.all">
				Show ddmstoragelinks
			</a>)
		</li>
		<li>
			Ddmstructure
			(<a href="@routes.DdmstructureApplication.all">
				Show ddmstructures
			</a>)
		</li>
		<li>
			Ddmstructurelayout
			(<a href="@routes.DdmstructurelayoutApplication.all">
				Show ddmstructurelayouts
			</a>)
		</li>
		<li>
			Ddmstructurelink
			(<a href="@routes.DdmstructurelinkApplication.all">
				Show ddmstructurelinks
			</a>)
		</li>
		<li>
			Ddmstructureversion
			(<a href="@routes.DdmstructureversionApplication.all">
				Show ddmstructureversions
			</a>)
		</li>
		<li>
			Ddmtemplate
			(<a href="@routes.DdmtemplateApplication.all">
				Show ddmtemplates
			</a>)
		</li>
		<li>
			Ddmtemplateversion
			(<a href="@routes.DdmtemplateversionApplication.all">
				Show ddmtemplateversions
			</a>)
		</li>
		<li>
			Dlcontent
			(<a href="@routes.DlcontentApplication.all">
				Show dlcontents
			</a>)
		</li>
		<li>
			Dlfileentry
			(<a href="@routes.DlfileentryApplication.all">
				Show dlfileentrys
			</a>)
		</li>
		<li>
			Dlfileentrymetadata
			(<a href="@routes.DlfileentrymetadataApplication.all">
				Show dlfileentrymetadatas
			</a>)
		</li>
		<li>
			Dlfileentrytype
			(<a href="@routes.DlfileentrytypeApplication.all">
				Show dlfileentrytypes
			</a>)
		</li>
		<li>
			Dlfilerank
			(<a href="@routes.DlfilerankApplication.all">
				Show dlfileranks
			</a>)
		</li>
		<li>
			Dlfileshortcut
			(<a href="@routes.DlfileshortcutApplication.all">
				Show dlfileshortcuts
			</a>)
		</li>
		<li>
			Dlfileversion
			(<a href="@routes.DlfileversionApplication.all">
				Show dlfileversions
			</a>)
		</li>
		<li>
			Dlfolder
			(<a href="@routes.DlfolderApplication.all">
				Show dlfolders
			</a>)
		</li>
		<li>
			Dlsyncevent
			(<a href="@routes.DlsynceventApplication.all">
				Show dlsyncevents
			</a>)
		</li>
		<li>
			Emailaddress
			(<a href="@routes.EmailaddressApplication.all">
				Show emailaddresss
			</a>)
		</li>
		<li>
			Expandocolumn
			(<a href="@routes.ExpandocolumnApplication.all">
				Show expandocolumns
			</a>)
		</li>
		<li>
			Expandorow
			(<a href="@routes.ExpandorowApplication.all">
				Show expandorows
			</a>)
		</li>
		<li>
			Expandotable
			(<a href="@routes.ExpandotableApplication.all">
				Show expandotables
			</a>)
		</li>
		<li>
			Expandovalue
			(<a href="@routes.ExpandovalueApplication.all">
				Show expandovalues
			</a>)
		</li>
		<li>
			Exportimportconfiguration
			(<a href="@routes.ExportimportconfigurationApplication.all">
				Show exportimportconfigurations
			</a>)
		</li>
		<li>
			Customgroup
			(<a href="@routes.CustomgroupApplication.all">
				Show customgroups
			</a>)
		</li>
		<li>
			Image
			(<a href="@routes.ImageApplication.all">
				Show images
			</a>)
		</li>
		<li>
			Journalarticle
			(<a href="@routes.JournalarticleApplication.all">
				Show journalarticles
			</a>)
		</li>
		<li>
			Journalarticleimage
			(<a href="@routes.JournalarticleimageApplication.all">
				Show journalarticleimages
			</a>)
		</li>
		<li>
			Journalarticleresource
			(<a href="@routes.JournalarticleresourceApplication.all">
				Show journalarticleresources
			</a>)
		</li>
		<li>
			Journalcontentsearch
			(<a href="@routes.JournalcontentsearchApplication.all">
				Show journalcontentsearchs
			</a>)
		</li>
		<li>
			Journalfeed
			(<a href="@routes.JournalfeedApplication.all">
				Show journalfeeds
			</a>)
		</li>
		<li>
			Journalfolder
			(<a href="@routes.JournalfolderApplication.all">
				Show journalfolders
			</a>)
		</li>
		<li>
			Layout
			(<a href="@routes.LayoutApplication.all">
				Show layouts
			</a>)
		</li>
		<li>
			Layoutbranch
			(<a href="@routes.LayoutbranchApplication.all">
				Show layoutbranchs
			</a>)
		</li>
		<li>
			Layoutfriendlyurl
			(<a href="@routes.LayoutfriendlyurlApplication.all">
				Show layoutfriendlyurls
			</a>)
		</li>
		<li>
			Layoutprototype
			(<a href="@routes.LayoutprototypeApplication.all">
				Show layoutprototypes
			</a>)
		</li>
		<li>
			Layoutrevision
			(<a href="@routes.LayoutrevisionApplication.all">
				Show layoutrevisions
			</a>)
		</li>
		<li>
			Layoutset
			(<a href="@routes.LayoutsetApplication.all">
				Show layoutsets
			</a>)
		</li>
		<li>
			Layoutsetbranch
			(<a href="@routes.LayoutsetbranchApplication.all">
				Show layoutsetbranchs
			</a>)
		</li>
		<li>
			Layoutsetprototype
			(<a href="@routes.LayoutsetprototypeApplication.all">
				Show layoutsetprototypes
			</a>)
		</li>
		<li>
			Listtype
			(<a href="@routes.ListtypeApplication.all">
				Show listtypes
			</a>)
		</li>
		<li>
			Lock
			(<a href="@routes.LockApplication.all">
				Show locks
			</a>)
		</li>
		<li>
			Mbban
			(<a href="@routes.MbbanApplication.all">
				Show mbbans
			</a>)
		</li>
		<li>
			Mbcategory
			(<a href="@routes.MbcategoryApplication.all">
				Show mbcategorys
			</a>)
		</li>
		<li>
			Mbdiscussion
			(<a href="@routes.MbdiscussionApplication.all">
				Show mbdiscussions
			</a>)
		</li>
		<li>
			Mbmailinglist
			(<a href="@routes.MbmailinglistApplication.all">
				Show mbmailinglists
			</a>)
		</li>
		<li>
			Mbmessage
			(<a href="@routes.MbmessageApplication.all">
				Show mbmessages
			</a>)
		</li>
		<li>
			Mbstatsuser
			(<a href="@routes.MbstatsuserApplication.all">
				Show mbstatsusers
			</a>)
		</li>
		<li>
			Mbthread
			(<a href="@routes.MbthreadApplication.all">
				Show mbthreads
			</a>)
		</li>
		<li>
			Mbthreadflag
			(<a href="@routes.MbthreadflagApplication.all">
				Show mbthreadflags
			</a>)
		</li>
		<li>
			Mdraction
			(<a href="@routes.MdractionApplication.all">
				Show mdractions
			</a>)
		</li>
		<li>
			Mdrrule
			(<a href="@routes.MdrruleApplication.all">
				Show mdrrules
			</a>)
		</li>
		<li>
			Mdrrulegroup
			(<a href="@routes.MdrrulegroupApplication.all">
				Show mdrrulegroups
			</a>)
		</li>
		<li>
			Mdrrulegroupinstance
			(<a href="@routes.MdrrulegroupinstanceApplication.all">
				Show mdrrulegroupinstances
			</a>)
		</li>
		<li>
			Membershiprequest
			(<a href="@routes.MembershiprequestApplication.all">
				Show membershiprequests
			</a>)
		</li>
		<li>
			Organization
			(<a href="@routes.OrganizationApplication.all">
				Show organizations
			</a>)
		</li>
		<li>
			Orglabor
			(<a href="@routes.OrglaborApplication.all">
				Show orglabors
			</a>)
		</li>
		<li>
			Passwordpolicy
			(<a href="@routes.PasswordpolicyApplication.all">
				Show passwordpolicys
			</a>)
		</li>
		<li>
			Passwordpolicyrel
			(<a href="@routes.PasswordpolicyrelApplication.all">
				Show passwordpolicyrels
			</a>)
		</li>
		<li>
			Passwordtracker
			(<a href="@routes.PasswordtrackerApplication.all">
				Show passwordtrackers
			</a>)
		</li>
		<li>
			Phone
			(<a href="@routes.PhoneApplication.all">
				Show phones
			</a>)
		</li>
		<li>
			Pluginsetting
			(<a href="@routes.PluginsettingApplication.all">
				Show pluginsettings
			</a>)
		</li>
		<li>
			Portalpreferences
			(<a href="@routes.PortalpreferencesApplication.all">
				Show portalpreferencess
			</a>)
		</li>
		<li>
			Portlet
			(<a href="@routes.PortletApplication.all">
				Show portlets
			</a>)
		</li>
		<li>
			Portletitem
			(<a href="@routes.PortletitemApplication.all">
				Show portletitems
			</a>)
		</li>
		<li>
			Portletpreferences
			(<a href="@routes.PortletpreferencesApplication.all">
				Show portletpreferencess
			</a>)
		</li>
		<li>
			Ratingsentry
			(<a href="@routes.RatingsentryApplication.all">
				Show ratingsentrys
			</a>)
		</li>
		<li>
			Ratingsstats
			(<a href="@routes.RatingsstatsApplication.all">
				Show ratingsstatss
			</a>)
		</li>
		<li>
			Region
			(<a href="@routes.RegionApplication.all">
				Show regions
			</a>)
		</li>
		<li>
			Release
			(<a href="@routes.ReleaseApplication.all">
				Show releases
			</a>)
		</li>
		<li>
			Repository
			(<a href="@routes.RepositoryApplication.all">
				Show repositorys
			</a>)
		</li>
		<li>
			Repositoryentry
			(<a href="@routes.RepositoryentryApplication.all">
				Show repositoryentrys
			</a>)
		</li>
		<li>
			Resourceaction
			(<a href="@routes.ResourceactionApplication.all">
				Show resourceactions
			</a>)
		</li>
		<li>
			Resourceblock
			(<a href="@routes.ResourceblockApplication.all">
				Show resourceblocks
			</a>)
		</li>
		<li>
			Resourceblockpermission
			(<a href="@routes.ResourceblockpermissionApplication.all">
				Show resourceblockpermissions
			</a>)
		</li>
		<li>
			Resourcepermission
			(<a href="@routes.ResourcepermissionApplication.all">
				Show resourcepermissions
			</a>)
		</li>
		<li>
			Resourcetypepermission
			(<a href="@routes.ResourcetypepermissionApplication.all">
				Show resourcetypepermissions
			</a>)
		</li>
		<li>
			Role
			(<a href="@routes.RoleApplication.all">
				Show roles
			</a>)
		</li>
		<li>
			Scframeworkversion
			(<a href="@routes.ScframeworkversionApplication.all">
				Show scframeworkversions
			</a>)
		</li>
		<li>
			Sclicense
			(<a href="@routes.SclicenseApplication.all">
				Show sclicenses
			</a>)
		</li>
		<li>
			Scproductentry
			(<a href="@routes.ScproductentryApplication.all">
				Show scproductentrys
			</a>)
		</li>
		<li>
			Scproductscreenshot
			(<a href="@routes.ScproductscreenshotApplication.all">
				Show scproductscreenshots
			</a>)
		</li>
		<li>
			Scproductversion
			(<a href="@routes.ScproductversionApplication.all">
				Show scproductversions
			</a>)
		</li>
		<li>
			Servicecomponent
			(<a href="@routes.ServicecomponentApplication.all">
				Show servicecomponents
			</a>)
		</li>
		<li>
			Shard
			(<a href="@routes.ShardApplication.all">
				Show shards
			</a>)
		</li>
		<li>
			Shoppingcart
			(<a href="@routes.ShoppingcartApplication.all">
				Show shoppingcarts
			</a>)
		</li>
		<li>
			Shoppingcategory
			(<a href="@routes.ShoppingcategoryApplication.all">
				Show shoppingcategorys
			</a>)
		</li>
		<li>
			Shoppingcoupon
			(<a href="@routes.ShoppingcouponApplication.all">
				Show shoppingcoupons
			</a>)
		</li>
		<li>
			Shoppingitem
			(<a href="@routes.ShoppingitemApplication.all">
				Show shoppingitems
			</a>)
		</li>
		<li>
			Shoppingitemfield
			(<a href="@routes.ShoppingitemfieldApplication.all">
				Show shoppingitemfields
			</a>)
		</li>
		<li>
			Shoppingitemprice
			(<a href="@routes.ShoppingitempriceApplication.all">
				Show shoppingitemprices
			</a>)
		</li>
		<li>
			Shoppingorder
			(<a href="@routes.ShoppingorderApplication.all">
				Show shoppingorders
			</a>)
		</li>
		<li>
			Shoppingorderitem
			(<a href="@routes.ShoppingorderitemApplication.all">
				Show shoppingorderitems
			</a>)
		</li>
		<li>
			Socialactivity
			(<a href="@routes.SocialactivityApplication.all">
				Show socialactivitys
			</a>)
		</li>
		<li>
			Socialactivityachievement
			(<a href="@routes.SocialactivityachievementApplication.all">
				Show socialactivityachievements
			</a>)
		</li>
		<li>
			Socialactivitycounter
			(<a href="@routes.SocialactivitycounterApplication.all">
				Show socialactivitycounters
			</a>)
		</li>
		<li>
			Socialactivitylimit
			(<a href="@routes.SocialactivitylimitApplication.all">
				Show socialactivitylimits
			</a>)
		</li>
		<li>
			Socialactivityset
			(<a href="@routes.SocialactivitysetApplication.all">
				Show socialactivitysets
			</a>)
		</li>
		<li>
			Socialactivitysetting
			(<a href="@routes.SocialactivitysettingApplication.all">
				Show socialactivitysettings
			</a>)
		</li>
		<li>
			Socialrelation
			(<a href="@routes.SocialrelationApplication.all">
				Show socialrelations
			</a>)
		</li>
		<li>
			Socialrequest
			(<a href="@routes.SocialrequestApplication.all">
				Show socialrequests
			</a>)
		</li>
		<li>
			Subscription
			(<a href="@routes.SubscriptionApplication.all">
				Show subscriptions
			</a>)
		</li>
		<li>
			Systemevent
			(<a href="@routes.SystemeventApplication.all">
				Show systemevents
			</a>)
		</li>
		<li>
			Team
			(<a href="@routes.TeamApplication.all">
				Show teams
			</a>)
		</li>
		<li>
			Ticket
			(<a href="@routes.TicketApplication.all">
				Show tickets
			</a>)
		</li>
		<li>
			Trashentry
			(<a href="@routes.TrashentryApplication.all">
				Show trashentrys
			</a>)
		</li>
		<li>
			Trashversion
			(<a href="@routes.TrashversionApplication.all">
				Show trashversions
			</a>)
		</li>
		<li>
			Usernotificationdelivery
			(<a href="@routes.UsernotificationdeliveryApplication.all">
				Show usernotificationdeliverys
			</a>)
		</li>
		<li>
			User
			(<a href="@routes.UserApplication.all">
				Show users
			</a>)
		</li>
		<li>
			Usergroup
			(<a href="@routes.UsergroupApplication.all">
				Show usergroups
			</a>)
		</li>
		<li>
			Useridmapper
			(<a href="@routes.UseridmapperApplication.all">
				Show useridmappers
			</a>)
		</li>
		<li>
			Usernotificationevent
			(<a href="@routes.UsernotificationeventApplication.all">
				Show usernotificationevents
			</a>)
		</li>
		<li>
			Usertracker
			(<a href="@routes.UsertrackerApplication.all">
				Show usertrackers
			</a>)
		</li>
		<li>
			Usertrackerpath
			(<a href="@routes.UsertrackerpathApplication.all">
				Show usertrackerpaths
			</a>)
		</li>
		<li>
			Virtualhost
			(<a href="@routes.VirtualhostApplication.all">
				Show virtualhosts
			</a>)
		</li>
		<li>
			Webdavprops
			(<a href="@routes.WebdavpropsApplication.all">
				Show webdavpropss
			</a>)
		</li>
		<li>
			Website
			(<a href="@routes.WebsiteApplication.all">
				Show websites
			</a>)
		</li>
		<li>
			Workflowdefinitionlink
			(<a href="@routes.WorkflowdefinitionlinkApplication.all">
				Show workflowdefinitionlinks
			</a>)
		</li>
		<li>
			Workflowinstancelink
			(<a href="@routes.WorkflowinstancelinkApplication.all">
				Show workflowinstancelinks
			</a>)
		</li>
	</ul>
}