@(ddmstructureversions: List[models.ddmstructureversion.Ddmstructureversion])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Ddmstructureversion in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.DdmstructureversionApplication.addDdmstructureversion">Create New Ddmstructureversion</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Ddmstructureversion.
			</p>
		</div>
		<div class="container">
			@for(ddmstructureversion <- ddmstructureversions) {
			<div class="row">
				<a class="btn btn-info" href="@routes.DdmstructureversionApplication.get(ddmstructureversion.structureVersionId)">@ddmstructureversion.structureVersionId</a>
				<ul>
					<li class="btn btn-default disabled">
						GroupId: @ddmstructureversion.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @ddmstructureversion.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @ddmstructureversion.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @ddmstructureversion.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @ddmstructureversion.createDate
					</li>
					<li class="btn btn-default disabled">
						StructureId: @ddmstructureversion.structureId
					</li>
					<li class="btn btn-default disabled">
						Version: @ddmstructureversion.version
					</li>
					<li class="btn btn-default disabled">
						Name: @ddmstructureversion.name
					</li>
					<li class="btn btn-default disabled">
						Description: @ddmstructureversion.description
					</li>
					<li class="btn btn-default disabled">
						Definition: @ddmstructureversion.definition
					</li>
					<li class="btn btn-default disabled">
						StorageType: @ddmstructureversion.storageType
					</li>
					<li class="btn btn-default disabled">
						Customtype: @ddmstructureversion.customtype
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
