@(shoppingcategorys: List[models.shoppingcategory.Shoppingcategory])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingcategory in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingcategoryApplication.addShoppingcategory">Create New Shoppingcategory</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(shoppingcategory <- shoppingcategorys) {
				<li>
					<div>
						<div>ID: <a href="@routes.ShoppingcategoryApplication.get(shoppingcategory.categoryId)">@shoppingcategory.categoryId</a></div>
						<div>GroupId: @shoppingcategory.groupId</div>
						<div>CompanyId: @shoppingcategory.companyId</div>
						<div>UserId: @shoppingcategory.userId</div>
						<div>UserName: @shoppingcategory.userName</div>
						<div>CreateDate: @shoppingcategory.createDate</div>
						<div>ModifiedDate: @shoppingcategory.modifiedDate</div>
						<div>ParentCategoryId: @shoppingcategory.parentCategoryId</div>
						<div>Name: @shoppingcategory.name</div>
						<div>Description: @shoppingcategory.description</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
