@(shoppingcategoryFormData: Form[controllers.shoppingcategory.ShoppingcategoryFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ShoppingcategoryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(shoppingcategoryFormData("categoryId").value != "0") {
				<h1>Edition of Shoppingcategory #@shoppingcategoryFormData("categoryId").value</h1>
				} else {
				<h1>Creation of a Shoppingcategory</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(shoppingcategoryFormData("categoryId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ShoppingcategoryApplication.all()">Back to Shoppingcategorys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="categoryId" name="categoryId" value='@shoppingcategoryFormData("categoryId").value' />

				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("modifiedDate"))
				</div>
				<!-- ParentCategoryId -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("parentCategoryId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(shoppingcategoryFormData("description"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
