@(mbmessageFormData: Form[controllers.mbmessage.MbmessageFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.MbmessageApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(mbmessageFormData("messageId") != "0") {
				<h1>Edition of Mbmessage #@mbmessageFormData("messageId").value</h1>
				} else {
				<h1>Creation of a Mbmessage</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.MbmessageApplication.all()">Back to Mbmessages</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="messageId" name="messageId" value='@mbmessageFormData("messageId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("modifiedDate"))
				</div>
				<!-- ClassNameId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("classNameId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("classPK"))
				</div>
				<!-- CategoryId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("categoryId"))
				</div>
				<!-- ThreadId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("threadId"))
				</div>
				<!-- RootMessageId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("rootMessageId"))
				</div>
				<!-- ParentMessageId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("parentMessageId"))
				</div>
				<!-- Subject -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("subject"))
				</div>
				<!-- Body -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("body"))
				</div>
				<!-- Format -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("format"))
				</div>
				<!-- Anonymous -->
				<div class="form-group">
				@helper.checkbox(mbmessageFormData("anonymous"))
				</div>
				<!-- Priority -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("priority"))
				</div>
				<!-- AllowPingbacks -->
				<div class="form-group">
				@helper.checkbox(mbmessageFormData("allowPingbacks"))
				</div>
				<!-- Answer -->
				<div class="form-group">
				@helper.checkbox(mbmessageFormData("answer"))
				</div>
				<!-- Status -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("status"))
				</div>
				<!-- StatusByUserId -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("statusByUserId"))
				</div>
				<!-- StatusByUserName -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("statusByUserName"))
				</div>
				<!-- StatusDate -->
				<div class="form-group">
				@helper.inputText(mbmessageFormData("statusDate"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
