@(mbmessages: List[models.mbmessage.Mbmessage])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbmessage in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbmessageApplication.addMbmessage">Create New Mbmessage</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(mbmessage <- mbmessages) {
				<li>
					<div>
						<div>ID: <a href="@routes.MbmessageApplication.get(mbmessage.messageId)">@mbmessage.messageId</a></div>
						<div>Uuid: @mbmessage.uuid</div>
						<div>GroupId: @mbmessage.groupId</div>
						<div>CompanyId: @mbmessage.companyId</div>
						<div>UserId: @mbmessage.userId</div>
						<div>UserName: @mbmessage.userName</div>
						<div>CreateDate: @mbmessage.createDate</div>
						<div>ModifiedDate: @mbmessage.modifiedDate</div>
						<div>ClassNameId: @mbmessage.classNameId</div>
						<div>ClassPK: @mbmessage.classPK</div>
						<div>CategoryId: @mbmessage.categoryId</div>
						<div>ThreadId: @mbmessage.threadId</div>
						<div>RootMessageId: @mbmessage.rootMessageId</div>
						<div>ParentMessageId: @mbmessage.parentMessageId</div>
						<div>Subject: @mbmessage.subject</div>
						<div>Body: @mbmessage.body</div>
						<div>Format: @mbmessage.format</div>
						<div>Anonymous: @mbmessage.anonymous</div>
						<div>Priority: @mbmessage.priority</div>
						<div>AllowPingbacks: @mbmessage.allowPingbacks</div>
						<div>Answer: @mbmessage.answer</div>
						<div>Status: @mbmessage.status</div>
						<div>StatusByUserId: @mbmessage.statusByUserId</div>
						<div>StatusByUserName: @mbmessage.statusByUserName</div>
						<div>StatusDate: @mbmessage.statusDate</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
