@(mbmessages: List[models.mbmessage.Mbmessage])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Mbmessage in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.MbmessageApplication.addMbmessage">Create New Mbmessage</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Mbmessage.
			</p>
		</div>
		<div class="container">
			@for(mbmessage <- mbmessages) {
			<div class="row">
				<a class="btn btn-info" href="@routes.MbmessageApplication.get(mbmessage.messageId)">@mbmessage.messageId</a>
				<ul>
					<li class="btn btn-default disabled">
						Uuid: @mbmessage.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @mbmessage.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @mbmessage.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @mbmessage.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @mbmessage.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @mbmessage.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @mbmessage.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @mbmessage.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @mbmessage.classPK
					</li>
					<li class="btn btn-default disabled">
						CategoryId: @mbmessage.categoryId
					</li>
					<li class="btn btn-default disabled">
						ThreadId: @mbmessage.threadId
					</li>
					<li class="btn btn-default disabled">
						RootMessageId: @mbmessage.rootMessageId
					</li>
					<li class="btn btn-default disabled">
						ParentMessageId: @mbmessage.parentMessageId
					</li>
					<li class="btn btn-default disabled">
						Subject: @mbmessage.subject
					</li>
					<li class="btn btn-default disabled">
						Body: @mbmessage.body
					</li>
					<li class="btn btn-default disabled">
						Format: @mbmessage.format
					</li>
					<li class="btn btn-default disabled">
						Anonymous: @mbmessage.anonymous
					</li>
					<li class="btn btn-default disabled">
						Priority: @mbmessage.priority
					</li>
					<li class="btn btn-default disabled">
						AllowPingbacks: @mbmessage.allowPingbacks
					</li>
					<li class="btn btn-default disabled">
						Answer: @mbmessage.answer
					</li>
					<li class="btn btn-default disabled">
						Status: @mbmessage.status
					</li>
					<li class="btn btn-default disabled">
						StatusByUserId: @mbmessage.statusByUserId
					</li>
					<li class="btn btn-default disabled">
						StatusByUserName: @mbmessage.statusByUserName
					</li>
					<li class="btn btn-default disabled">
						StatusDate: @mbmessage.statusDate
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
