@(expandorows: List[models.expandorow.Expandorow])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Expandorow in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ExpandorowApplication.addExpandorow">Create New Expandorow</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Expandorow.
			</p>
		</div>
		<div class="container">
			@for(expandorow <- expandorows) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ExpandorowApplication.get(expandorow.rowId)">@expandorow.rowId</a>
					</div>
					<li class="btn btn-default disabled">
						CompanyId: @expandorow.companyId
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @expandorow.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						TableId: @expandorow.tableId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @expandorow.classPK
					</li>
				</ul>
			}
		</div>
	</div>
}
