@(expandorowFormData: Form[controllers.expandorow.ExpandorowFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ExpandorowApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(expandorowFormData("rowId").value != "0") {
				<h1>Edition of Expandorow #@expandorowFormData("rowId").value</h1>
				} else {
				<h1>Creation of a Expandorow</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(expandorowFormData("rowId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.ExpandorowApplication.all()">Back to Expandorows</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="rowId" name="rowId" value='@expandorowFormData("rowId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(expandorowFormData("companyId"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(expandorowFormData("modifiedDate"))
				</div>
				<!-- TableId -->
				<div class="form-group">
				@helper.inputText(expandorowFormData("tableId"))
				</div>
				<!-- ClassPK -->
				<div class="form-group">
				@helper.inputText(expandorowFormData("classPK"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
