@(journalfeedFormData: Form[controllers.journalfeed.JournalfeedFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.JournalfeedApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(journalfeedFormData("id").value != "0") {
				<h1>Edition of Journalfeed #@journalfeedFormData("id").value</h1>
				} else {
				<h1>Creation of a Journalfeed</h1>
				}
				<p class="lead">
					What do you want to do with it?
					@if(journalfeedFormData("id").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.JournalfeedApplication.all()">Back to Journalfeeds</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="id" name="id" value='@journalfeedFormData("id").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("modifiedDate"))
				</div>
				<!-- FeedId -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("feedId"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("name"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("description"))
				</div>
				<!-- DDMStructureKey -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("DDMStructureKey"))
				</div>
				<!-- DDMTemplateKey -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("DDMTemplateKey"))
				</div>
				<!-- DDMRendererTemplateKey -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("DDMRendererTemplateKey"))
				</div>
				<!-- Delta -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("delta"))
				</div>
				<!-- OrderByCol -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("orderByCol"))
				</div>
				<!-- OrderByType -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("orderByType"))
				</div>
				<!-- TargetLayoutFriendlyUrl -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("targetLayoutFriendlyUrl"))
				</div>
				<!-- TargetPortletId -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("targetPortletId"))
				</div>
				<!-- ContentField -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("contentField"))
				</div>
				<!-- FeedFormat -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("feedFormat"))
				</div>
				<!-- FeedVersion -->
				<div class="form-group">
				@helper.inputText(journalfeedFormData("feedVersion"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
