@(journalfeeds: List[models.journalfeed.Journalfeed])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Journalfeed in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.JournalfeedApplication.addJournalfeed">Create New Journalfeed</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Journalfeed.
			</p>
		</div>
		<div class="container">
			@for(journalfeed <- journalfeeds) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.JournalfeedApplication.get(journalfeed.id)">@journalfeed.id</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @journalfeed.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @journalfeed.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @journalfeed.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @journalfeed.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @journalfeed.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @journalfeed.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @journalfeed.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						FeedId: @journalfeed.feedId
					</li>
					<li class="btn btn-default disabled">
						Name: @journalfeed.name
					</li>
					<li class="btn btn-default disabled">
						Description: @journalfeed.description
					</li>
					<li class="btn btn-default disabled">
						DDMStructureKey: @journalfeed.DDMStructureKey
					</li>
					<li class="btn btn-default disabled">
						DDMTemplateKey: @journalfeed.DDMTemplateKey
					</li>
					<li class="btn btn-default disabled">
						DDMRendererTemplateKey: @journalfeed.DDMRendererTemplateKey
					</li>
					<li class="btn btn-default disabled">
						Delta: @journalfeed.delta
					</li>
					<li class="btn btn-default disabled">
						OrderByCol: @journalfeed.orderByCol
					</li>
					<li class="btn btn-default disabled">
						OrderByType: @journalfeed.orderByType
					</li>
					<li class="btn btn-default disabled">
						TargetLayoutFriendlyUrl: @journalfeed.targetLayoutFriendlyUrl
					</li>
					<li class="btn btn-default disabled">
						TargetPortletId: @journalfeed.targetPortletId
					</li>
					<li class="btn btn-default disabled">
						ContentField: @journalfeed.contentField
					</li>
					<li class="btn btn-default disabled">
						FeedFormat: @journalfeed.feedFormat
					</li>
					<li class="btn btn-default disabled">
						FeedVersion: @journalfeed.feedVersion
					</li>
				</ul>
			}
		</div>
	</div>
}
