@(passwordpolicyrelFormData: Form[controllers.passwordpolicyrel.PasswordpolicyrelFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Passwordpolicyrel #@passwordpolicyrelFormData("passwordPolicyRelId").value</legend>

		@form(routes.PasswordpolicyrelApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(passwordpolicyrelFormData("passwordPolicyRelId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(passwordpolicyrelFormData("mvccVersion"))
			<!-- PasswordPolicyId -->
			@helper.inputText(passwordpolicyrelFormData("passwordPolicyId"))
			<!-- ClassNameId -->
			@helper.inputText(passwordpolicyrelFormData("classNameId"))
			<!-- ClassPK -->
			@helper.inputText(passwordpolicyrelFormData("classPK"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.PasswordpolicyrelApplication.all()">Back to Passwordpolicyrel List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
