@(passwordpolicyrels: List[models.passwordpolicyrel.Passwordpolicyrel])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Passwordpolicyrel in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.PasswordpolicyrelApplication.addPasswordpolicyrel">Create New Passwordpolicyrel</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Passwordpolicyrel.
			</p>
		</div>
		<div class="container">
			@for(passwordpolicyrel <- passwordpolicyrels) {
			<div class="row">
				<a class="btn btn-info" href="@routes.PasswordpolicyrelApplication.get(passwordpolicyrel.passwordPolicyRelId)">@passwordpolicyrel.passwordPolicyRelId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @passwordpolicyrel.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						PasswordPolicyId: @passwordpolicyrel.passwordPolicyId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @passwordpolicyrel.classNameId
					</li>
					<li class="btn btn-default disabled">
						ClassPK: @passwordpolicyrel.classPK
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
