@(passwordpolicyrels: List[models.passwordpolicyrel.Passwordpolicyrel])

@main("Welcome to GeneratedCRUD application") {

	<h1>Passwordpolicyrels in the DB</h1>

	<p>
		<a href="@routes.PasswordpolicyrelApplication.addPasswordpolicyrel">Create New Passwordpolicyrel</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(passwordpolicyrel <- passwordpolicyrels) {
		<li>
			<div>
				<div>ID: <a href="@routes.PasswordpolicyrelApplication.get(passwordpolicyrel.passwordPolicyRelId)">@passwordpolicyrel.passwordPolicyRelId</a></div>
				<div>MvccVersion: @passwordpolicyrel.mvccVersion</div>
				<div>PasswordPolicyId: @passwordpolicyrel.passwordPolicyId</div>
				<div>ClassNameId: @passwordpolicyrel.classNameId</div>
				<div>ClassPK: @passwordpolicyrel.classPK</div>
			</div>
		</li>
	}
	</ul>

}
