@(repositoryentryFormData: Form[controllers.repositoryentry.RepositoryentryFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Repositoryentry #@repositoryentryFormData("repositoryEntryId").value</legend>

		@form(routes.RepositoryentryApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(repositoryentryFormData("repositoryEntryId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(repositoryentryFormData("mvccVersion"))
			<!-- Uuid -->
			@helper.inputText(repositoryentryFormData("uuid"))
			<!-- GroupId -->
			@helper.inputText(repositoryentryFormData("groupId"))
			<!-- CompanyId -->
			@helper.inputText(repositoryentryFormData("companyId"))
			<!-- UserId -->
			@helper.inputText(repositoryentryFormData("userId"))
			<!-- UserName -->
			@helper.inputText(repositoryentryFormData("userName"))
			<!-- CreateDate -->
			@helper.inputText(repositoryentryFormData("createDate"))
			<!-- ModifiedDate -->
			@helper.inputText(repositoryentryFormData("modifiedDate"))
			<!-- RepositoryId -->
			@helper.inputText(repositoryentryFormData("repositoryId"))
			<!-- MappedId -->
			@helper.inputText(repositoryentryFormData("mappedId"))
			<!-- ManualCheckInRequired -->
			@helper.checkbox(repositoryentryFormData("manualCheckInRequired"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.RepositoryentryApplication.all()">Back to Repositoryentry List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
