@(repositoryentrys: List[models.repositoryentry.Repositoryentry])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Repositoryentry in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.RepositoryentryApplication.addRepositoryentry">Create New Repositoryentry</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(repositoryentry <- repositoryentrys) {
				<li>
					<div>
						<div>ID: <a href="@routes.RepositoryentryApplication.get(repositoryentry.repositoryEntryId)">@repositoryentry.repositoryEntryId</a></div>
						<div>MvccVersion: @repositoryentry.mvccVersion</div>
						<div>Uuid: @repositoryentry.uuid</div>
						<div>GroupId: @repositoryentry.groupId</div>
						<div>CompanyId: @repositoryentry.companyId</div>
						<div>UserId: @repositoryentry.userId</div>
						<div>UserName: @repositoryentry.userName</div>
						<div>CreateDate: @repositoryentry.createDate</div>
						<div>ModifiedDate: @repositoryentry.modifiedDate</div>
						<div>RepositoryId: @repositoryentry.repositoryId</div>
						<div>MappedId: @repositoryentry.mappedId</div>
						<div>ManualCheckInRequired: @repositoryentry.manualCheckInRequired</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
