@(repositoryentrys: List[models.repositoryentry.Repositoryentry])

@main("Welcome to GeneratedCRUD application") {

	<h1>Repositoryentrys in the DB</h1>

	<p>
		<a href="@routes.RepositoryentryApplication.addRepositoryentry">Create New Repositoryentry</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(repositoryentry <- repositoryentrys) {
		<li>
			<div>
				<div>ID: <a href="@routes.RepositoryentryApplication.get(repositoryentry.repositoryEntryId)">@repositoryentry.repositoryEntryId</a></div>
				<div>MvccVersion: @repositoryentry.mvccVersion</div>
				<div>Uuid: @repositoryentry.uuid</div>
				<div>GroupId: @repositoryentry.groupId</div>
				<div>CompanyId: @repositoryentry.companyId</div>
				<div>UserId: @repositoryentry.userId</div>
				<div>UserName: @repositoryentry.userName</div>
				<div>CreateDate: @repositoryentry.createDate</div>
				<div>ModifiedDate: @repositoryentry.modifiedDate</div>
				<div>RepositoryId: @repositoryentry.repositoryId</div>
				<div>MappedId: @repositoryentry.mappedId</div>
				<div>ManualCheckInRequired: @repositoryentry.manualCheckInRequired</div>
			</div>
		</li>
	}
	</ul>

}
