@(repositoryentryFormData: Form[controllers.repositoryentry.RepositoryentryFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.RepositoryentryApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(repositoryentryFormData("repositoryEntryId").value != "0") {
				<h1>Edition of Repositoryentry #@repositoryentryFormData("repositoryEntryId").value</h1>
				} else {
				<h1>Creation of a Repositoryentry</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(repositoryentryFormData("repositoryEntryId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.RepositoryentryApplication.all()">Back to Repositoryentrys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="repositoryEntryId" name="repositoryEntryId" value='@repositoryentryFormData("repositoryEntryId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("mvccVersion"))
				</div>
				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("modifiedDate"))
				</div>
				<!-- RepositoryId -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("repositoryId"))
				</div>
				<!-- MappedId -->
				<div class="form-group">
				@helper.inputText(repositoryentryFormData("mappedId"))
				</div>
				<!-- ManualCheckInRequired -->
				<div class="form-group">
				@helper.checkbox(repositoryentryFormData("manualCheckInRequired"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
