@(expandotables: List[models.expandotable.Expandotable])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Expandotable in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ExpandotableApplication.addExpandotable">Create New Expandotable</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Expandotable.
			</p>
		</div>
		<div class="container">
			@for(expandotable <- expandotables) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.ExpandotableApplication.get(expandotable.tableId)">@expandotable.tableId</a>
					</div>
					<li class="btn btn-default disabled">
						CompanyId: @expandotable.companyId
					</li>
					<li class="btn btn-default disabled">
						ClassNameId: @expandotable.classNameId
					</li>
					<li class="btn btn-default disabled">
						Name: @expandotable.name
					</li>
				</ul>
			}
		</div>
	</div>
}
