@(shoppingitemfields: List[models.shoppingitemfield.Shoppingitemfield])

@main("Welcome to GeneratedCRUD application") {

	<h1>Shoppingitemfields in the DB</h1>

	<p>
		<a href="@routes.ShoppingitemfieldApplication.addShoppingitemfield">Create New Shoppingitemfield</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(shoppingitemfield <- shoppingitemfields) {
		<li>
			<div>
				<div>ID: <a href="@routes.ShoppingitemfieldApplication.get(shoppingitemfield.itemFieldId)">@shoppingitemfield.itemFieldId</a></div>
				<div>ItemId: @shoppingitemfield.itemId</div>
				<div>Name: @shoppingitemfield.name</div>
				<div>Values: @shoppingitemfield.values</div>
				<div>Description: @shoppingitemfield.description</div>
			</div>
		</li>
	}
	</ul>

}
