@(shoppingitemfieldFormData: Form[controllers.shoppingitemfield.ShoppingitemfieldFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Shoppingitemfield #@shoppingitemfieldFormData("itemFieldId").value</legend>

		@form(routes.ShoppingitemfieldApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(shoppingitemfieldFormData("itemFieldId"), 'readonly -> "readonly")

			<!-- ItemId -->
			@helper.inputText(shoppingitemfieldFormData("itemId"))
			<!-- Name -->
			@helper.inputText(shoppingitemfieldFormData("name"))
			<!-- Values -->
			@helper.inputText(shoppingitemfieldFormData("values"))
			<!-- Description -->
			@helper.inputText(shoppingitemfieldFormData("description"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.ShoppingitemfieldApplication.all()">Back to Shoppingitemfield List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
