@(shoppingitemfields: List[models.shoppingitemfield.Shoppingitemfield])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Shoppingitemfield in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ShoppingitemfieldApplication.addShoppingitemfield">Create New Shoppingitemfield</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">button</a> to view selected Shoppingitemfield.
			</p>
		</div>
		<div class="container">
			@for(shoppingitemfield <- shoppingitemfields) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ShoppingitemfieldApplication.get(shoppingitemfield.itemFieldId)">@shoppingitemfield.itemFieldId</a>
				<ul>
					<li class="btn btn-default disabled">
						ItemId: @shoppingitemfield.itemId
					</li>
					<li class="btn btn-default disabled">
						Name: @shoppingitemfield.name
					</li>
					<li class="btn btn-default disabled">
						Values: @shoppingitemfield.values
					</li>
					<li class="btn btn-default disabled">
						Description: @shoppingitemfield.description
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
