@(servicecomponents: List[models.servicecomponent.Servicecomponent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Servicecomponent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ServicecomponentApplication.addServicecomponent">Create New Servicecomponent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Servicecomponent.
			</p>
		</div>
		<div class="container">
			@for(servicecomponent <- servicecomponents) {
			<div class="row">
				<a class="btn btn-info" href="@routes.ServicecomponentApplication.get(servicecomponent.serviceComponentId)">@servicecomponent.serviceComponentId</a>
				<ul>
					<li class="btn btn-default disabled">
						MvccVersion: @servicecomponent.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						BuildNamespace: @servicecomponent.buildNamespace
					</li>
					<li class="btn btn-default disabled">
						BuildNumber: @servicecomponent.buildNumber
					</li>
					<li class="btn btn-default disabled">
						BuildDate: @servicecomponent.buildDate
					</li>
					<li class="btn btn-default disabled">
						Data: @servicecomponent.data
					</li>
				</ul>
			</div>
			}
		</div>
	</div>
}
