@(servicecomponents: List[models.servicecomponent.Servicecomponent])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Servicecomponent in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.ServicecomponentApplication.addServicecomponent">Create New Servicecomponent</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(servicecomponent <- servicecomponents) {
				<li>
					<div>
						<div>ID: <a href="@routes.ServicecomponentApplication.get(servicecomponent.serviceComponentId)">@servicecomponent.serviceComponentId</a></div>
						<div>MvccVersion: @servicecomponent.mvccVersion</div>
						<div>BuildNamespace: @servicecomponent.buildNamespace</div>
						<div>BuildNumber: @servicecomponent.buildNumber</div>
						<div>BuildDate: @servicecomponent.buildDate</div>
						<div>Data: @servicecomponent.data</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
