@(servicecomponentFormData: Form[controllers.servicecomponent.ServicecomponentFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.ServicecomponentApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(servicecomponentFormData("serviceComponentId") != "0") {
				<h1>Edition of Servicecomponent #@servicecomponentFormData("serviceComponentId").value</h1>
				} else {
				<h1>Creation of a Servicecomponent</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.ServicecomponentApplication.all()">Back to Servicecomponents</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="serviceComponentId" name="serviceComponentId" value='@servicecomponentFormData("serviceComponentId").value' />

				<!-- MvccVersion -->
				<div class="form-group">
				@helper.inputText(servicecomponentFormData("mvccVersion"))
				</div>
				<!-- BuildNamespace -->
				<div class="form-group">
				@helper.inputText(servicecomponentFormData("buildNamespace"))
				</div>
				<!-- BuildNumber -->
				<div class="form-group">
				@helper.inputText(servicecomponentFormData("buildNumber"))
				</div>
				<!-- BuildDate -->
				<div class="form-group">
				@helper.inputText(servicecomponentFormData("buildDate"))
				</div>
				<!-- Data -->
				<div class="form-group">
				@helper.inputText(servicecomponentFormData("data"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
