@(assetlinks: List[models.assetlink.Assetlink])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assetlink in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssetlinkApplication.addAssetlink">Create New Assetlink</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Assetlink.
			</p>
		</div>
		<div class="container">
			@for(assetlink <- assetlinks) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.AssetlinkApplication.get(assetlink.linkId)">@assetlink.linkId</a>
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @assetlink.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @assetlink.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @assetlink.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @assetlink.createDate
					</li>
					<li class="btn btn-default disabled">
						EntryId1: @assetlink.entryId1
					</li>
					<li class="btn btn-default disabled">
						EntryId2: @assetlink.entryId2
					</li>
					<li class="btn btn-default disabled">
						Customtype: @assetlink.customtype
					</li>
					<li class="btn btn-default disabled">
						Weight: @assetlink.weight
					</li>
				</ul>
			}
		</div>
	</div>
}
