@(assetlinkFormData: Form[controllers.assetlink.AssetlinkFormData])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AssetlinkApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(assetlinkFormData("linkId").value != "0") {
				<h1>Edition of Assetlink #@assetlinkFormData("linkId").value</h1>
				} else {
				<h1>Creation of a Assetlink</h1>
				}
				<p class="lead">
					What do you want to do with them?
					@if(assetlinkFormData("linkId").value != "0") {
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					}
					<a class="btn btn-warning" href="@routes.AssetlinkApplication.all()">Back to Assetlinks</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="linkId" name="linkId" value='@assetlinkFormData("linkId").value' />

				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("createDate"))
				</div>
				<!-- EntryId1 -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("entryId1"))
				</div>
				<!-- EntryId2 -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("entryId2"))
				</div>
				<!-- Customtype -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("customtype"))
				</div>
				<!-- Weight -->
				<div class="form-group">
				@helper.inputText(assetlinkFormData("weight"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
