@(virtualhosts: List[models.virtualhost.Virtualhost])

@main("Welcome to GeneratedCRUD application") {

	<h1>Virtualhosts in the DB</h1>

	<p>
		<a href="@routes.VirtualhostApplication.addVirtualhost">Create New Virtualhost</a>
		<a href="@routes.Application.models">Back to Models</a>
	</p>

	<ul>
	@for(virtualhost <- virtualhosts) {
		<li>
			<div>
				<div>ID: <a href="@routes.VirtualhostApplication.get(virtualhost.virtualHostId)">@virtualhost.virtualHostId</a></div>
				<div>MvccVersion: @virtualhost.mvccVersion</div>
				<div>CompanyId: @virtualhost.companyId</div>
				<div>LayoutSetId: @virtualhost.layoutSetId</div>
				<div>Hostname: @virtualhost.hostname</div>
			</div>
		</li>
	}
	</ul>

}
