@(virtualhostFormData: Form[controllers.virtualhost.VirtualhostFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<fieldset>
		<legend>Edition of Virtualhost #@virtualhostFormData("virtualHostId").value</legend>

		@form(routes.VirtualhostApplication.submit(), 'class -> "form-horizontal") {
			@helper.inputText(virtualhostFormData("virtualHostId"), 'readonly -> "readonly")

			<!-- MvccVersion -->
			@helper.inputText(virtualhostFormData("mvccVersion"))
			<!-- CompanyId -->
			@helper.inputText(virtualhostFormData("companyId"))
			<!-- LayoutSetId -->
			@helper.inputText(virtualhostFormData("layoutSetId"))
			<!-- Hostname -->
			@helper.inputText(virtualhostFormData("hostname"))

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="@routes.VirtualhostApplication.all()">Back to Virtualhost List</a>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="edit">Submit</button>
					<button id="submit" name="submit" type="submit" class="btn btn-primary" value="delete">Delete</button>
				</div>
			</div>
		}
	</fieldset>

}
