@(virtualhosts: List[models.virtualhost.Virtualhost])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Virtualhost in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.VirtualhostApplication.addVirtualhost">Create New Virtualhost</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Virtualhost.
			</p>
		</div>
		<div class="container">
			@for(virtualhost <- virtualhosts) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.VirtualhostApplication.get(virtualhost.virtualHostId)">@virtualhost.virtualHostId</a>
					</div>
					<li class="btn btn-default disabled">
						MvccVersion: @virtualhost.mvccVersion
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @virtualhost.companyId
					</li>
					<li class="btn btn-default disabled">
						LayoutSetId: @virtualhost.layoutSetId
					</li>
					<li class="btn btn-default disabled">
						Hostname: @virtualhost.hostname
					</li>
				</ul>
			}
		</div>
	</div>
}
