@(assetvocabularys: List[models.assetvocabulary.Assetvocabulary])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assetvocabulary in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssetvocabularyApplication.addAssetvocabulary">Create New Assetvocabulary</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
		</div>
		<div class="container">
			<ul>
			@for(assetvocabulary <- assetvocabularys) {
				<li>
					<div>
						<div>ID: <a href="@routes.AssetvocabularyApplication.get(assetvocabulary.vocabularyId)">@assetvocabulary.vocabularyId</a></div>
						<div>Uuid: @assetvocabulary.uuid</div>
						<div>GroupId: @assetvocabulary.groupId</div>
						<div>CompanyId: @assetvocabulary.companyId</div>
						<div>UserId: @assetvocabulary.userId</div>
						<div>UserName: @assetvocabulary.userName</div>
						<div>CreateDate: @assetvocabulary.createDate</div>
						<div>ModifiedDate: @assetvocabulary.modifiedDate</div>
						<div>Name: @assetvocabulary.name</div>
						<div>Title: @assetvocabulary.title</div>
						<div>Description: @assetvocabulary.description</div>
						<div>Settings: @assetvocabulary.settings</div>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}
