@(assetvocabularyFormData: Form[controllers.assetvocabulary.AssetvocabularyFormData])

@import helper._

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		@form(routes.AssetvocabularyApplication.submit(), 'class -> "form-horizontal") {
			<div class="jumbotron">
				@if(assetvocabularyFormData("vocabularyId").value != "0") {
				<h1>Edition of Assetvocabulary #@assetvocabularyFormData("vocabularyId").value</h1>
				} else {
				<h1>Creation of a Assetvocabulary</h1>
				}
				<p class="lead">
					What do you want to do with them?
					<button id="submit" name="submit" type="submit" class="btn btn-danger" value="delete">Delete</button>
					<a class="btn btn-warning" href="@routes.AssetvocabularyApplication.all()">Back to Assetvocabularys</a>
				</p>
			</div>
			<div class="container">
				<input type="hidden" id="vocabularyId" name="vocabularyId" value='@assetvocabularyFormData("vocabularyId").value' />

				<!-- Uuid -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("uuid"))
				</div>
				<!-- GroupId -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("groupId"))
				</div>
				<!-- CompanyId -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("companyId"))
				</div>
				<!-- UserId -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("userId"))
				</div>
				<!-- UserName -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("userName"))
				</div>
				<!-- CreateDate -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("createDate"))
				</div>
				<!-- ModifiedDate -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("modifiedDate"))
				</div>
				<!-- Name -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("name"))
				</div>
				<!-- Title -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("title"))
				</div>
				<!-- Description -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("description"))
				</div>
				<!-- Settings -->
				<div class="form-group">
				@helper.inputText(assetvocabularyFormData("settings"))
				</div>

				<button id="submit" name="submit" type="submit" class="btn btn-success" value="edit">Submit</button>
			</div>
		}
	</div>
}
