@(assetvocabularys: List[models.assetvocabulary.Assetvocabulary])

@main("Welcome to GeneratedCRUD application") {

	<div class="container">
		<div class="jumbotron">
			<h1>Assetvocabulary in the DB</h1>
			<p class="lead">
				What do you want to do with them?
				<a class="btn btn-success" href="@routes.AssetvocabularyApplication.addAssetvocabulary">Create New Assetvocabulary</a>
				<a class="btn btn-warning" href="@routes.Application.models">Back to Models</a>
			</p>
			<p>
				Or click the <a class="btn btn-info" href="#">Blue</a> button to view selected Assetvocabulary.
			</p>
		</div>
		<div class="container">
			@for(assetvocabulary <- assetvocabularys) {
				<ul>
					<li class="btn btn-info">
						ID: <a href="@routes.AssetvocabularyApplication.get(assetvocabulary.vocabularyId)">@assetvocabulary.vocabularyId</a>
					</li>
					<li class="btn btn-default disabled">
						Uuid: @assetvocabulary.uuid
					</li>
					<li class="btn btn-default disabled">
						GroupId: @assetvocabulary.groupId
					</li>
					<li class="btn btn-default disabled">
						CompanyId: @assetvocabulary.companyId
					</li>
					<li class="btn btn-default disabled">
						UserId: @assetvocabulary.userId
					</li>
					<li class="btn btn-default disabled">
						UserName: @assetvocabulary.userName
					</li>
					<li class="btn btn-default disabled">
						CreateDate: @assetvocabulary.createDate
					</li>
					<li class="btn btn-default disabled">
						ModifiedDate: @assetvocabulary.modifiedDate
					</li>
					<li class="btn btn-default disabled">
						Name: @assetvocabulary.name
					</li>
					<li class="btn btn-default disabled">
						Title: @assetvocabulary.title
					</li>
					<li class="btn btn-default disabled">
						Description: @assetvocabulary.description
					</li>
					<li class="btn btn-default disabled">
						Settings: @assetvocabulary.settings
					</li>
				</ul>
			}
		</div>
	</div>
}
